// Headroom
//
// **Ordinary:**
//
// + 'is-stick'              Headroom sticked.
//
// Markup:
// <div class="headroom {$modifiers}">
//   <div class="row row--center">
//     <section class="col col--1of3">
//       <div class="headroom-item">
//         <span class="oi headroom-icon" data-glyph="eye"></span>
//         <span class="headroom-text">查看</span>
//       </div>
//     </section>
//     <section class="col col--1of3">
//       <div class="headroom-item">
//         <span class="oi headroom-icon" data-glyph="data-transfer-download"></span>
//         <span class="headroom-text">下载</span>
//       </div>
//     </section>
//     <section class="col col--1of3">
//       <div class="headroom-item">
//         <span class="oi headroom-icon" data-glyph="comment-square"></span>
//         <span class="headroom-text">评论</span>
//       </div>
//     </section>
//   </div>
// </div>
//
// Styleguide 8.5
.headroom
  @extend $LIST
  
  padding-top $gap-vertical
  padding-bottom $gap-vertical

  &.is-sticked
    background-color $translucent-white

    .headroom-text
      display none

.headroom-item
  @extend $LIST-ITEM

  display block
  text-align center

.headroom-icon
  vertical-align middle