// Basis UI
//
// **Global Modifiers:**
//
// + `basis`          Basis UI with all state style.
// + `basis-static`   Basis UI without state style.
//
//
// **Motion Modifiers:**
//
// + `is-active`
// + `is-disabled`
//
// Markup:
// <button class="btn basis">按钮</button>
//
// Styleguide 3.1.1
.basis
  $basis$()

.basis-static
  $basis$()

.basis:active
.basis.is-active
  $basis-active$()

.basis:disabled
.basis.is-disabled
  $basis-disabled$()