// Dangerous UI
//
// **UI:**
//
// + `danger`          Danger UI with all state style.
// + `danger-static`   Danger UI without state style.
//
//
// **Motion:**
//
// + `is-active`
// + `is-disabled`
//
// Markup:
// <button class="btn danger">按钮</button>
//
// Styleguide 3.1.4
.danger
  $danger$()

.danger-static
  $danger$()

.danger:active
.danger.is-active
  $danger-active$()

.danger:disabled
.danger.is-disabled
  $danger-disabled$()