// Brand
//
// **@extend:**
//
// `.label`
//
// Markup:
// <dl class="form">
//   <dd class="form-content row">
//     <p class="col col--1of5">
//       <label class="brand seamless full" for="t-4-1-2-1">标签</label>
//     </p>
//     <p class="col col--4of5">
//       <input id="t-4-1-2-1" type="text" class="textfield basis">
//     </p>
//   </dd>
// </dl>
// <dl class="form">
//   <dd class="form-content row">
//     <label class="brand amid-270 seamless" for="t-4-1-2-2">标签</label>
//     <input id="t-4-1-2-2" type="text" class="textfield basis indent-left-col">
//   </dd>
// </dl>
// <dl class="form">
//   <dd class="form-content row">
//     <p class="col col--1of5">
//       <label class="brand basis-static full chop-right pointer-90" for="t-4-1-4-1">标签</label>
//     </p>
//     <p class="col col--4of5">
//       <input id="t-4-1-4-1" type="text" class="textfield basis chop-left seamless-left">
//     </p>
//   </dd>
// </dl>
//
// Styleguide 6.10
.brand
  @extend $LABEL

  z-index $top-index
  display block

  &.amid-90
  &.amid-270
    min-width 20%

  &.square
    min-width 0
