// Bubble
//
// **@extend:**
//
// `.label`
//
// **Ordinary:**
//
// + **paste** Paste bubble label **out of** its container.
//
// Markup:
// <dl class="form">
//   <dd class="form-content">
//     <input type="text" class="textfield basis indent-right">
//     <label class="bubble amid-90 naked mini">
//       <span class="bubble-text danger-static icon circle mini">中</span>
//     </label>
//   </dd>
// </dl>
//
// Styleguide 7.13
.bubble
  $offset-normal             = round($ht-normal / -2)
  $offset-marssive           = round($ht-marssive / -2)
  $offset-huge               = round($ht-huge / -2)
  $offset-mini               = round($ht-mini / -2)
  $offset-pygmy              = round($ht-pygmy / -2)

  @extend $LABEL

  &.paste
    &.amid-45
    &.amid-135
    &.amid-225
    &.amid-315
      margin 0
      min-width 0

    // normal size
    &.amid-45
      top $offset-normal
      right @top

    &.amid-135
      bottom $offset-normal
      right @bottom

    &.amid-225
      bottom $offset-normal
      left @bottom

    &.amid-315
      top $offset-normal
      left @top

    // pygmy size
    &.pygmy
      &.amid-45
        top $offset-pygmy
        right @top

      &.amid-135
        bottom $offset-pygmy
        right @bottom

      &.amid-225
        bottom $offset-pygmy
        left @bottom

      &.amid-315
        top $offset-pygmy
        left @top

    // mini size
    &.mini
      &.amid-45
        top $offset-mini
        right @top

      &.amid-135
        bottom $offset-mini
        right @bottom

      &.amid-225
        bottom $offset-mini
        left @bottom

      &.amid-315
        top $offset-mini
        left @top

    // huge size
    &.huge
      &.amid-45
        top $offset-huge
        right @top

      &.amid-135
        bottom $offset-huge
        right @bottom

      &.amid-225
        bottom $offset-huge
        left @bottom

      &.amid-315
        top $offset-huge
        left @top

    // marssive size
    &.marssive
      &.amid-45
        top $offset-marssive
        right @top

      &.amid-135
        bottom $offset-marssive
        right @bottom

      &.amid-225
        bottom $offset-marssive
        left @bottom

      &.amid-315
        top $offset-marssive
        left @top
