// Button
//
// **@extent:**
//
// `$BOX`
//
// Markup:
// <button class="btn basis">
//   <span class="btn-text">按钮</span>
// </button>
//
// Styleguide 7.5
.btn
  @extend $BOX

  text-align center
  font-weight bold
  white-space nowrap
  text-decoration none
