// Checkbox
//
// **@extend:**
//
// `$CONTROL`
//
// Markup:
// <div class="checkbox seamless relative">
//   <input class="checkbox-tag" type="checkbox" id="checkbox-1">
//   <label class="checkbox-label" for="checkbox-1">
//     <span>多选控件</span>
//     <span class="checkbox-mock basis">
//       <span class="checkbox-indicator"></span>
//     </span>
//   </lable>
// </div>
//
// Styleguide 5.14
$checkbox-indicator-border        = 3px
$checkbox-indicator-width-radio   = 0.25

.checkbox
  @extend $CONTROL

  padding-left 0
  padding-right 0

.checkbox-tag
  @extend $CONTROL-TAG

.checkbox-label
  @extend $CONTROL-LABEL

// simulate control checkbox
.checkbox-mock
  @extend $CONTROL-MOCK

  border-radius $border-radius

// simulate control indicator
.checkbox-indicator
  @extend $CONTROL-INDICATOR

  border-width $checkbox-indicator-border
  border-style none none solid solid
  transform rotate(-45deg)

  $center$()
  top -1px
  display block

.checkbox-tag:checked + .checkbox-label .checkbox-indicator
  opacity 1

// Majority size
// ============================================================================
.checkbox-mock
  @extend $CONTROL-MOCK

.checkbox-label
  @extend $CONTROL-LABEL

.checkbox-indicator
  width round($height-normal * $checkbox-indicator-width-radio)
  height round(@width / 2)

.pygmy
  .checkbox-mock
    @extend $CONTROL-MOCK-PYGMY

  .checkbox-label
    @extend $CONTROL-LABEL-PYGMY

  .checkbox-indicator
    width round($height-pygmy * $checkbox-indicator-width-radio)
    height round(@width / 2)

    border-width $checkbox-indicator-border - 2

.mini
  .checkbox-mock
    @extend $CONTROL-MOCK-MINI

  .checkbox-label
    @extend $CONTROL-LABEL-MINI

  .checkbox-indicator
    width round($height-mini * $checkbox-indicator-width-radio)
    height round(@width / 2)

    border-width $checkbox-indicator-border - 1

.huge
  .checkbox-mock
    @extend $CONTROL-MOCK-HUGE

  .checkbox-label
    @extend $CONTROL-LABEL-HUGE

  .checkbox-indicator
    width round($height-huge * $checkbox-indicator-width-radio)
    height round(@width / 2)

    border-width $checkbox-indicator-border

.marssive
  .checkbox-mock
    @extend $CONTROL-MOCK-MARSSIVE

  .checkbox-label
    @extend $CONTROL-LABEL-MARSSIVE

  .checkbox-indicator
    width round($height-marssive * 0.25)
    height round(@width / 2)

    border-width $checkbox-indicator-border + 1