// Expander
//
// **@extend:**
//
// `.btn`
//
// Markup:
// <p class="box">
//   这是一段很长的文字并且会换行。旁边的小按钮可以展开被折叠的文字。这样就能让用户看到这段文字的全部内容了。
//   <button class="expander basis"></button>
// </p>
//
// Styleguide 5.7
.expander
  @extend .btn

  font-weight normal
  text-align center
  line-height 0
  border-radius 0
  border-style none

  top -1px
  padding 0 $py-quarter

  &:after
    content "…"
    height $py
    line-height $py

    display inline-block
    vertical-align middle
