// Link
//
// **@extend:**
//
// `.btn`
//
// Markup:
// <a href="#" class="link">
//   <span class="link-text">链接</span>
// </a>
//
// Styleguide 6.6
.link
  @extend .btn

  /*color $brand-motion*/
  font-weight normal
  /*border-color transparent*/
  text-decoration underline

  /*  
  &:visited
    color $brand-motion

  &:active
  &.is-active
    color $brand-motion*/

  &:disabled
  &.is-disabled
    $basis-disabled$()

  // change link style in different context
  &.feel
    color inherit
    font-size inherit
    font-weight inherit
    line-height inherit

    &:visited
      color inherit

    &:active
    &.is-active
      color inherit

  &.naked
    text-decoration none
