// Link
//
// **@extend:**
//
// `$BOX`
//
// Markup:
// <a href="#" class="link">
//   <span class="link-text">链接</span>
// </a>
//
// Styleguide 7.6
.link
  @extend $BOX

  &.naked
    text-decoration none
