// Magnet
//
// **@extend:**
//
// `.label`
//
// **Position Modifiers:**
//
// + `position-45`
// + `position-135`
// + `position-225`
// + `position-315`
//
// Markup:
// <dl class="form">
//   <dd class="form-content">
//     <input type="text" class="textfield basis mini">
//     <label class="magnet embed basis-static position-315 mini">
//       <span class="oi magnet-icon" data-glyph="star"></span>
//     </label>
//   </dd>
// </dl>
// <dl class="form">
//   <dd class="form-content">
//     <input type="text" class="textfield basis">
//     <label class="magnet embed basis-static position-315">
//       <span class="magnet-text">用户名</span>
//     </label>
//   </dd>
// </dl>
//
// Styleguide 5.12
.magnet
  @extend $LABEL

  border-radius 0
  border-style none

  &.position-45
    border-top-right-radius $border-radius
    border-bottom-left-radius $border-radius
    border-bottom-style solid
    border-left-style solid

  &.position-135
    border-bottom-right-radius $border-radius
    border-top-left-radius $border-radius
    border-top-style solid
    border-left-style solid

  &.position-225
    border-bottom-left-radius $border-radius
    border-top-right-radius $border-radius
    border-top-style solid
    border-right-style solid

  &.position-315
    border-top-left-radius $border-radius
    border-bottom-right-radius $border-radius
    border-right-style solid
    border-bottom-style solid

// Blank
// ============================================================================
.magnet
  $blank-radio               = 0.1
  
  // normal
  &.position-45
  &.position-315
    padding-bottom round($height-normal * $blank-radio)

  &.position-135
  &.position-225
    padding-top round($height-normal * $blank-radio)

  &.mini
    &.position-45
    &.position-315
      padding-bottom round($height-mini * $blank-radio)

    &.position-135
    &.position-225
      padding-top round($height-mini * $blank-radio)

  &.pygmy
    &.position-45
    &.position-315
      padding-bottom round($height-pygmy * $blank-radio)

    &.position-135
    &.position-225
      padding-top round($height-pygmy * $blank-radio)

  &.huge
    &.position-45
    &.position-315
      padding-bottom round($height-huge * $blank-radio)

    &.position-135
    &.position-225
      padding-top round($height-huge * $blank-radio)

  &.marssive
    &.position-45
    &.position-315
      padding-bottom round($height-marssive * $blank-radio)

    &.position-135
    &.position-225
      padding-top round($height-marssive * $blank-radio)


.magnet-icon
  display inline-block
  margin-left $py-half
  margin-right $py-half

.magnet-text
  width 100%

.textfield:focus + .magnet
.textarea:focus + .magnet
  display none
