// Magnet
//
// **@extend:**
//
// `.label`
//
// Markup:
// <dl class="form">
//   <dd class="form-content">
//     <input type="text" class="textfield basis">
//     <label class="magnet basis-static amid-315 embed">
//       <span class="magnet-text">用户名</span>
//     </label>
//   </dd>
// </dl>
//
// Styleguide 7.12
.magnet
  @extend $LABEL

  border-radius 0
  border-style none

  &.amid-45
    border-top-right-radius $border-radius
    border-bottom-left-radius $border-radius
    border-bottom-style solid
    border-left-style solid

  &.amid-135
    border-bottom-right-radius $border-radius
    border-top-left-radius $border-radius
    border-top-style solid
    border-left-style solid

  &.amid-225
    border-bottom-left-radius $border-radius
    border-top-right-radius $border-radius
    border-top-style solid
    border-right-style solid

  &.amid-315
    border-top-left-radius $border-radius
    border-bottom-right-radius $border-radius
    border-right-style solid
    border-bottom-style solid

// Blank
// ============================================================================
.magnet
  $blank-radio               = 0.1

  // normal
  &.amid-45
  &.amid-315
    padding-bottom round($height-normal * $blank-radio)

  &.amid-135
  &.amid-225
    padding-top round($height-normal * $blank-radio)

  &.mini
    &.amid-45
    &.amid-315
      padding-bottom round($height-mini * $blank-radio)

    &.amid-135
    &.amid-225
      padding-top round($height-mini * $blank-radio)

  &.pygmy
    &.amid-45
    &.amid-315
      padding-bottom round($height-pygmy * $blank-radio)

    &.amid-135
    &.amid-225
      padding-top round($height-pygmy * $blank-radio)

  &.huge
    &.amid-45
    &.amid-315
      padding-bottom round($height-huge * $blank-radio)

    &.amid-135
    &.amid-225
      padding-top round($height-huge * $blank-radio)

  &.marssive
    &.amid-45
    &.amid-315
      padding-bottom round($height-marssive * $blank-radio)

    &.amid-135
    &.amid-225
      padding-top round($height-marssive * $blank-radio)


.magnet-icon
  display inline-block
  margin-left $py-half
  margin-right $py-half

.magnet-text
  width 100%

.textfield:focus + .magnet
.textarea:focus + .magnet
  display none
