// Progress
//
// **Details:**
//
// + Need JavaScript set `.progress-text` width as `.progress` width dynamically.
//
//
// **@extend:**
//
// `$BOX`
//
// **Ordinary:**
//
// + `clean` Remove `.progress-text`.
// + `done`  Pull `.progress-indicator` to 100% width.
// + `wait`  Show strip walker in backgroud.
// + `band`  Progress like a thin band.
//
//
// Markup:
// <div class="progress basis-static naked">
//   <span class="progress-indicator safe-static" style="min-width: 50%">
//     <span class="progress-text">50%</span>
//   </span>
//   <span class="progress-text">50%</span>
// </div>
//
// Styleguide 7.19

$progress-text-width         = $te * 5

.progress
.progress-text
.progress-indicator
  display block

.progress
  @extend $BOX

  // Force set progress height
  &
    height $ht-normal

  &.pygmy
    height $ht-pygmy

  &.mini
    height $ht-mini

  &.huge
    height $ht-huge

  &.massive
    height $ht-massive

  &.clean
    .progress-text
      visibility hidden

  &.done
    .progress-indicator
      width 100%

  &.band
    border-radius 0
    height $gap-vertical

    .progress-text
      visibility hidden

    .progress-indicator
      border-radius 0

  &.wait
    .progress-indicator
      visibility hidden

    background-size 30px 30px
    background-color $bd-heavy
    background-image linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)


.progress-indicator
  width 0
  height 100%
  border-radius $bd-radius - 1
  overflow hidden

  z-index 1
  position relative

.progress-text
  width 248px
  text-align center
  height $te
  line-height 1

  $center$()
