// Radio
//
// **@extend:**
//
// `$CONTROL`
//
// Markup:
// <div class="radio seamless relative">
//   <input class="radio-tag" type="radio" name="r" id="radio-1">
//   <label class="radio-label" for="radio-1">
//     <span>单选控件</span>
//     <span class="radio-mock basis">
//       <span class="radio-indicator basis-static pure"></span>
//     </span>
//   </lable>
// </div>
//
// Styleguide 6.15
$radio-indicator-width-radio = 0.2
.radio
  @extend $CONTROL

  padding-left 0
  padding-right 0

.radio-tag
  @extend $CONTROL-TAG

.radio-label
  @extend $CONTROL-LABEL

// simulate control box
.radio-mock
  @extend $CONTROL-MOCK

  border-radius 50%

// simulate control indicator
.radio-indicator
  @extend $CONTROL-INDICATOR

  $center$()

  border-style none
  border-radius 50%

.basis .radio-indicator
  background-color $brand-motion
  background-image none

.radio-tag:checked + .radio-label .radio-indicator
  opacity 1

// Majority size
// ============================================================================
.radio-label
  @extend $CONTROL-LABEL

.radio-mock
  @extend $CONTROL-MOCK

.radio-indicator
  $indicator-width     = round($height-normal * $radio-indicator-width-radio)
  $mock-width          = round($height-normal * $control-width-radio)
  
  width even($indicator-width) is even($mock-width) ? $indicator-width : $indicator-width + 1
  height @width

.pygmy
  .radio-label
    @extend $CONTROL-LABEL-PYGMY

  .radio-mock
    @extend $CONTROL-MOCK-PYGMY

  .radio-indicator
    $indicator-width   = round($height-pygmy * $radio-indicator-width-radio)
    $mock-width        = round($height-pygmy * $control-width-radio)
    
    width even($indicator-width) is even($mock-width) ? $indicator-width : $indicator-width + 1
    height @width

.mini
  .radio-label
    @extend $CONTROL-LABEL-MINI

  .radio-mock
    @extend $CONTROL-MOCK-MINI

  .radio-indicator
    $indicator-width   = round($height-mini * $radio-indicator-width-radio)
    $mock-width        = round($height-mini * $control-width-radio)
    
    width even($indicator-width) is even($mock-width) ? $indicator-width : $indicator-width + 1
    height @width

.huge
  .radio-label
    @extend $CONTROL-LABEL-HUGE

  .radio-mock
    @extend $CONTROL-MOCK-HUGE

  .radio-indicator
    $indicator-width   = round($height-huge * $radio-indicator-width-radio)
    $mock-width        = round($height-huge * $control-width-radio)
    
    width even($indicator-width) is even($mock-width) ? $indicator-width : $indicator-width + 1
    height @width

.marssive
  .radio-label
    @extend $CONTROL-LABEL-MARSSIVE

  .radio-mock
    @extend $CONTROL-MOCK-MARSSIVE

  .radio-indicator
    $indicator-width   = round($height-marssive * $radio-indicator-width-radio)
    $mock-width        = round($height-marssive * $control-width-radio)
    
    width even($indicator-width) is even($mock-width) ? $indicator-width : $indicator-width + 1
    height @width