// Ribbon
//
// **@extend:**
//
// `.label`
//
// Markup:
// <dl class="form">
//   <dd class="form-content">
//     <input type="text" class="textfield basis indent-right">
//     <label class="ribbon basis-static amid-45 embed seamless">
//       <span class="ribbon-inner">
//         <span class="ribbon-text">中</span>
//       </span>
//     </label>
//   </dd>
// </dl>
//
// Styleguide 7.11
$ribbon-height               = $ht-normal - $bd-width * 2
$ribbon-icon-margin          = $te-quarter - 2
$ribbon-text-margin          = $te-quarter - 2

.ribbon
  @extend $LABEL

  height $ribbon-height
  width @height
  overflow hidden
  border-color inherit
  border-radius $bd-radius - 2
  background-image none
  background-color transparent

.ribbon-inner:after
  content ""
  border-style solid
  border-width 0
  border-color transparent

  position absolute

.amid-45 .ribbon-inner:after
  border-left-width $ribbon-height
  border-top-width $ribbon-height
  border-top-color inherit

  top 0
  right 0

.amid-135 .ribbon-inner:after
  border-left-width $ribbon-height
  border-bottom-width $ribbon-height
  border-bottom-color inherit

  bottom 0
  right 0

.amid-225 .ribbon-inner:after
  border-right-width $ribbon-height
  border-bottom-width $ribbon-height
  border-bottom-color inherit

  bottom 0
  left 0

.amid-315 .ribbon-inner:after
  border-right-width $ribbon-height
  border-top-width $ribbon-height
  border-top-color inherit

  top 0
  left 0

.ribbon-icon
.ribbon-text
  text-shadow none

  z-index 2
  position absolute

.ribbon-icon
  display inline-block
  margin-left $te-half
  margin-right $te-half

// layout ribbon text and icon
// ============================================================================
.amid-225
.amid-315
  .ribbon-icon
  .ribbon-text
    left 0

  .ribbon-icon
    margin-left $ribbon-icon-margin

.amid-45
.amid-135
  .ribbon-icon
  .ribbon-text
    right 0

  .ribbon-icon
    margin-right $ribbon-icon-margin

.amid-45
.amid-315
  .ribbon-icon
  .ribbon-text
    top 0

  .ribbon-icon
    margin-top $ribbon-icon-margin

.amid-135
.amid-225
  .ribbon-icon
  .ribbon-text
    bottom 0

  .ribbon-icon
    margin-bottom $ribbon-icon-margin

.amid-45
  .ribbon-text
    right $ribbon-text-margin
    top $ribbon-text-margin

.amid-135
  .ribbon-text
    right $ribbon-text-margin
    bottom $ribbon-text-margin

.amid-225
  .ribbon-text
    left $ribbon-text-margin
    bottom $ribbon-text-margin

.amid-315
  .ribbon-text
    left $ribbon-text-margin
    top $ribbon-text-margin

.amid-135
.amid-315
  .ribbon-text
    transform rotate(-45deg)

.amid-45
.amid-225
  .ribbon-text
    transform rotate(45deg)

// change ribbon color
// ============================================================================
.ribbon
  &.basis-static
    color $bd-heavy

    .ribbon-icon
    .ribbon-text
      color $te-basis

  &.info-static
    color $bd-info

    .ribbon-icon
    .ribbon-text
      // color $$lighter($te-info)

  &.safe-static
    color $bd-safe

    .ribbon-icon
    .ribbon-text
      // color $$lighter($te-safe)

  &.danger-static
    color $bd-danger

    .ribbon-icon
    .ribbon-text
      // color $$lighter($te-danger)

  &.warn-static
    color $bd-warn

    .ribbon-icon
    .ribbon-text
      // color $$lighter($te-warn)
