// Toggle
//
// **@extend:**
//
// `$CONTROL`
//
// Markup:
// <div class="toggle seamless relative">
//   <input class="toggle-tag" type="checkbox" name="r" id="toggle-1">
//   <label class="toggle-label" for="toggle-1">
//     <span>开关</span>
//     <span class="toggle-mock">
//       <span class="toggle-indicator basis-static"></span>
//     </span>
//   </lable>
// </div>
//
// Styleguide 7.16
$toggle-height-radio         = 0.8
$toggle-aspect-radio         = 1.5
$toggle-indicator-offset     = 4
.toggle
  @extend $CONTROL

  padding-left 0
  padding-right 0

.toggle-tag
  @extend $CONTROL-TAG

// simulate control box
.toggle-mock
  @extend $CONTROL-MOCK

  background-image none
  background-color transparent
  border-radius $te * 50
  border-color $bd-heavy

// simulate control indicator
.toggle-indicator
  @extend $CONTROL-INDICATOR

  $$outer-glow($shadow-heavy, 1)

  opacity 1
  border-radius 50%
  $center-left$()

.toggle-tag:checked + .toggle-label
  .toggle-indicator
    left auto
    right 0

  .toggle-mock
    border-color $te-motion
    background-color $te-motion

// Majority size
// ============================================================================
$toggle-height-normal   = round($toggle-height-radio * $ht-normal)
$toggle-width-normal    = round($toggle-aspect-radio * $toggle-height-normal)
$toggle-height-pygmy    = round($toggle-height-radio * $ht-pygmy)
$toggle-width-pygmy     = round($toggle-aspect-radio * $toggle-height-pygmy)
$toggle-height-mini     = round($toggle-height-radio * $ht-mini)
$toggle-width-mini      = round($toggle-aspect-radio * $toggle-height-mini)
$toggle-height-huge     = round($toggle-height-radio * $ht-huge)
$toggle-width-huge      = round($toggle-aspect-radio * $toggle-height-huge)
$toggle-height-marssive = round($toggle-height-radio * $ht-marssive)
$toggle-width-marssive  = round($toggle-aspect-radio * $toggle-height-marssive)

.toggle-mock
  width $toggle-width-normal
  height $toggle-height-normal

.toggle-label
  padding-left $toggle-width-normal  + $gap-horizontal

.toggle-indicator
  height $toggle-height-normal - $toggle-indicator-offset
  width @height

.pygmy
  .toggle-mock
    width $toggle-width-pygmy
    height $toggle-height-pygmy

  .toggle-label
    padding-left $toggle-width-pygmy  + $gap-horizontal

  .toggle-indicator
    height $toggle-height-pygmy - $toggle-indicator-offset
    width @height

.mini
  .toggle-mock
    width $toggle-width-mini
    height $toggle-height-mini

  .toggle-label
    padding-left $toggle-width-mini  + $gap-horizontal

  .toggle-indicator
    height $toggle-height-mini - $toggle-indicator-offset
    width @height

.huge
  .toggle-mock
    width $toggle-width-huge
    height $toggle-height-huge

  .toggle-label
    padding-left $toggle-width-huge  + $gap-horizontal

  .toggle-indicator
    height $toggle-height-huge - $toggle-indicator-offset
    width @height

.marssive
  .toggle-mock
    width $toggle-width-marssive
    height $toggle-height-marssive

  .toggle-label
    padding-left $toggle-width-marssive  + $gap-horizontal

  .toggle-indicator
    height $toggle-height-marssive - $toggle-indicator-offset
    width @height