// State
//
// Markup:
// <ul class="list loose ui-basis ui-solid ui-disc">
//   <li class="first">香蕉</li>
//   <li>苹果</li>
//   <li>雪梨</li>
//   <li>榴莲</li>
//   <li class="last">西瓜</li>
// </ul>
//
// Styleguide 5.14.3
.list
  null
