// Core
//
// **Layout:**
//
// + `.bfc`      Each item become bfc (by `overflow: hidden;`)
// + `.relative` Each item become position context.
//
//
// **Gap:**
//
// + `.tight`    Tight gap between items.
// + `.loose`    Loose gap between items.
//
// Styleguide 5.14.1
.list
  $reset-gap$()
  $reset-list$()

  &.bfc
    > li
      overflow hidden

  &.relative
    > li
      position relative

  &.tight
    > li
      padding-top $vgap-half
      padding-bottom @padding-top

  &.loose
    > li
      padding-top $vgap
      padding-bottom @padding-top

  &.ui-disc
  &.ui-circle
  &.ui-decimal
    > li
      padding-left $hgap

  &.ui-sunken
    > li:after
      content ""
      width 100%
      height 1px
      display block

    > li.last:after
      display none
