/* kss style with specificed triggers
   ===================================================================== */
$kss                                 = true
$debug                               = true

@import "styles"