/* kss style with specificed triggers
   ===================================================================== */
$kss                                 = true
$debug                               = true

@import "styles"

/* Style helper for KSS document
 ===================================================================== */

// can not set root class name in kss document
body
  font-size $py
  font-family sans-serif
  line-height $py-line

  margin 0

.kss-depth-3 .kss-title
  font-size 22px !important

.kss-depth-4 .kss-title
  font-size 16px !important

.kss-modifier-example
  padding-right 60% !important
  background-color #efefef

.kss-markup
  display none !important

.sg-color
  color $white
  font-weight bold
  text-align center

  padding $py * 2
  margin $py-half 0
  border-radius $border-radius

.kss-box
  width 200px
  height 200px
  border-style solid
  border-width $border-width
  background-color #ddd

  margin-bottom $py
  position relative

.kss-box-child
  width 20px
  height 20px
  background-color $white

.kss-entry
  max-width $py * 25
  margin-top $py * 1.5
  margin-bottom $py * 1.5

.separator.vertical
  height 100px !important

.wrapper.horizonal
  width 200px

.wrapper.vertical
  height 200px
