// This file unity every variables, helpers, components files.
//
// Author: differui@gmail.com
// License: MIT

// Section 1: Foundation
// ============================================================================

// Foundation
//
// Helpers, Variables, Templates, Mixins foundation of project.
//
// Styleguide 1

// Color Helpers
//
// Styleguide 1.1
@import "utils/colors"

// Blend Mode Helpers
//
// Styleguide 1.2
@import "utils/blends"

// Math Helpers
//
// Styleguide 1.3
@import "utils/math"

// Templates
//
// Templates build on stylus mixin and with `$` as prefix and suffix.
//
// Styleguide 1.4
@import "templates/reset"

// Plugins
//
// + **normalize.css** https://github.com/necolas/normalize.css/
// + **elastic** https://github.com/differui/elastic-grid.css
//
// Styleguide 1.5
@import "plugins/normalize"
@import "plugins/elastic/elastic"

// Skin unrelated variables
// Default variables: `variables`
@import "variables"

// Skin related variable
// Skin variables: `skins/[skin name]/[skin name]-variables`
@import "skins/" + $ui-name + "/" + $ui-name + "-variables"

// Color Plate
//
// Styleguide 1.6
if $kss is true
  @import "kss/brand"
  @import "kss/grey"
  @import "kss/end"
  @import "kss/disable"
  @import "kss/border"
  @import "kss/background"
  @import "kss/translucent"
  @import "kss/shadow"
  @import "kss/highlight"

// Section 2: Base
// ============================================================================

// Base
//
// Base HTML styles share across project.
//
// Styleguide 2
@import "base/all"
@import "base/root"
@import "base/anchor"
@import "base/image"
@import "base/define"
@import "base/control"
@import "base/hidden"

// Section 3: Placeholder
// ============================================================================

// Placeholder
//
// Styleguide 3

// UI Placeholder
//
// Styleguide 3.1
@import "placeholder/ui/primary-static"
@import "placeholder/ui/primary-active"
@import "placeholder/ui/primary-disabled"

// Layout Placeholder
//
// Styleguide 3.2
@import "placeholder/layout/center"
@import "placeholder/layout/amid"
@import "placeholder/layout/around"
@import "placeholder/layout/measure-seam"
@import "placeholder/layout/measure-seamless"

// Pattern Placeholder
//
// Styleguide 3.3
@import "placeholder/pattern/stripes"

// Typeset
//
// Styleguide 3.4
@import "placeholder/typeset/line"

// Section 4: Layout
// ============================================================================

// Layout
//
// Styleguide 4
@import "layout/layer"
@import "layout/section"

// Section 5: Module
// ============================================================================

// Module
//
// Styleguide 5

// Button
//
// Styleguide 5.1
@import "module/button/btn-core"
@import "module/button/btn-ui"
@import "module/button/btn-state"

// Textfield
//
// Styleguide 5.2
@import "module/textfield/textfield-core"
@import "module/textfield/textfield-ui"
@import "module/textfield/textfield-state"

// Label
//
// Styleguide 5.3
@import "module/label/label-core"
@import "module/label/label-ui"
@import "module/label/label-state"

// Option
//
// Styleguide 5.4
@import "module/option/option-core"
@import "module/option/option-ui"
@import "module/option/option-state"

// Toggle
//
// Styleguide 5.5
@import "module/toggle/toggle-core"
@import "module/toggle/toggle-ui"
@import "module/toggle/toggle-state"

// Slider
//
// Styleguide 5.6
@import "module/slider/slider-core"
@import "module/slider/slider-ui"
@import "module/slider/slider-state"

// Select
//
// Styleguide 5.7
@import "module/select/select-core"
@import "module/select/select-ui"
@import "module/select/select-state"

// Progress
//
// Styleguide 5.8
@import "module/progress/progress-core"
@import "module/progress/progress-ui"
@import "module/progress/progress-state"

// Ribbon
//
// Styleguide 5.9
@import "module/ribbon/ribbon-core"
@import "module/ribbon/ribbon-ui"
@import "module/ribbon/ribbon-state"

// Magnet
//
// Styleguide 5.10
@import "module/magnet/magnet-core"
@import "module/magnet/magnet-ui"
@import "module/magnet/magnet-state"

// Bubble
//
// Styleguide 5.11
@import "module/bubble/bubble-core"
@import "module/bubble/bubble-ui"
@import "module/bubble/bubble-state"

// Pointer
//
// Styleguide 5.12
@import "module/pointer/pointer-core"
@import "module/pointer/pointer-ui"
@import "module/pointer/pointer-state"

// Tooltip
//
// Styleguide 5.13
@import "module/tooltip/tooltip-core"
@import "module/tooltip/tooltip-ui"
@import "module/tooltip/tooltip-state"

// List
//
// Items arrange vertically.
//
// Styleguide 5.14
@import "module/list/list-core"
@import "module/list/list-ui"
@import "module/list/list-state"

// Menu
//
// Items arrange horizontally.
//
// Styleguide 5.15
@import "module/menu/menu-core"
@import "module/menu/menu-ui"
@import "module/menu/menu-state"

// Breadcrumb
//
// Styleguide 5.16
@import "module/breadcrumb/breadcrumb-core"
@import "module/breadcrumb/breadcrumb-ui"
@import "module/breadcrumb/breadcrumb-state"

// Separator
//
// Styleguide 5.17
@import "module/separator/separator-core"
@import "module/separator/separator-ui"
@import "module/separator/separator-state"

// Msg
//
// Styleguide 5.18
@import "module/msg/msg-core"
@import "module/msg/msg-ui"
@import "module/msg/msg-state"

// Headline
//
// Styleguide 5.19
@import "module/headline/headline-core"
@import "module/headline/headline-ui"
@import "module/headline/headline-state"

// Popup
//
// Styleguide 5.20
@import "module/popup/popup-core"
@import "module/popup/popup-ui"
@import "module/popup/popup-state"

// Board
//
// Styleguide 5.21
@import "module/board/board-core"
@import "module/board/board-ui"
@import "module/board/board-state"

// Tab
//
// Styleguide 5.22
@import "module/tab/tab-core"
@import "module/tab/tab-ui"
@import "module/tab/tab-state"

// Panel
//
// Styleguide 5.23
@import "module/panel/panel-core"
@import "module/panel/panel-ui"
@import "module/panel/panel-state"

// Table
//
// Styleguide 5.24
@import "module/table/table-core"
@import "module/table/table-ui"
@import "module/table/table-state"

// Form
//
// Styleguide 5.25
@import "module/form/form-core"
@import "module/form/form-ui"
@import "module/form/form-state"

// Caret
//
// Styleguide 5.26
@import "module/caret/caret-core"
@import "module/caret/caret-ui"
@import "module/caret/caret-state"

// Circle
//
// Styleguide 5.27
@import "module/circle/circle-core"
@import "module/circle/circle-core"
@import "module/circle/circle-ui"
@import "module/circle/circle-state"
