@import "globals/variable"

// Plugins
@import "plugins/open-iconic"

// Templates

// Global basis Style
@import "globals/text"

// Mixin
// 
// Mixins shared across the project.
// 
// Styleguide 1.

// Util
//
// Util mixin just like simple helper function.
// Receive some arguments, play with the arguments and return the result.
//
// Styleguide 1.1
@import "utils/colors"

// Blend Mixin
//
// Blend modes by CSS3 features.
//
// Styleguide 1.2
@import "utils/blends"

// Component Mixin
//
// Styleguide 1.3
@import "mixins/button"
@import "mixins/button-outline"

// Buttons
// 
// A majority of buttons in the project are built from the same base class.
// Use class `.btn` set default button skin for HTML element.
// Check out the demonstrate HTML code under every child chapter
// before you use the hooks described in this document.
// 
// 1. intruduce `user-select`:
//
//   + mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select?redirectlocale=en-US&redirectslug=CSS%2Fuser-select
//   + caniuse: http://caniuse.com/#feat=user-select-none
//
// 2. intruduce `white-space`:
//
//   + white-space: http://css-tricks.com/examples/White-space/
//   + sgml entities: http://www.w3.org/TR/html4/sgml/entities.html
//   + html entities: http://www.oratory.com/tools/entities.html
// 
// Styleguide 2.

// Common Buttons
// 
// Common buttons use `.btn` set default button skin.
// Use modifiers change default button appearance. 
// 
// Styleguide 2.1
@import "components/buttons/button"
@import "components/buttons/button-ok"
@import "components/buttons/button-danger"
@import "components/buttons/button-info"
@import "components/buttons/button-mini"
@import "components/buttons/button-large"
@import "components/buttons/button-block"

// Advance Buttons
@import "components/buttons/button-link"
@import "components/buttons/button-outline"
@import "components/buttons/button-glyph"
@import "components/buttons/button-group"

// Forms
// 
// Default style for text box.
// 
// Styleguide 3.
// @import "components/form"