// ========================================================================
// Skin unrelated variables used in PYOA project
//
//  author: Bin-Rui Guan<differui@gmail.com>
//  repository: https://github.com/differui/PYOA
//
//  Copyright (c) 2014 PYOA
//
// Permission is hereby granted, free of charge, to any person obtaining a
// copy of this software and associated documentation files (the 'Software'),
// to deal in the Software without restriction, including without limitation
// the rights to use, copy, modify, merge, publish, distribute, sublicense,
// and/or sell copies of the Software, and to permit persons to whom the
// Software is furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
// DEALINGS IN THE SOFTWARE.
// ============================================================================

// UI name
// ============================================================================
$ui-name                     = "tentomon-light-ui"

// Majority size
// ============================================================================
$te                          = 14px
$te-half                     = round($te * 0.5)
$te-quarter                  = round($te * 0.25)
$te-small                    = round($te * 0.857)
$te-smaller                  = round($te * 0.714)
$te-large                    = round($te * 1.1)
$te-larger                   = round($te * 1.29)

// Line height
// ============================================================================
$te-line                     = 1.714
$te-line-computed            = round($te * $te-line)

// Component apperance
// ============================================================================
$rad-square                  = 0
$rad-round                   = 3px
$rad-pill                    = 500px
$rad-circle                  = 50%

$bd-width                    = 1px
$bd-width-bold               = $bd-width * 2

$vgap                        = $te-quarter
$hgap                        = $te-small

$hgap-half                   = round($hgap / 2)
$hgap-double                 = round($hgap * 2)
$hgap-triple                 = round($hgap * 3)

$vgap-half                   = round($vgap / 2)
$vgap-double                 = round($vgap * 2)
$vgap-triple                 = round($vgap * 3)

$column-single               = 20%
$column-double               = $column-single * 2

// Component padding and height
// ============================================================================
$tf-height                   = 16px
$content-height              = max($te-line-computed, $tf-height)

// Default component padding make up component inner height.
// ============================================================================
$content-pd-diff             = $content-height - $tf-height
$content-pd-diff-half        = round($content-pd-diff / 2)

// Component vertical padding in different size.
// ============================================================================
$pd-normal                   = $content-pd-diff-half + $vgap
$pd-massive                  = $pd-normal + $vgap * 2
$pd-huge                     = $pd-normal + $vgap * 1
$pd-mini                     = $pd-normal + $vgap * -1 + 2
$pd-pygmy                    = $pd-normal + $vgap * -2 + 3

// Component height in different size.
// ============================================================================
$ht-normal                   = $tf-height + ($bd-width + $pd-normal)  * 2
$ht-massive                  = $tf-height + ($bd-width + $pd-massive) * 2
$ht-huge                     = $tf-height + ($bd-width + $pd-huge)    * 2
$ht-mini                     = $tf-height + ($bd-width + $pd-mini)    * 2
$ht-pygmy                    = $tf-height + ($bd-width + $pd-pygmy)   * 2

// Vertical layer index.
// ============================================================================
$idx-top                     = 3000
$idx-middle                  = 2000
$idx-bottom                  = 1000
