// State
//
// Markup:
// <div class="popup ui-basis">
//   <div class="row">
//     <div class="col col--full">
//       <div class="popup-headline">
//         <span>《这是一篇文章》</span>
//       </div>
//     </div>
//   </div>
//   <div class="row">
//     <div class="col col--full">
//       <div class="popup-content">
//         <ul class="list loose">
//           <li class="first">
//             <button class="btn normal ui-basis">打开</button>
//           </li>
//           <li>
//             <button class="btn normal ui-basis">编辑</button>
//           </li>
//           <li class="last">
//             <button class="btn normal ui-basis">删除</button>
//           </li>
//         </ul>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.20.3
.popup
  null