# logging more stuff during building.
debug: false
version: '0.15.0'

# use short alias repace long mode name
mode_alias:
  test: 't'
  release: 'rc'

dirs:
  dist: '<%= pkg.name %>-<%= pkg.version %>/'
  build: 'build/'
  test: 'test/'
  node: 'node_modules/'
  bower: 'bower_components/'
  tasks: 'tasks/'
  assets: 'assets/'
  stylus: 'stylus/'
  document: 'document/'
  markdown: 'readme/'
  styleguide: 'styleguide/'