// State
//
// Markup:
// <table class="table ui-basis ui-h-border ui-stripe">
//   <caption>2014年最受欢迎的水果</caption>
//   <thead>
//     <tr>
//       <th>#</th>
//       <th>水果</th>
//       <th>票数</th>
//       <th>百分比</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td>1</td>
//       <td>草莓</td>
//       <td>51,256</td>
//       <td>45.87%</td>
//     </tr>
//     <tr>
//       <td>2</td>
//       <td>香蕉</td>
//       <td>35,252</td>
//       <td>31.55%</td>
//     </tr>
//     <tr>
//       <td>3</td>
//       <td>苹果</td>
//       <td>25,235</td>
//       <td>22.58%</td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 5.24.3
.table
  null
