// State
//
// Markup:
// <dl class="form">
//   <dd class="form-content">
//     <input type="text" class="textfield normal ui-basis">
//     <label class="ribbon normal amid-45 ui-basis ui-round">
//       <span class="ribbon-corner"></span>
//       <span class="ribbon-text">中</span>
//     </label>
//   </dd>
// </dl>
//
// Styleguide 5.9.3
.ribbon
  null
