// Core
//
// **Size:**
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
//
// **Position:**
//
// + `.amid-45`
// + `.amid-135`
// + `.amid-225`
// + `.amid-315`
//
// Styleguide 5.9.1
.ribbon
  overflow hidden
  position relative

.ribbon-corner
  position absolute
  top 0
  left 0

.ribbon-text
  @extend $l-center

  height $tf-height

.ribbon
  &.pygmy
    width $ht-pygmy
    height @width

  &.mini
    width $ht-mini
    height @width

  &.normal
    width $ht-normal
    height @width

  &.huge
    width $ht-huge
    height @width

  &.massive
    width $ht-massive
    height @width

  &.amid-45
    @extend $l-amid-45

  &.amid-135
    @extend $l-amid-135

  &.amid-225
    @extend $l-amid-225

  &.amid-315
    @extend $l-amid-315

.ribbon
  &.pygmy .ribbon-corner
    border-width $ht-pygmy

  &.mini .ribbon-corner
    border-width $ht-mini

  &.normal .ribbon-corner
    border-width $ht-normal

  &.huge .ribbon-corner
    border-width $ht-huge

  &.massive .ribbon-corner
    border-width $ht-massive

  &.amid-45 .ribbon-corner
    border-right-width 0
    border-bottom-width 0

  &.amid-135 .ribbon-corner
    border-top-width 0
    border-right-width 0

  &.amid-225 .ribbon-corner
    border-top-width 0
    border-left-width 0

  &.amid-315 .ribbon-corner
    border-bottom-width 0
    border-left-width 0

.ribbon
  &.amid-45 .ribbon-text
    transform translate(25%, -25%)

  &.amid-135 .ribbon-text
    transform translate(25%, 25%)

  &.amid-225 .ribbon-text
    transform translate(-25%, 25%)

  &.amid-315 .ribbon-text
    transform translate(-25%, -25%)
