// UI
//
// **Color:**
//
// + `.ui-basis`
// + `.ui-info`
// + `.ui-safe`
// + `.ui-danger`
// + `.ui-warn`
//
//
// **Shape:**
//
// + `.ui-round`
//
// Styleguide 5.9.2
.ribbon
  text-align center
  line-height $tf-height

  &.ui-basis
    &.amid-45
    &.amid-315
      .ribbon-corner
        border-top-color $bd-basis

    &.amid-135
    &.amid-225
      .ribbon-corner
        border-bottom-color $bd-basis

  &.ui-info
    &.amid-45
    &.amid-315
      .ribbon-corner
        border-top-color $bd-info

    &.amid-135
    &.amid-225
      .ribbon-corner
        border-bottom-color $bd-info

  &.ui-safe
    &.amid-45
    &.amid-315
      .ribbon-corner
        border-top-color $bd-safe

    &.amid-135
    &.amid-225
      .ribbon-corner
        border-bottom-color $bd-safe

  &.ui-danger
    &.amid-45
    &.amid-315
      .ribbon-corner
        border-top-color $bd-danger

    &.amid-135
    &.amid-225
      .ribbon-corner
        border-bottom-color $bd-danger

  &.ui-warn
    &.amid-45
    &.amid-315
      .ribbon-corner
        border-top-color $bd-warn

    &.amid-135
    &.amid-225
      .ribbon-corner
        border-bottom-color $bd-warn

  &.ui-round
    border-radius $rad-round

.ribbon-corner
  border-style solid
  border-color transparent

.ribbon-text
  color $te-white
  text-align center
