// Primary Static UI
//
// Primary UI in static state.
//
// Styleguide 4.1
$ui-basis-static
$ui-info-static
$ui-safe-static
$ui-danger-static
$ui-warn-static
  color $white
  border-width $bd-width

$ui-basis-static
  color $black
  border-color $bd-basis
  background-color $bg-basis
  $$linear-gradient($bg-basis, $end-basis)

$ui-info-static
  border-color $bd-info
  background-color $bg-info
  $$linear-gradient($bg-info, $end-info)

$ui-safe-static
  border-color $bd-safe
  background-color $bg-safe
  $$linear-gradient($bg-safe, $end-safe)

$ui-danger-static
  border-color $bd-dangerm
  background-color $bg-danger
  $$linear-gradient($bg-danger, $end-danger)

$ui-warn-static
  border-color $bd-warn
  background-color $bg-warn
  $$linear-gradient($bg-warn, $end-warn)
