// Static UI
//
// Primary UI in static state.
//
// + `$ui-white-static`
// + `$ui-black-static`
// + `$ui-basis-static`
// + `$ui-info-static`
// + `$ui-safe-static`
// + `$ui-danger-static`
// + `$ui-warn-static`
//
// Styleguide 3.1.1
$ui-white-static
$ui-black-static
$ui-basis-static
$ui-info-static
$ui-safe-static
$ui-danger-static
$ui-warn-static
  color $te-white

$ui-white-static
  border-color $te-white
  background-color $te-white

$ui-black-static
  border-color $te-black
  background-color $te-black

$ui-basis-static
  color $te-black
  border-color $bd-basis
  background-color $bg-basis
  $$linear-gradient($te-basis, $end-basis)

$ui-info-static
  border-color $bd-info
  background-color $bg-info
  $$linear-gradient($te-info, $end-info)

$ui-safe-static
  border-color $bd-safe
  background-color $bg-safe
  $$linear-gradient($te-safe, $end-safe)

$ui-danger-static
  border-color $bd-danger
  background-color $bg-danger
  $$linear-gradient($te-danger, $end-danger)

$ui-warn-static
  border-color $bd-warn
  background-color $bg-warn
  $$linear-gradient($te-warn, $end-warn)
