// Active UI
//
// Primary UI in active state.
//
// + `$ui-white-active`
// + `$ui-black-active`
// + `$ui-basis-active`
// + `$ui-info-active`
// + `$ui-safe-active`
// + `$ui-danger-active`
// + `$ui-warn-active`
//
// Styleguide 3.1.2
$ui-white-active
$ui-black-active
$ui-basis-active
$ui-info-active
$ui-safe-active
$ui-danger-active
$ui-warn-active
  null
