// Disabled UI
//
// Primary UI in disabled state.
//
// + `$ui-white-disabled`
// + `$ui-black-disabled`
// + `$ui-basis-disabled`
// + `$ui-info-disabled`
// + `$ui-safe-disabled`
// + `$ui-danger-disabled`
// + `$ui-warn-disabled`
//
// Styleguide 3.1.3
$ui-white-disabled
$ui-black-disabled
  null
  
$ui-basis-disabled
$ui-info-disabled
$ui-safe-disabled
$ui-danger-disabled
$ui-warn-disabled
  background-image none

$ui-basis-disabled
  color $grey-dark
  background-color $dis-basis

$ui-info-disabled
  background-color $dis-info

$ui-safe-disabled
  background-color $dis-safe

$ui-danger-disabled
  background-color $dis-danger

$ui-warn-disabled
  background-color $dis-warn
