// ============================================================================
//  Variables for py-light-ui
//
//  author: Bin-Rui Guan<differui@gmail.com>
//  repository: https://github.com/differui/PYOA
// ============================================================================

// Majority color
// ============================================================================
$brand-basis                 = #f7f7f7
$brand-info                  = #508cc7
$brand-safe                  = #60b044
$brand-danger                = #d1443d
$brand-warn                  = #e9cf14
$brand-motion                = $brand-safe

$grey                        = #dcdcdc
$grey-light                  = #e1e1e1
$grey-heavy                  = #d5d5d5
$white                       = #ffffff
$black                       = #323232

// Degrees
// ============================================================================
$dark-deg                    = 8%
$darker-deg                  = 13%
$light-deg                   = 8%
$lighter-deg                 = 13%

// Stops
// ============================================================================
$brand-basis-end              = $$dark($brand-basis)
$brand-info-end              = darken($brand-info, $darker-deg * 1.5)
$brand-safe-end              = darken($brand-safe, $darker-deg * 1.5)
$brand-danger-end            = darken($brand-danger, $darker-deg * 1.5)
$brand-warn-end              = darken($brand-warn, $darker-deg * 1.5)

// Border
// ============================================================================
$border-basis                = $border-heavy
$border-info                 = $$darker($brand-info)
$border-safe                 = $$darker($brand-safe)
$border-danger               = $$darker($brand-danger)
$border-warn                 = $$darker($brand-warn)

// Background Color
// ============================================================================
$background-basis            = darken($brand-basis, 3%)
$background-info             = $$translucent($brand-info, 10)
$background-safe             = $$translucent($brand-safe, 10)
$background-danger           = $$translucent($brand-danger, 10)
$background-warn             = $$translucent($brand-warn, 10)

// Others
// ============================================================================
$color-light                 = $grey-light
$color-normal                = $black
$color-heavy                 = $grey-heavy

$border-light                = $grey-light
$border-heavy                = $grey-heavy

$background-light            = lighten($grey-light, 80%)
$background-heavy            = lighten($grey-heavy, 50%)

$translucent-white           = $$translucent($white, 90%)
$translucent-black           = $$translucent($black, 40%)

$shadow-light                = $$translucent($black, 20%)
$shadow-heavy                = $$translucent($black, 50%)

$highlight-light             = $$translucent($white, 10%)
$highlight-heavy             = $$translucent($white, 50%)