// UI
//
// Abstract UI style.
$UI
  $$text-shadow()
  $$top-inner-shadow(1, 0, $highlight-light)

  color $white
  border-radius $bd-radius

$UI-FOCUS
  null

$UI-ACTIVE
  $$top-inner-shadow()

$UI-DISABLE
  $$top-inner-shadow(1, 0, $highlight-light)