// ============================================================================
//  Variables for py-light-ui
//
//  author: Bin-Rui Guan<differui@gmail.com>
//  repository: https://github.com/differui/PYOA
// ============================================================================

// Majority color
// ============================================================================
$brand-main                  = #f7f7f7
$brand-info                  = #508cc7
$brand-safe                  = #60b044
$brand-danger                = #d1443d
$brand-warn                  = #e9cf14

$grey                        = #dcdcdc
$grey-light                  = #e1e1e1
$grey-heavy                  = #d5d5d5
$white                       = #ffffff
$black                       = #323232

// Interactive color
// ============================================================================
$motion-color                = $brand-safe

// Degrees
// ============================================================================
$dark-deg                    = 8%
$darker-deg                  = 13%
$light-deg                   = 8%
$lighter-deg                 = 13%

// Stops
// ============================================================================
$brand-main-end              = $$dark($brand-main)
$brand-info-end              = darken($brand-info, $darker-deg * 1.5)
$brand-safe-end              = darken($brand-safe, $darker-deg * 1.5)
$brand-danger-end            = darken($brand-danger, $darker-deg * 1.5)
$brand-warn-end              = darken($brand-warn, $darker-deg * 1.5)

// Border
// ============================================================================
$border-basis                = $border-heavy
$border-info                 = $$darker($brand-info)
$border-safe                 = $$darker($brand-safe)
$border-danger               = $$darker($brand-danger)
$border-warn                 = $$darker($brand-warn)

// Background Color
// ============================================================================
$background-basis            = darken($brand-main, 3%)
$background-info             = $brand-info
$background-safe             = $brand-safe
$background-danger           = $brand-danger
$background-warn             = $brand-warn

// Others
// ============================================================================
$color-light                 = $grey-light
$color-normal                = $black
$color-heavy                 = $grey-heavy

$border-light                = $grey-light
$border-heavy                = $grey-heavy

$background-light            = lighten($grey-light, 80%)
$background-heavy            = lighten($grey-heavy, 50%)

$translucent-white           = $$translucent($white, 90%)
$translucent-black           = $$translucent($black, 40%)

$shadow-light                = $$translucent($black, 20%)
$shadow-heavy                = $$translucent($black, 50%)

$highlight-light             = $$translucent($white, 10%)
$highlight-heavy             = $$translucent($white, 50%)

// Majority size
// ============================================================================
$py                          = 14px
$py-half                     = round($py * 0.5)
$py-quarter                  = round($py * 0.25)
$py-small                    = round($py * 0.857)
$py-smaller                  = round($py * 0.714)
$py-large                    = round($py * 1.1)
$py-larger                   = round($py * 1.29)

// Line height
// ============================================================================
$py-line                     = 1.714
$py-line-headline            = 1.429
$py-line-computed            = round($py * $py-line)
$py-line-half-diff           = ($py-line-computed - $py) / 2

// Component apperance
// ============================================================================
$border-radius               = 3px
$border-width                = 1px

$gap-vertical                = $py-quarter
$gap-horizontal              = $py-small

// Component padding and height
// ============================================================================
$textfield-height            = 16px
$content-height              = max($py-line-computed, $textfield-height)

// Default component padding make up component inner height.
$content-padding-diff        = $content-height - $textfield-height
$content-padding-diff-half   = round($content-padding-diff / 2)

// Component vertical padding in different size.
$padding-normal              = $content-padding-diff-half + $gap-vertical
$padding-marssive            = $padding-normal + $gap-vertical * 2
$padding-huge                = $padding-normal + $gap-vertical * 1
$padding-mini                = $padding-normal + $gap-vertical * -1 + 2
$padding-pygmy               = $padding-normal + $gap-vertical * -2 + 3

// Component height in different size.
$height-normal    = $textfield-height + ($border-width + $padding-normal)   * 2
$height-marssive  = $textfield-height + ($border-width + $padding-marssive) * 2
$height-huge      = $textfield-height + ($border-width + $padding-huge)     * 2
$height-mini      = $textfield-height + ($border-width + $padding-mini)     * 2
$height-pygmy     = $textfield-height + ($border-width + $padding-pygmy)    * 2

// Vertical layer index.
// ============================================================================
$layer-top-index             = 3000
$layer-middle-index          = 2000
$layer-bottom-index          = 1000
