// UI
//
// **Color:**
//
// + `.ui-white`
// + `.ui-black`
// + `.ui-basis`
// + `.ui-info`
// + `.ui-safe`
// + `.ui-danger`
// + `.ui-warn`
//
// Styleguide 5.26.2
.caret
  border-style solid
  border-color transparent

  &.ui-white
    border-color $bd-white

  &.ui-black
    border-color $bd-black

  &.ui-basis
    border-color $bd-basis

  &.ui-info
    border-color $bd-info

  &.ui-safe
    border-color $bd-safe

  &.ui-danger
    border-color $bd-danger

  &.ui-warn
    border-color $bd-warn

  &.ui-bottom
    border-top-style solid
    border-bottom-style none
    border-right-color transparent
    border-bottom-color transparent
    border-left-color transparent

  &.ui-left
    border-right-style solid
    border-left-style none
    border-top-color transparent
    border-bottom-color transparent
    border-left-color transparent

  &.ui-top
    border-bottom-style solid
    border-top-style none
    border-top-color transparent
    border-right-color transparent
    border-left-color transparent

  &.ui-right
    border-left-style solid
    border-right-style none
    border-top-color transparent
    border-right-color transparent
    border-bottom-color transparent