// State
//
// **State:**
//
// + `active`
//
// Markup:
// <span class="caret pygmy ui-basis ui-top" data-state=""></span>
//
// Styleguide 5.26.3
.caret
  &[data-state='active']
    transform rotate(180deg)