// State
//
// **State:**
//
// + `active`
//
// Markup:
// <button class="btn normal ui-basis">
//   <span class="btn-text">下拉按钮 </span>
//   <span class="caret ui-black ui-bottom" data-state=""></span>
// </button>
//
// Styleguide 5.26.3
.caret
  &[data-state='active']
    transform rotate(180deg)