// Core
//
// **Size:**
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
//
// **Position:**
//
// + `.amid-45`
// + `.amid-90`
// + `.amid-135`
// + `.amid-180`
// + `.amid-225`
// + `.amid-270`
// + `.amid-315`
// + `.amid-360`
//
// Styleguide 5.27.1
.caret
  height 0
  width 0
  display inline-block

  &.pygmy
    border-width round($ht-pygmy * 0.25)

  &.mini
    border-width round($ht-mini * 0.25)

  &.normal
    border-width round($ht-normal * 0.25)

  &.huge
    border-width round($ht-huge * 0.25)

  &.massive
    border-width round($ht-massive * 0.25)

  &.amid-45
    @extend $l-amid-45

  &.amid-90
    @extend $l-amid-90

  &.amid-135
    @extend $l-amid-135

  &.amid-180
    @extend $l-amid-180

  &.amid-225
    @extend $l-amid-225

  &.amid-270
    @extend $l-amid-270

  &.amid-315
    @extend $l-amid-315

  &.amid-360
    @extend $l-amid-360


