// UI
//
// **Stylize:**
//
// + `.ui-isolate`
// + `.ui-mixin`
//
// Styleguide 5.18.2
.msg
  border-width $bd-width

  &.ui-isolate
    border-style solid
    border-radius $rad-round

  &.ui-mixin
    border-style solid none

  &.ui-info
    color $te-info
    border-color $bd-info
    background-color $bg-info

  &.ui-warn
    color $te-warn
    border-color $bd-warn
    background-color $bg-warn

  &.ui-error
    color $te-danger
    border-color $bd-danger
    background-color $bg-danger

.msg-headline
  font-size $te

.msg-detail
  font-size $te-small
