// State
//
// Markup:
// <div class="msg ui-local ui-info">
//   <div class="row">
//     <div class="col col--4of5 col--middle">
//       <h2 class="msg-headline">一条信息标题</h2>
//       <p class="msg-detail">在这里放置对此条信息的详细解释。对问题有一个简短的了解。</p>
//     </div>
//     <div class="col col--1of5 col--middle">
//       <div class="msg-action">
//         <button class="btn normal ui-info">关闭</button>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.18.3
.msg
  null