// State
//
// **State:**
//
// + `checked`
// + `disabled`
//
// Markup:
// <div class="option normal ui-checkbox" data-state="checked">
//   <input class="option-tag" type="checkbox" id="cb-demo">
//   <label class="option-label" for="cb-demo">
//     <span class="option-mock">
//       <span class="option-indicator"></span>
//     </span>
//     <span class="option-text">多选控件</span>
//   </lable>
// </div>
//
// Styleguide 5.3.3
.option
  &[data-state='checked']
    .option-indicator
      opacity 1

  &[data-state='disabled']
    opacity .5

