// Core
//
// **Size:**
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
// Styleguide 5.4.1
.option
  display inline-block
  position relative

  &.pygmy
    @extend $l-pygmy-seamless

  &.mini
    @extend $l-mini-seamless

  &.normal
    @extend $l-normal-seamless

  &.huge
    @extend $l-huge-seamless

  &.massive
    @extend $l-massive-seamless

.option-tag
  opacity 0
  position absolute

.option-mock
  width $tf-height + 2
  height @width
  display block
  position relative
  margin-top -1px
  
.option-indicator
  @extend $l-center

  opacity 0
  display block
