// State
//
// **State:**
//
// + `checked`
// + `disabled`
//
// Markup:
// <div class="option normal ui-checkbox" data-state="checked disabled">
//   <input class="option-tag" type="checkbox" id="cb-demo">
//   <span class="option-mock">
//     <span class="option-indicator"></span>
//   </span>
// </div>
// <label class="label normal" for="cb-demo">选择控件</label>
//
// Styleguide 5.4.3
.option
  &[data-state~='checked']
    .option-indicator
      opacity 1

  &[data-state~='disabled']
    opacity .5

