// UI
//
// **Color:**
//
// + `.ui-white`
// + `.ui-black`
// + `.ui-basis`
// + `.ui-info`
// + `.ui-safe`
// + `.ui-danger`
// + `.ui-warn`
//
// Styleguide 5.25.2  
.circle
  opacity .5
  border-radius $rad-circle

  &.ui-white
    background-color $bd-white

  &.ui-black
    background-color $bd-black

  &.ui-basis
    background-color $bd-basis

  &.ui-info
    background-color $bd-info

  &.ui-safe
    background-color $bd-safe

  &.ui-danger
    background-color $bd-danger

  &.ui-warn
    background-color $bd-warn

