// State
//
// **State:**
//
// + `active`
//
// Markup:
// <div class="circle normal ui-white" data-state="">
//   <span class="circle-indicator"></span>
// </div>
//
// Styleguide 5.27.3
.circle
  &[data-state='active']
    opacity 1