// Core
//
// **Size:**
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
// Styleguide 5.27.1
.circle
  display block
  position relative

  &.pygmy
    width $$be_even($ht-pygmy * .5)
    height @width

  &.mini
    width $$be_even($ht-mini * .5)
    height @width

  &.normal
    width $$be_even($ht-normal * .5)
    height @width

  &.huge
    width $$be_even($ht-huge * .5)
    height @width

  &.massive
    width $$be_even($ht-massive * .5)
    height @width

.circle-indicator
  @extend $l-center

  width 100%
  height 100%
  visibility hidden