// Layer
//
// The topest content container.There are two main layers:
//
// + `.content`
// + `.suspend`
//
// Markup:
// <div class="kss-box">
//   <div id="content" class="layer"></div>
//   <div id="suspend" class="layer"></div>
// </div>
//
// Styleguide 4.1
.layer
  @extend $l-center

#content
  z-index $idx-middle

#suspend
  z-index $idx-top
