// Section
//
// Sub containers divide layer.There are three sections in every layer:
//
// + `header`
// + `main`
// + `footer`
//
// Markup:
// <div class="kss-box">
//   <div id="content" class="layer">
//     <section class="header section">
//       <p>Header</p>
//     </section>
//     <section class="main section">
//       <p>Main</p>
//     </section>
//     <section class="footer section">
//       <p>Footer</p>
//     </section>
//   </div>
// </div>
//
// Styleguide 3.2
.section
  position absolute
  margin 0
  top 0
  right 0
  bottom 0
  left 0

.header
.footer
  z-index $idx-top

.main
  z-index $idx-middle
  padding-top $ht-massive + $bd-width
  padding-bottom @padding-top

.header
  bottom auto

.footer
  top auto
