// Horizontal Align
//
// + `left`
// + `right`
// + `center`
// + `justify`
//
// Markup:
// <div class="center">
//   <span>这是一段文字。</span>
// </div>
//
// Styleguide 3.3.2
$LEFT
.left
  text-align left

$RIGHT
.right
  text-align right

$CENTER
.center
  text-align center

$JUSTIFY
.justify
  text-align justify
