// Line
//
// + `line-article`
// + `line-control`
//
//
// Markup:
// <p class="line-article">这是一条文本，而且内容可以非常的长。所以有些内容就会显示不出来。</p>
//
// Styleguide 3.3.5
$LINE-ARTICLE
.line-article
  line-height $te-line

$LINE-CONTROL
.line-control
  line-height $textfield-height