// String
//
// + `clip`
// + `ellipsis`
// + `wrap`
// + `nowrap`
// + `break`
//
//
// Markup:
// <p class="ellipsis">这是一条文本，而且内容可以非常的长。所以有些内容就会显示不出来。</p>
//
// Styleguide 3.3.4
$CLIP
.clip
$ELLIPSIS
.ellipsis
  white-space nowrap
  overflow hidden

$ELLIPSIS
.ellipsis
  text-overflow ellipsis

$NOWRAP
.nowrap
  white-space nowrap

$WRAP
.wrap
  white-space normal

$BREAK
.break
  word-break break-all