// Vertical Align
//
// + `sup`  Text as **supscript** text.
// + `sub`  Text as **subscript** text.
// + `sink` Text **sink** 1px.
// + `rise` Text **rise** 1px.
//
// Markup:
// <p>tentomon <span class="sup">TM</span></p>
//
// Styleguide 3.3.3
$SUP
.sup
$SUB
.sub
$SINK
.sink
$RISE
.rise
  position relative

$SUP
.sup
  top -.5em

$SUB
.sub
  top .5em

$SINK
.sink
  top 1px

$RISE
.rise
  top -1px


