// Root
//
// 1. intruduce `user-select`:
//
// + mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select?redirectlocale=en-US&redirectslug=CSS%2Fuser-select
// + caniuse: http://caniuse.com/#feat=user-select-none
//
// Designate default font style for root element
.py
  font-size $py
  font-family sans-serif
  line-height $py-line
  user-select none
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  background-color $background-light

  margin 0