// Root
//
// Designate default font style for root element
.tentomon
  font-size $te
  font-family sans-serif
  line-height $te-line
  user-select none
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  background-color $background-light

  margin 0