// Basis
.tab
.nav
.board
.pagination
  border-style solid
  border-width $border-width

  &:active
  &.is-active
    $$top-inner-shadow(1, 0, $highlight-light)

.nav-item
.tab-item
.pagination-item
  @extend .btn

.nav-item
.tab-item
.pagination-item
.board .btn
.board .link

  width 100%
  border-style none
  border-radius 0

  padding-left 0
  padding-right 0
