// Board
//
// **@extend:**
//
// `$GROUP`, `$GROUP-ITEM` & `$ITEM-HORIZONTAL-ROUND`
//
// Markup:
// <div class="board basis-static">
//   <div class="row">
//     <div class="col">
//       <div class="board-item first is-active">
//         <span class="btn full">Left</span>
//       </div>
//     </div>
//     <div class="col">
//       <div class="board-item is-disabled">
//         <span class="btn full">Middle</span>
//       </div>
//     </div>
//     <div class="col">
//       <div class="board-item">
//         <span class="btn full">Middle</span>
//       </div>
//     </div>
//     <div class="col">
//       <div class="board-item last">
//         <span class="btn full">Right</span>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.2.1
.board
  @extend $GROUP

  border-style solid
  border-width $border-width

.board-item
  @extend $GROUP-ITEM
  @extend $ITEM-HORIZONTAL-ROUND

  $btn-border-radius       = $border-radius - 1

  .btn
    border-style none
    border-radius 0

  &.first
    .btn
      border-top-left-radius $btn-border-radius
      border-bottom-left-radius $btn-border-radius

  &.last
    .btn
      border-top-right-radius $btn-border-radius
      border-bottom-right-radius $btn-border-radius

.board
  &.basis-static .board-item
    @extend $GROUP-ITEM-BASIS

  &.info-static .board-item
    @extend $GROUP-ITEM-INFO

  &.safe-static .board-item
    @extend $GROUP-ITEM-SAFE

  &.danger-static .board-item
    @extend $GROUP-ITEM-DANGER

  &.warn-static .board-item
    @extend $GROUP-ITEM-WARN
