// State
//
// Markup:
// <dl class="form">
//   <dd class="form-content">
//     <input type="text" class="textfield normal ui-basis">
//     <label class="magnet normal ui-basis ui-round amid-315">
//       <span class="magnet-text">用户名</span>
//     </label>
//   </dd>
// </dl>
//
// Styleguide 5.10.3
.magnet
  null
