// Brand
//
// Markup:
// <p class="sg-color kss-main-brand">$brand-basis</p>
// <p class="sg-color kss-ok-brand">$brand-safe</p>
// <p class="sg-color kss-warn-brand">$brand-warn</p>
// <p class="sg-color kss-danger-brand">$brand-danger</p>
// <p class="sg-color kss-info-brand">$brand-info</p>
//
// Styleguide 1.6.1
.kss-main-brand
.kss-ok-brand
.kss-warn-brand
.kss-info-brand
  border-radius $border-radius

.kss-main-brand
  color $black
  background-color $brand-basis

.kss-ok-brand
  background-color $brand-safe

.kss-warn-brand
  color $black
  background-color $brand-warn

.kss-danger-brand
  background-color $brand-danger

.kss-info-brand
  background-color $brand-info

// Greys
//
// Markup:
// <p class="sg-color white">$white</p>
// <p class="sg-color black">$black</p>
// <p class="sg-color grey">$grey</p>
// <p class="sg-color grey-light">$grey-light</p>
// <p class="sg-color grey-heavy">$grey-heavy</p>
//
// Styleguide 1.6.2
.white
.black
.grey
.grey-light
.grey-heavy
  border-radius $border-radius

.white
  color $black
  background-color $white

.black
  background-color $black

.grey
  color $black
  background-color $grey

.grey-light
  color $black
  background-color $grey-light

.grey-heavy
  color $black
  background-color $grey-heavy

// Border
//
// Markup:
// <p class="sg-color kss-border-light">$border-light</p>
// <p class="sg-color kss-border-heavy">$border-heavy</p>
//
// Styleguide 1.6.3
.kss-border-light
.kss-border-heavy
  color $black
  border-radius $border-radius

.kss-border-light
  border solid 3px $border-light

.kss-border-heavy
  border solid 3px $border-heavy

// Highlight
//
// Markup:
// <div class="kss-info-brand">
//   <p class="sg-color kss-highlight-light">$highlight-light</p>
// </div>
// <div class="kss-info-brand">
//   <p class="sg-color kss-highlight-heavy">$highlight-heavy</p>
// </div>
//
// Styleguide 1.6.4
.kss-highlight-light
.kss-highlight-heavy
  border-radius $border-radius

.kss-highlight-light
  $$top-inner-shadow(3, 0, $highlight-light)

.kss-highlight-heavy
  $$top-inner-shadow(3, 0, $highlight-heavy)

// Shadow
//
// Markup:
// <div class="kss-info-brand">
//   <p class="sg-color kss-shadow-light">$shadow-light</p>
// </div>
// <div class="kss-info-brand">
//   <p class="sg-color kss-shadow-heavy">$shadow-heavy</p>
// </div>
//
// Styleguide 1.6.5
.kss-shadow-light
.kss-shadow-heavy
  border-radius $border-radius

.kss-shadow-light
  $$top-inner-shadow(-3, 0, $shadow-light)

.kss-shadow-heavy
  $$top-inner-shadow(-3, 0, $shadow-heavy)

// Translucent
//
// Markup:
// <div class="kss-info-brand">
//   <p class="sg-color kss-translucent-white">$translucent-white</p>
// </div>
// <div class="kss-info-brand">
//   <p class="sg-color kss-translucent-black">$translucent-black</p>
// </div>
//
// Styleguide 1.6.6
.kss-translucent-white
.kss-translucent-black
  border-radius $border-radius

.kss-translucent-white
  color $black
  background-color $translucent-white

.kss-translucent-black
  background-color $translucent-black
