// Public text style shared across the project

// Specific the default `line-height`
// Both original document and form elements
body
button
input
optgroup
select
textarea
  margin 0
  line-height $py-line