// Hedaline
//
// **@extend:**
//
// `$BOX`
//
// Markup:
// <h1 class="headline seamless huge">
//   <span class="headline-icon oi icon rise naked" data-glyph="star"></span>Headline
// </h1>
//
// Styleguide 4.4
.headline
  @extend $BOX

  font-weight bold

  margin 0
  display block