// Hedaline
//
// **@extend:**
//
// `$BOX`
//
// Markup:
// <h1 class="headline seamless huge">
//   <span class="headline-text">Headline</span>
// </h1>
//
// Styleguide 5.4
.headline
  @extend $BOX

  font-weight bold

  margin 0
  display block
