// State
//
// Markup:
// <div class="panel ui-basis">
//   <div class="panel-header">
//     <span class="headline normal">标题</span>
//   </div>
//   <div class="panel-content">
//     <span>这是一段内容。</span>
//   </div>
//   <div class="panel-footer">
//     <span class="panel-notice">以上信息仅供参考。</span>
//   </div>
// </div>
//
// Styleguide 5.23.3
.panel
  null