// State
//
// Markup:
// <div class="checkbox normal">
//   <input class="checkbox-tag" type="checkbox" id="cb-demo">
//   <label class="checkbox-label" for="cb-demo">
//     <span class="checkbox-mock">
//       <span class="checkbox-indicator"></span>
//     </span>
//     <span class="checkbox-text">多选控件</span>
//   </lable>
// </div>
//
// Styleguide 5.3.3
.checkbox-tag:checked + .checkbox-label .checkbox-indicator
  opacity 1
