// UI
//
// Styleguide 5.3.2
.checkbox
  line-height $tf-height

.checkbox-mock
  @extend $ui-basis-static

  border-style solid
  border-width $bd-width
  border-radius $bd-radius

.checkbox-indicator
  border-color $te-safe
  border-width 3px
  border-style none none solid solid
