// Amid
//
// + `amid-x`      Position inside (x ∈ { x | x = 45n, n ∈ N:n <= 8 } ).
// + `centripetal` Move inside one border width length.
// + `centrifugal` Move outside one border width length.
//
//
// Markup:
// <div class="kss-box box">
//   <span class="btn basis amid-180">内部下方</span>
// </div>
//
// Styleguide 3.2.1
$AMID-45
.amid-45
$AMID-90
.amid-90
$AMID-120
.amid-120
$AMID-135
.amid-135
$AMID-180
.amid-180
$AMID-225
.amid-225
$AMID-270
.amid-270
$AMID-315
.amid-315
$AMID-360
.amid-360
  margin auto
  position absolute

$AMID-45
.amid-45
$AMID-315
.amid-315
$AMID-360
.amid-360
  top 0

$AMID-45
.amid-45
$AMID-90
.amid-90
$AMID-120
.amid-120
$AMID-135
.amid-135
  right 0

$AMID-120
.amid-120
$AMID-135
.amid-135
$AMID-180
.amid-180
$AMID-225
.amid-225
  bottom 0

$AMID-225
.amid-225
$AMID-270
.amid-270
$AMID-315
.amid-315
  left 0

// horizontal center
$AMID-180
.amid-180
$AMID-360
.amid-360
  margin-left 50%
  transform translateX(-50%)

// vertical center
// height statement is required
$AMID-90
.amid-90
$AMID-270
.amid-270
  top 0
  bottom 0

$AMID-45
.amid-45
$AMID-315
.amid-315
$AMID-360
.amid-360
  &.centripetal
    margin-top $border-width

$AMID-45
.amid-45
$AMID-90
.amid-90
$AMID-135
.amid-135
  &.centripetal
    margin-right $border-width

$AMID-135
.amid-135
$AMID-180
.amid-180
$AMID-225
.amid-225
  &.centripetal
    margin-bottom $border-width

$AMID-225
.amid-225
$AMID-270
.amid-270
$AMID-315
.amid-315
  &.centripetal
    margin-left $border-width

$AMID-45
.amid-45
$AMID-315
.amid-315
$AMID-360
.amid-360
  &.centrifugal
    margin-top $border-width * -1

$AMID-45
.amid-45
$AMID-90
.amid-90
$AMID-135
.amid-135
  &.centrifugal
    margin-right $border-width * -1

$AMID-135
.amid-135
$AMID-180
.amid-180
$AMID-225
.amid-225
  &.centrifugal
    margin-bottom $border-width * -1

$AMID-225
.amid-225
$AMID-270
.amid-270
$AMID-315
.amid-315
  &.centrifugal
    margin-left $border-width * -1
