// Amid
//
// **Global Modifiers:**
//
// + `amid-x`  Position amid parent(x ∈ { x | x = 45n, n ∈ N:n <= 8 } ).
// + `amid-embed` Cover parent border
//
//
// Markup:
// <div class="kss-box box basis-static">
//   <span class="btn basis amid-180 amid-embed">内部下方</span>
// </div>
//
// Styleguide 3.3.1
.amid-45
.amid-90
.amid-120
.amid-135
.amid-180
.amid-225
.amid-270
.amid-315
.amid-360
  margin auto
  position absolute

.amid-45
.amid-315
.amid-360
  top 0

.amid-45
.amid-90
.amid-120
.amid-135
  right 0

.amid-120
.amid-135
.amid-180
.amid-225
  bottom 0

.amid-225
.amid-270
.amid-315
  left 0

// horizontal center
.amid-180
.amid-360
  margin-left 50%
  transform translateX(-50%)

// vertical center
// height statement is required
.amid-90
.amid-270
  top 0
  bottom 0

.amid-embed
  &.amid-45
  &.amid-315
  &.amid-360
    margin-top $border-width * -1

  &.amid-45
  &.amid-90
  &.amid-135
    margin-right $border-width * -1

  &.amid-135
  &.amid-180
  &.amid-225
    margin-bottom $border-width * -1

  &.amid-225
  &.amid-270
  &.amid-315
    margin-left $border-width * -1