// Around
//
// + `around-x` Position outside (x ∈ { x | x = 30, n ∈ N:n <= 12 } ).
// + `align`    Align component with container border.
//
//
// Markup:
// <div class="kss-box box">
//   <span class="btn basis around-180">外部下方</span>
// </div>
//
// Styleguide 3.2.2
$AROUND-30
.around-30
$AROUND-60
.around-60
$AROUND-90
.around-90
$AROUND-120
.around-120
$AROUND-150
.around-150
$AROUND-180
.around-180
$AROUND-210
.around-210
$AROUND-240
.around-240
$AROUND-270
.around-270
$AROUND-300
.around-300
$AROUND-330
.around-330
$AROUND-360
.around-360
  position absolute

$AROUND-30
.around-30
$AROUND-330
.around-330
$AROUND-360
.around-360
  top $bd-width * -1
  transform translateY(-100%)

$AROUND-60
.around-60
$AROUND-90
.around-90
$AROUND-120
.around-120
  right $bd-width * -1
  transform translateX(100%)

$AROUND-150
.around-150
$AROUND-180
.around-180
$AROUND-210
.around-210
  bottom $bd-width * -1
  transform translateY(100%)

$AROUND-240
.around-240
$AROUND-270
.around-270
$AROUND-300
.around-300
  left $bd-width * -1
  transform translateX(-100%)

$AROUND-30
.around-30
$AROUND-150
.around-150
  right 0

$AROUND-60
.around-60
$AROUND-300
.around-300
  top 0

$AROUND-90
.around-90
$AROUND-270
.around-270
  top 50%

$AROUND-120
.around-120
$AROUND-240
.around-240
  bottom 0

$AROUND-180
.around-180
$AROUND-360
.around-360
  left 50%

$AROUND-210
.around-210
$AROUND-330
.around-330
  left 0

$AROUND-90
.around-90
  transform translate(100%, -50%)

$AROUND-180
.around-180
  transform translate(-50%, 100%)

$AROUND-270
.around-270
  transform translate(-100%, -50%)

$AROUND-360
.around-360
  transform translate(-50%, -100%)

// Cover parent border by negative margin.

$AROUND-30
.around-30
$AROUND-150
.around-150
  &.align
    margin-right $bd-width * -1

$AROUND-60
.around-60
$AROUND-300
.around-300
  &.align
    margin-top $bd-width * -1

$AROUND-120
.around-120
$AROUND-240
.around-240
  &.align
    margin-bottom $bd-width * -1

$AROUND-210
.around-210
$AROUND-330
.around-330
  &.align
    margin-left $bd-width * -1
