// Warning UI
//
// **UI:**
//
// + `warn`          Warning UI with all state style.
// + `warn-static`   Warning UI without state style.
//
//
// **Motion:**
//
// + `is-active`
// + `is-disabled`
//
// Markup:
// <button class="btn warn">按钮</button>
//
// Styleguide 5.5
.warn
.warn-static
  $warn$()

.warn:active
.warn.is-active
  $warn-active$()

.warn:disabled
.warn.is-disabled
  $warn-disabled$()
