// State
//
// Markup:
// <h1 class="headline huge">
//   <span class="headline-icon"></span>
//   <span class="headline-text">标题 - 过长的内容默认情况下会被省略掉。</span>
// </h1>
//
// Styleguide 5.19.3
.headline
  null
