// UI
//
// **Color:**
//
// + `.ui-basis`
// + `.ui-info`
// + `.ui-safe`
// + `.ui-danger`
// + `.ui-warn`
//
// Styleguide 5.19.2
.headline
  font-size $te
  font-weight bold
  line-height $tf-height

  &.ui-basis
    @extend $ui-basis-static

  &.ui-info
    @extend $ui-info-static

  &.ui-safe
    @extend $ui-safe-static

  &.ui-danger
    @extend $ui-danger-static

  &.ui-warn
    @extend $ui-warn-static
