// UI
//
// List Style Type:
//
// + `.ui-disc`
// + `.ui-circle`
// + `.ui-decimal`
//
// Item Separator Style:
//
// + `.ui-solid`
// + `.ui-notch`
// + `.ui-dashed`
// + `.ui-dotted`
// + `.ui-notch`
// + `.ui-sunken`
// + `.ui-dot`
//
// Item Separator Color:
//
// + `.ui-basis`
// + `.ui-info`
// + `.ui-safe`
// + `.ui-danger`
// + `.ui-warn`
//
// Styleguide 5.15.2
.menu
  > li
    border-width $bd-width

  &.ui-basis
    > li
      border-color $bd-basis

  &.ui-info
    > li
      border-color $bd-info

  &.ui-safe
    > li
      border-color $bd-safe

  &.ui-danger
    > li
      border-color $bd-danger

  &.ui-warn
    > li
      border-color $bd-warn

  &.ui-disc
  &.ui-circle
  &.ui-decimal
    list-style-position inside

  &.ui-disc
    list-style-type disc

  &.ui-circle
    list-style-type circle

  &.ui-decimal
    list-style-type decimal

  &.ui-solid
  &.ui-notch
  &.ui-dashed
  &.ui-dotted
    > li.last
      border-right-style none

  &.ui-solid
  &.ui-notch
    > li
      border-right-style solid

  &.ui-dashed
    > li
      border-right-style dashed

  &.ui-dotted
    > li
      border-right-style dotted

  &.ui-notch
    > li
      $$left-inner-shadow(1, 0, $highlight-light)

  &.ui-sunken
    &.ui-basis > li:after
      background-image radial-gradient(farthest-side at center top, $bd-basis, transparent)
      
    &.ui-info > li:after
      background-image radial-gradient(farthest-side at center top, $bd-info, transparent)
      
    &.ui-safe > li:after
      background-image radial-gradient(farthest-side at center top, $bd-safe, transparent)
      
    &.ui-danger > li:after
      background-image radial-gradient(farthest-side at center top, $bd-danger, transparent)
      
    &.ui-warn > li:after
      background-image radial-gradient(farthest-side at center top, $bd-warn, transparent)

  &.ui-dot
    > li:after
      text-align center

  &.ui-dot
    &.ui-basis
      > li:after
        color $bd-basis

    &.ui-info
      > li:after
        color $bd-info

    &.ui-safe
      > li:after
        color $bd-safe

    &.ui-danger
      > li:after
        color $bd-danger

    &.ui-warn
      > li:after
        color $bd-danger
