// State
//
// Markup:
// <ul class="menu row ui-basis ui-solid">
//   <li class="first col">香蕉</li>
//   <li class="col">雪梨</li>
//   <li class="last col">西瓜</li>
// </ul>
//
// Styleguide 5.15.3
.menu
  null
