// State
//
// Markup:
// <ul class="menu row ui-basis ui-solid">
//   <li class="first col">
//     <button class="btn normal ui-text">香蕉</button>
//   </li>
//   <li class="col">
//     <button class="btn normal ui-text">雪梨</button>
//   </li>
//   <li class="last col">
//     <button class="btn normal ui-text">西瓜</button>
//   </li>
// </ul>
//
// Styleguide 5.15.3
.menu
  null
