// State
//
// **State:**
//
// + `done`
// + `waiting`
//
// Markup:
// <div class="progress normal" data-state="waiting">
//   <span class="progress-indicator">
//     <span class="progress-text-reverse">提示</span>
//   </span>
//   <span class="progress-text">提示</span>
// </div>
//
// Styleguide 5.8.3
.progress
  &[data-state~='done']
    .progress-indicator
      width 100%

  &[data-state~='waiting']
    @extend $stripes-diagonal

    background-color $bd-heavy
