// UI
//
// **Stylize:**
//
// + `.ui-clean`   Clean the progress text.
// + `.ui-banding` Tiny progress with banding style.
//
// Styleguide 5.8.2
.progress
  @extend $ui-basis-static

  line-height $tf-height
  border-radius $bd-radius

  &.ui-clean
    .progress-text
    .progress-text-reverse
      visibility hidden

  &.ui-banding
    &
    .progress-indicator
      border-radius 0

    .progress-text
    .progress-text-reverse
      display none


.progress-indicator
  @extend $ui-safe-static

  border-radius $bd-radius - 1

.progress-text
.progress-text-reverse
  text-align center

.progress-text-reverse
  color $white
