// Bar
//
// Markup:
// <div class="bar basis-static">
//   <div class="row">
//     <div class="col col--1of5 center">
//       <span class="btn seamless marssive a-color-heavy">
//         <span data-glyph="chevron-left" class="oi"></span>
//       </span>
//     </div>
//     <div class="col col--3of5 center">
//       <h1 class="headline seamless marssive">首页</h1>
//     </div>
//     <div class="col col--1of5 center">
//       <span class="btn seamless marssive a-color-heavy">
//         <span data-glyph="magnifying-glass" class="oi"></span>
//       </span>
//     </div>
//   </div>
// </div>
//
// Styleguide 7.28
.bar
  border-style solid none
  border-width $border-width
  border-radius 0