// Amid
//
// **Global Modifiers:**
//
// + `amid-30`  Component position amid parent in **30deg**
// + `amid-60`  Component position amid parent in **60deg**
// + `amid-90`  Component position amid parent in **90deg**
// + `amid-120` Component position amid parent in **120deg**
// + `amid-150` Component position amid parent in **150deg**
// + `amid-180` Component position amid parent in **180deg**
// + `amid-210` Component position amid parent in **210deg**
// + `amid-240` Component position amid parent in **240deg**
// + `amid-270` Component position amid parent in **270deg**
// + `amid-300` Component position amid parent in **300deg**
// + `amid-330` Component position amid parent in **330deg**
// + `amid-360` Component position amid parent in **360deg**
//
//
// Markup:
// <div class="kss-box box basis-static">
//   <span class="btn basis amid-180">内部下方</span>
// </div>
//
// Styleguide 3.4.14
.amid-30
  @extend $AMID-30

.amid-60
  @extend $AMID-60

.amid-90
  @extend $AMID-90

.amid-120
  @extend $AMID-120

.amid-150
  @extend $AMID-150

.amid-180
  @extend $AMID-180

.amid-210
  @extend $AMID-210

.amid-240
  @extend $AMID-240

.amid-270
  @extend $AMID-270

.amid-300
  @extend $AMID-300

.amid-330
  @extend $AMID-330

.amid-360
  @extend $AMID-360