// Collapse
//
// **Global Modifiers:**
//
// + `collapse`           Remove **all** padding.
// + `collapse-top`       Remove **top** padding.
// + `collapse-bottom`    Remove **bottom** padding.
// + `collapse-left`      Remove **left** padding.
// + `collapse-right`     Remove **right** padding.
//
//
// Markup:
// <input type="text" class="textfield basis-static indent-left">
//
// Styleguide 3.4.8
.collapse
  padding 0 !important

.collapse-top
  padding-top 0 !important

.collapse-bottom
  padding-bottom 0 !important

.collapse-left
  padding-left 0 !important

.collapse-right
  padding-right 0 !important