// Display
//
// **Global Modifiers:**
//
// + `block`         Display as block.
// + `inline`        Display as inline text.
// + `inline-block`  Display as inline block.
//
// Markup:
// <span class="block">一段文字</span>
//
// Styleguide 3.4.12
.block
  display block !important

.inline
  display inline !important

.inline-block
  display inline-block !important