// Fold
//
// + `fold`               Remove **all** margin.
// + `fold-top`           Remove **top** margin.
// + `fold-bottom`        Remove **bottom** margin.
// + `fold-left`          Remove **left** margin.
// + `fold-right`         Remove **right** margin.
//
//
// Markup:
// <input type="text" class="textfield basis-static hang-left">
//
// Styleguide 4.11
.fold
  margin 0 !important

.fold-top
  margin-top 0 !important

.fold-bottom
  margin-bottom 0 !important

.fold-left
  margin-left 0 !important

.fold-right
  margin-right 0 !important