// Hang
//
// **Global Modifiers:**
//
// + `hang-left`         Negative **left** margin side.
// + `hang-right`        Negative **right** margin side.
//
//
// Markup:
// <input type="text" class="textfield basis-static hang-left">
//
// Styleguide 3.4.9
.hang-left
  margin-left $gap-horizontal * -1 !important
  padding-left $gap-horizontal !important

.hang-right
  margin-right $gap-horizontal * -1 !important
  padding-right $gap-horizontal !important