// Indent
//
// **Indent Left & Right:**
//
// + `indent`            Indent **horizontal** side.
// + `indent-2x`         Indent **horizontal** double gaps.
// + `indnet-3x`         Indent **horizontal** triple gaps.
// + `indnet-col`        Indent **horizontal** one column.
// + `indent-2col`       Indent **horizontal** double column.
//
//
// **Indent Left:**
// 
// + `indent-left`       Indent **left** side.
// + `indent-left-2x`    Indent **left** double gaps.
// + `indent-left-3x`    Indent **left** triple gaps.
// + `indent-left-col`   Indent **left** one column.
// + `indent-left-2col`  Indent **left** double columns.
//
//
// **Indent Right:**
//
// + `indent-right`      Indent **right** side.
// + `indent-right-2x`   Indent **right** double gaps.
// + `indent-right-3x`   Indent **right** triple gaps.
// + `indent-right-col`  Indent **right** one column.
// + `indent-right-2col` Indent **right** double columns.
//
//
// Markup:
// <input type="text" class="textfield basis-static indent-left">
//
// Styleguide 4.7
.indent
  padding-left $gap-horizontal !important
  padding-right @padding-left

.indnet-2x
  padding-left $gap-double !important
  padding-right @padding-left

.indnet-3x
  padding-left $gap-triple !important
  padding-right @padding-left

.indent-col
  padding-left $column-single !important
  padding-right @padding-left

.indent-2col
  padding-left $column-double !important
  padding-right @padding-left

.indent-left
  padding-left $gap-horizontal !important

.indent-left-2x
  padding-left $gap-double !important

.indent-left-3x
  padding-left $gap-triple !important

.indent-left-col
  padding-left $column-single !important

.indent-left-2col
  padding-left $column-double !important

.indent-right
  padding-right $gap-horizontal !important

.indent-right-2x
  padding-right $gap-double !important

.indent-right-3x
  padding-right $gap-triple !important

.indent-right-col
  padding-right $column-single !important

.indent-right-2col
  padding-right $column-double !important