// Index
//
// + `top`    Component position on **top** between sibling components.
// + `middle` Component position on **middle** between sibling components.
// + `bottom` Component position on **bottom** between sibling components.
//
//
// Markup:
// <div class="box kss-box relative">
//   <div class="btn basis absolute push-top push-left bottom">壹号按钮</div>
//   <div class="btn basis absolute push-top-2x push-left-2x top">贰号按钮</div>
// </div>
//
// Styleguide 4.15
.top
  z-index $top-index !important

.middle
  z-index $middle-index !important

.bottom
  z-index $bottom-index !important
