// Pointer events
//
// **Global Modifiers:**
//
// + `through` + Mouse event **through** component.
// + `impede`  + **Impede** mouse event on target component.
//
// Markup:
// <a href="#" class="through">链接</a>
//
// Styleguide 3.4.13
.through
  pointer-events none !important

.impede
  pointer-events auto !important