// Position
//
// + `static`   Position in normal document flow.
// + `relative` Position relative itself.
// + `absolute` Position outer of document flow.
//
//
// Markup:
// <div class="box kss-box relative">
//   <div class="btn basis absolute">按钮</div>
// </div>
//
// Styleguide 4.14
.static
  position static !important

.relative
  position relative !important

.absolute
  position absolute !important
