// Push
//
// **Global Modifiers:**
//
// + `push-left`       Padding **left** side.
// + `push-left-2x`    Padding **left** double horizontal gaps.
// + `push-left-3x`    Padding **left** triple horizontal gaps.
// + `push-left-col`   Padding **left** one column.
// + `push-left-2col`  Padding **left** double columns.
// + `push-right`      Padding **right** side.
// + `push-right-2x`   Padding **right** double horizontal gaps.
// + `push-right-3x`   Padding **right** triple horizontal gaps.
// + `push-right-col`  Padding **right** one column.
// + `push-right-2col` Padding **right** double columns.
// + `push-top`        Padding **top** side.
// + `push-top-2x`     Padding **top** double horizontal gaps.
// + `push-top-3x`     Padding **top** triple horizontal gaps.
// + `push-bottom`     Padding **bottom** side.
// + `push-bottom-2x`  Padding **bottom** double horizontal gaps.
// + `push-bottom-3x`  Padding **bottom** triple horizontal gaps.
//
//
// Markup:
// <input type="text" class="textfield basis-static push-left">
//
// Styleguide 3.4.11
.push-left
  margin-left $gap-horizontal !important

.push-left-half
  margin-left round($gap-horizontal / 2) !important

.push-left-2x
  margin-left $gap-horizontal * 2 !important

.push-left-3x
  margin-left $gap-horizontal * 3 !important

.push-left-col
  margin-left 20% !important

.push-left-2col
  margin-left 40% !important

.push-right
  margin-right $gap-horizontal !important

.push-right-half
  margin-right round($gap-horizontal / 2) !important

.push-right-2x
  margin-right $gap-horizontal * 2 !important

.push-right-3x
  margin-right $gap-horizontal * 3 !important

.push-right-col
  margin-right 20% !important

.push-right-2col
  margin-right 40% !important

.push-top
  margin-top $gap-horizontal !important

.push-top-half
  margin-top round($gap-horizontal / 2) !important

.push-top-2x
  margin-top $gap-horizontal * 2 !important

.push-top-3x
  margin-top $gap-horizontal * 3 !important

.push-top-col
  margin-top 20% !important

.push-top-2col
  margin-top 40% !important

.push-bottom
  margin-bottom $gap-horizontal !important

.push-bottom-half
  margin-bottom round($gap-horizontal / 2) !important

.push-bottom-2x
  margin-bottom $gap-horizontal * 2 !important

.push-bottom-3x
  margin-bottom $gap-horizontal * 3 !important

.push-bottom-col
  margin-bottom 20% !important

.push-bottom-2col
  margin-bottom 40% !important