// Push
//
//
// **Push Left:**
//
// + `push-left`       Padding **left** side.
// + `push-left-half`  Padding **left** half gap.
// + `push-left-2x`    Padding **left** double gaps.
// + `push-left-3x`    Padding **left** triple gaps.
// + `push-left-col`   Padding **left** one column.
// + `push-left-2col`  Padding **left** double columns.
//
//
// **Push Right:**
//
// + `push-right`      Padding **right** side.
// + `push-right-half` Padding **right** half gap.
// + `push-right-2x`   Padding **right** double gaps.
// + `push-right-3x`   Padding **right** triple gaps.
// + `push-right-col`  Padding **right** one column.
// + `push-right-2col` Padding **right** double columns.
//
//
// **Push Top:**
//
// + `push-top`        Padding **top** side.
// + `push-top-2x`     Padding **top** double gaps.
// + `push-top-3x`     Padding **top** triple gaps.
//
//
// **Push Bottom:**
//
// + `push-bottom`     Padding **bottom** side.
// + `push-bottom-2x`  Padding **bottom** double gaps.
// + `push-bottom-3x`  Padding **bottom** triple gaps.
//
//
// Markup:
// <input type="text" class="textfield basis-static push-left">
//
// Styleguide 4.8
.push-left
  margin-left $gap-horizontal !important

.push-left-half
  margin-left $gap-half !important

.push-left-2x
  margin-left $gap-double !important

.push-left-3x
  margin-left $gap-triple !important

.push-left-col
  margin-left $column-single !important

.push-left-2col
  margin-left $column-double !important

.push-right
  margin-right $gap-horizontal !important

.push-right-half
  margin-right $gap-half !important

.push-right-2x
  margin-right $gap-double !important

.push-right-3x
  margin-right $gap-triple !important

.push-right-col
  margin-right $column-single !important

.push-right-2col
  margin-right $column-double !important

.push-top
  margin-top $gap-horizontal !important

.push-top-half
  margin-top $gap-half !important

.push-top-2x
  margin-top $gap-double !important

.push-top-3x
  margin-top $gap-triple !important

.push-top-col
  margin-top $column-single !important

.push-top-2col
  margin-top $column-double !important

.push-bottom
  margin-bottom $gap-horizontal !important

.push-bottom-half
  margin-bottom $gap-half !important

.push-bottom-2x
  margin-bottom $gap-double !important

.push-bottom-3x
  margin-bottom $gap-triple !important

.push-bottom-col
  margin-bottom $column-single !important

.push-bottom-2col
  margin-bottom $column-double !important