// Rotate
//
// **Rotate Left:** 
//
// + `rotate-45`   Rotate **45** degrees.
// + `rotate-90`   Rotate **90** degrees.
// + `rotate-135`  Rotate **135** degrees.
// + `rotate-180`  Rotate **180** degrees.
//
//
// **Rotate Right:**
//
// + `rotate-r45`  Rotate **-45** degrees.
// + `rotate-r90`  Rotate **-90** degrees.
// + `rotate-r135` Rotate **-135** degrees.
// + `rotate-r180` Rotate **-180** degrees.
//
// Markup:
// <div class="kss-box center rotate-45">
//   <span class="kss-box-text">这是一个框！</span>
// </div>
//
// Styleguide 4.6
.rotate-45
  transform rotate(45deg) !important

.rotate-90
  transform rotate(90deg) !important

.rotate-135
  transform rotate(130deg) !important

.rotate-180
  transform rotate(180deg) !important

.rotate-r45
  transform rotate(-45deg) !important

.rotate-r90
  transform rotate(-90deg) !important

.rotate-r130
  transform rotate(-130deg) !important

.rotate-r180
  transform rotate(-180deg) !important
