// Width
//
// Constraint component width.
//
// + `quarter` Width is **quarter** of parent element.
// + `half`    Width is **half** of parent element.
// + `full`    Width equal to parent element.
//
// Markup:
// <button class="btn basis half">按钮</button>
//
// Styleguide 4.4
.quarter
  width 25% !important

.half
  width 50% !important

.full
  width 100% !important
