// translucent($color, $alpha)
//
// Add alpha channel into rgb color.
// The origin alpha channel will be override by new value.
//
// + `$color` `rgba`
// + `$alpha` `unit` The new value for alpha channel.
//
// Styleguide 1.1.1
translucent($color, $alpha) {
  ensure($color, "rgba")

  $red = red($color)
  $green = green($color)
  $blue = blue($color)

  return rgba($red, $green, $blue, unit($alpha, "%"))
}
