// $$state-selector($name)
//
// + `$name` Feature name in selector.
//
// Styleguide 1.3.1
$$state-selector($name)
  $selector-list = ()

  for $state-name in $states
    $alias = $state-name[0]
    $state  = $state-name[1]

    if $alias
      $selector = '.' + $alias + '-' + $name + $state
    else
      $selector = '.' + $name + $state

    push($selector-list, $selector)

  return join(',', $selector-list)
