// Core
//
// **Size:**
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
// Styleguide 5.5.1
.toggle
  display inline-block

  &.pygmy
    @extend $l-pygmy-seamless

  &.mini
    @extend $l-mini-seamless

  &.normal
    @extend $l-normal-seamless

  &.huge
    @extend $l-huge-seamless

  &.massive
    @extend $l-massive-seamless

.toggle-tag
  opacity 0
  position absolute

.toggle-mock
  width $te-larger * 2.2
  height $te-larger * 1.5
  position relative
  margin-top round((@height - $tf-height) / 2 * -1)

.toggle-indicator
  @extend $l-center-left

  width $te-larger * 1.5 - 4
  height @width
  display block
