// State
//
// Markup:
// <div class="toggle normal">
//   <input class="toggle-tag" type="checkbox" id="tg-demo">
//   <label class="toggle-label" for="tg-demo">
//     <span class="toggle-mock">
//       <span class="toggle-indicator"></span>
//     </span>
//     <span class="toggle-text">开关</span>
//   </lable>
// </div>
//
// Styleguide 5.5.3
.toggle-tag:checked + .toggle-label
  .toggle-mock
    @extend $ui-safe-static

  .toggle-indicator
    left auto
    right 0
