// State
//
// **State:**
//
// + `checked`
// + `disabled`
//
// Markup:
// <div class="toggle normal" data-state="checked disabled">
//   <input class="toggle-tag" type="checkbox" id="tg-demo">
//   <div class="toggle-mock">
//     <span class="toggle-indicator"></span>
//   </div>
// </div>
// <label class="label normal" for="tg-demo">开关</label>
//
// Styleguide 5.5.3
.toggle
  &[data-state~='checked']
    .toggle-mock
      @extend $ui-safe-static

    .toggle-indicator
      left auto
      right 0

  &[data-state~='disabled']
    opacity .5
