// UI
//
// Styleguide 5.5.2
.toggle
  line-height $tf-height
  vertical-align middle

.toggle-tag
  outline 0

.toggle-mock
  @extend $ui-basis-static

  border-style solid
  border-width $bd-width
  border-radius 100px

.toggle-indicator
  @extend $ui-basis-static

  border-radius 50%
  outer-glow($shadow-dark, 1)
