// Global Error
//
// Markup:
// <div class="panel basis-static">
//   <div class="panel-header basis-static">
//     <strong class="panel-title headline seamless">用户登陆</strong>
//   </div>
//   <div class="panel-content">
//     <div class="fieldset">
//       <div class="flash danger-static">
//         <div class="row">
//           <div class="col col--4of5">
//             <h3 class="flash-title headline seamless">登陆失败</h3>
//             <p class="flash-content small">这是一条错误信息。</p>
//           </div>
//           <div class="col col--middle col--1of5">
//             <div class="flash-control">
//               <span class="oi" data-glyph="x"></span>
//             </div>
//           </div>
//         </div>
//       </div>
//       <dl class="form">
//         <dt class="form-title">
//           <label for="t-4-1-2-1">用户名</label>
//         </dt>
//         <dd class="form-content row">
//           <span class="col">
//             <input id="t-4-1-2-1" type="text" class="textfield basis">
//           </span>
//         </dd>
//       </dl>
//       <dl class="form">
//         <dt class="form-title">
//           <label for="t-4-1-2-2">密码</label>
//         </dt>
//         <dd class="form-content row">
//           <span class="col">
//             <input id="t-4-1-2-2" type="text" class="textfield basis">
//           </span>
//         </dd>
//       </dl>
//       <dl class="form">
//         <p class="checkbox seamless">
//           <input class="checkbox-tag" type="checkbox" id="c-4-1-2-3">
//           <label class="checkbox-label" for="c-4-1-2-3">
//             <span>记住密码</span>
//             <span class="checkbox-mock basis">
//               <span class="checkbox-indicator"></span>
//             </span>
//           </lable>
//         </p>
//       </dl>
//       <dl class="form">
//         <dd class="form-content row">
//           <span class="col">
//             <input id="login" type="button" class="btn basis full" value="登陆">
//           </span>
//         </dd>
//       </dl>
//     </div>
//   </div>
// </div>
//
// Styleguide 6.1.2
