// Horizontal
//
// **Ordinary:**
//
// + `dot`    Item spearate by **dot**.
// + `solid`  Item spearate by **solid** border.
// + `notch`  Item spearate by border with **hightlight**.
// + `sunken` Item spearate by border which **sunken** one side.
// + `tight`  Item spearate with **small** gap
// + `loose`  Item spearate with **big** gap.
//
// Markup:
// <ul class="list horizontal row dot">
//   <li class="first col"><span class="link full">香蕉</span></li>
//   <li class="col"><span class="link full">草莓</span></li>
//   <li class="col"><span class="link full">奇异果</span></li>
//   <li class="last col"><span class="link full">榴莲</span></li>
// </ul>
//
// Styleguide 7.23.2
.list.horizontal
  &
    @extend $LIST

  &.round
    @extend $ITEM-HORIZONTAL-ROUND

  &.dot > li
    @extend $ITEM-HORIZONTAL-DOT

  &.solid > li
    @extend $ITEM-HORIZONTAL-SOLID

  &.notch > li
    @extend $ITEM-HORIZONTAL-NOTCH

  &.sunken > li
    @extend $ITEM-HORIZONTAL-SUNKEN

  &.tight > li
    @extend $ITEM-HORIZONTAL-TIGHT

  &.loose > li
    @extend $ITEM-HORIZONTAL-LOOSE
