// Timeline
//
// Markup:
// <ol class="timeline ascend">
//  <li class="first">
//    <div class="timeline-headline">
//      <span class="icon oi circle basis" data-glyph="tag"></span>
//      <span class="headline seamless">增加问题标签</span>
//    </div>
//    <p class="timeline-meta small">2014年8月7日</p>
//    <p class="timeline-detail small">增加一些问题标签，删除了原先不符合的标签。</p>
//  </li>
//  <li>
//    <div class="timeline-headline">
//      <span class="icon oi circle basis" data-glyph="comment-square"></span>
//      <span class="headline seamless">补充了问题描述</span>
//    </div>
//    <p class="timeline-meta small">2014年8月1日</p>
//  </li>
//  <li class="last">
//    <div class="timeline-headline">
//      <span class="icon oi circle basis" data-glyph="flag"></span>
//      <span class="headline seamless">添加了该问题</span>
//    </div>
//    <p class="timeline-meta small">2014年7月24日</p>
//    <p class="timeline-detail small">同一篇热门文章，在人人、知乎、贴吧、豆瓣、空间、微博发表，大众反应会有什么不同，如何看待这种差异？</p>
//  </li>
// </ul>
//
// **Oridinary:**
//
// + `ascend`
// + `descend`
//
// Styleguide 7.29
$timeline-border-width = $border-width * 2
$edge-point-width      = $py-quarter
$edge-point-offset     = round($edge-point-width / 2 + $timeline-border-width) * -1

.timeline
  @extend $LIST

  position relative
  padding-top $gap-vertical
  padding-bottom $gap-vertical

  > li
    border-left solid $timeline-border-width $border-heavy

    padding $py 0

  &.ascend:after
  &.descend:before
    content ""
    width $edge-point-width + $timeline-border-width
    height @width
    border-radius 50%
    border solid $timeline-border-width $border-heavy
    background-color $background-heavy

    $center-left$()

  &.ascend:after
    top auto

  &.descend:before
    bottom auto

.timeline-meta
  color $grey-heavy

  margin-top 0
  margin-bottom 0

.timeline-detail
  margin-top $py
  margin-bottom 0

.timeline-headline
  position relative

  .icon
    border-width $timeline-border-width

    position absolute

  .headline
    padding-left 0
    padding-right 0
    padding-bottom 0

// Majority Size
// ============================================================================
$timeline-gap                  = $py * 2

.timeline
  padding-left $timeline-gap

  &.ascend:after
  &.descend:before
    left $timeline-gap
    margin-left $edge-point-offset

  &.ascend
    &:after
      margin-bottom $gap-vertical

    .first
      padding-top 0

  &.descend
    &:before
      margin-top $gap-vertical

    .last
      padding-bottom 0

  > li
    padding-left $timeline-gap

.timeline-headline
  .icon
    margin-left $timeline-gap * -1
    transform translateX(-50%)