// Background Color
//
// Markup:
// <p class="sg-color kss-bg-light">$bg-light</p>
// <p class="sg-color kss-bg-dark">$bg-dark</p>
// <p class="sg-color kss-bg-basis">$bg-basis</p>
// <p class="sg-color kss-bg-info">$bg-info</p>
// <p class="sg-color kss-bg-safe">$bg-safe</p>
// <p class="sg-color kss-bg-danger">$bg-danger</p>
// <p class="sg-color kss-bg-warn">$bg-warn</p>
//
// Styleguide 1.6.6
.kss-bg-light
  background-color $bg-light

.kss-bg-dark
  background-color $bg-dark

.kss-bg-basis
  background-color $bg-basis

.kss-bg-info
  background-color $bg-info

.kss-bg-safe
  background-color $bg-safe

.kss-bg-danger
  background-color $bg-danger

.kss-bg-warn
  background-color $bg-warn
