// Border
//
// Markup:
// <p class="sg-color kss-border-light">$bd-light</p>
// <p class="sg-color kss-border-heavy">$bd-heavy</p>
//
// Styleguide 1.6.3
.kss-border-light
.kss-border-heavy
  color $black
  border-radius $bd-radius

.kss-border-light
  border solid 3px $bd-light

.kss-border-heavy
  border solid 3px $bd-heavy