// Border Color
//
// Markup:
// <p class="sg-color kss-bd-light">$bd-light</p>
// <p class="sg-color kss-bd-heavy">$bd-heavy</p>
// <p class="sg-color kss-bd-basis">$bd-basis</p>
// <p class="sg-color kss-bd-info">$bd-info</p>
// <p class="sg-color kss-bd-safe">$bd-safe</p>
// <p class="sg-color kss-bd-danger">$bd-danger</p>
// <p class="sg-color kss-bd-warn">$bd-warn</p>
//
// Styleguide 1.6.5
.kss-bd-light
  border solid 3px $bd-light

.kss-bd-heavy
  border solid 3px $bd-heavy

.kss-bd-basis
  border solid 3px $bd-basis

.kss-bd-info
  border solid 3px $bd-info

.kss-bd-safe
  border solid 3px $bd-safe

.kss-bd-danger
  border solid 3px $bd-danger

.kss-bd-warn
  border solid 3px $bd-warn
