// Border
//
// Markup:
// <p class="sg-color kss-border-light">$border-light</p>
// <p class="sg-color kss-border-heavy">$border-heavy</p>
//
// Styleguide 1.6.3
.kss-border-light
.kss-border-heavy
  color $black
  border-radius $border-radius

.kss-border-light
  border solid 3px $border-light

.kss-border-heavy
  border solid 3px $border-heavy