// Brand
//
// Markup:
// <p class="sg-color kss-main-brand">$brand-basis</p>
// <p class="sg-color kss-ok-brand">$brand-safe</p>
// <p class="sg-color kss-warn-brand">$brand-warn</p>
// <p class="sg-color kss-danger-brand">$brand-danger</p>
// <p class="sg-color kss-info-brand">$brand-info</p>
//
// Styleguide 1.6.1
.kss-main-brand
.kss-ok-brand
.kss-warn-brand
.kss-info-brand
  border-radius $border-radius

.kss-main-brand
  color $black
  background-color $brand-basis

.kss-ok-brand
  background-color $brand-safe

.kss-warn-brand
  color $black
  background-color $brand-warn

.kss-danger-brand
  background-color $brand-danger

.kss-info-brand
  background-color $brand-info