// Brand
//
// Markup:
// <p class="sg-color kss-basis">$te-basis</p>
// <p class="sg-color kss-safe">$te-safe</p>
// <p class="sg-color kss-warn">$te-warn</p>
// <p class="sg-color kss-danger">$te-danger</p>
// <p class="sg-color kss-info">$te-info</p>
//
// Styleguide 1.6.1
.kss-basis
.kss-safe
.kss-warn
.kss-info
  border-radius $bd-radius

.kss-basis
  color $black
  background-color $te-basis

.kss-info
  background-color $te-info

.kss-safe
  background-color $te-safe

.kss-danger
  background-color $te-danger

.kss-warn
  color $black
  background-color $te-warn
