// Brand
//
// Markup:
// <p class="sg-color kss-main-brand">$te-basis</p>
// <p class="sg-color kss-ok-brand">$te-safe</p>
// <p class="sg-color kss-warn-brand">$te-warn</p>
// <p class="sg-color kss-danger-brand">$te-danger</p>
// <p class="sg-color kss-info-brand">$te-info</p>
//
// Styleguide 1.6.1
.kss-main-brand
.kss-ok-brand
.kss-warn-brand
.kss-info-brand
  border-radius $bd-radius

.kss-main-brand
  color $black
  background-color $te-basis

.kss-ok-brand
  background-color $te-safe

.kss-warn-brand
  color $black
  background-color $te-warn

.kss-danger-brand
  background-color $te-danger

.kss-info-brand
  background-color $te-info