// Disable Color
//
// Markup:
// <p class="sg-color kss-dis-basis">$dis-basis</p>
// <p class="sg-color kss-dis-info">$dis-info</p>
// <p class="sg-color kss-dis-safe">$dis-safe</p>
// <p class="sg-color kss-dis-danger">$dis-danger</p>
// <p class="sg-color kss-dis-warn">$dis-warn</p>
//
// Styleguide 1.6.4
.kss-dis-basis
  background-color $dis-basis

.kss-dis-info
  background-color $dis-info

.kss-dis-safe
  background-color $dis-safe

.kss-dis-danger
  background-color $dis-danger

.kss-dis-warn
  background-color $dis-warn
