// End Color
//
// Markup:
// <p class="sg-color kss-end-basis">$end-basis</p>
// <p class="sg-color kss-end-info">$end-info</p>
// <p class="sg-color kss-end-safe">$end-safe</p>
// <p class="sg-color kss-end-danger">$end-danger</p>
// <p class="sg-color kss-end-warn">$end-warn</p>
//
// Styleguide 1.6.3
.kss-end-basis
  background-color $end-basis

.kss-end-info
  background-color $end-info

.kss-end-safe
  background-color $end-safe

.kss-end-danger
  background-color $end-danger

.kss-end-warn
  background-color $end-warn
