// Greys
//
// Markup:
// <p class="sg-color kss-white">$white</p>
// <p class="sg-color kss-black">$black</p>
// <p class="sg-color kss-grey">$grey</p>
// <p class="sg-color kss-grey-light">$grey-light</p>
// <p class="sg-color kss-grey-heavy">$grey-heavy</p>
//
// Styleguide 1.6.2
.kss-white
  background-color $white

.kss-black
  color $white
  background-color $black

.kss-grey
  background-color $grey

.kss-grey-light
  background-color $grey-light

.kss-grey-heavy
  background-color $grey-heavy
