// Greys
//
// Markup:
// <p class="sg-color kss-white">$white</p>
// <p class="sg-color kss-black">$black</p>
// <p class="sg-color kss-grey">$grey</p>
// <p class="sg-color kss-grey-light">$grey-light</p>
// <p class="sg-color kss-grey-heavy">$grey-heavy</p>
//
// Styleguide 1.6.2
.kss-white
.kss-black
.kss-grey
.kss-grey-light
.kss-grey-heavy
  border-radius $bd-radius

.kss-white
  color $black
  background-color $white

.kss-black
  background-color $black

.kss-grey
  color $black
  background-color $grey

.kss-grey-light
  color $black
  background-color $grey-light

.kss-grey-heavy
  color $black
  background-color $grey-heavy
