// Greys
//
// Markup:
// <p class="sg-color white">$white</p>
// <p class="sg-color black">$black</p>
// <p class="sg-color grey">$grey</p>
// <p class="sg-color grey-light">$grey-light</p>
// <p class="sg-color grey-heavy">$grey-heavy</p>
//
// Styleguide 1.6.2
.white
.black
.grey
.grey-light
.grey-heavy
  border-radius $border-radius

.white
  color $black
  background-color $white

.black
  background-color $black

.grey
  color $black
  background-color $grey

.grey-light
  color $black
  background-color $grey-light

.grey-heavy
  color $black
  background-color $grey-heavy