// Highlight
//
// Markup:
// <p class="sg-color kss-highlight-light">$highlight-light</p>
// <p class="sg-color kss-highlight-heavy">$highlight-heavy</p>
//
// Styleguide 1.6.9
.kss-highlight-light
  $$top-inner-shadow(3, 0, $highlight-light)

.kss-highlight-heavy
  $$top-inner-shadow(3, 0, $highlight-heavy)
