// Highlight
//
// Markup:
// <p class="sg-color kss-highlight-light">$highlight-light</p>
// <p class="sg-color kss-highlight-dark">$highlight-dark</p>
//
// Styleguide 1.6.9
.kss-highlight-light
  $$top-inner-shadow(3, 0, $highlight-light)

.kss-highlight-dark
  $$top-inner-shadow(3, 0, $highlight-dark)
