// Shadow
//
// Markup:
// <p class="sg-color kss-shadow-light">$shadow-light</p>
// <p class="sg-color kss-shadow-heavy">$shadow-heavy</p>
//
// Styleguide 1.6.8
.kss-shadow-light
  $$top-inner-shadow(-3, 0, $shadow-light)

.kss-shadow-heavy
  $$top-inner-shadow(-3, 0, $shadow-heavy)
