// Translucent
//
// Markup:
// <p class="sg-color kss-translucent-white">$translucent-white</p>
// <p class="sg-color kss-translucent-black">$translucent-black</p>
//
// Styleguide 1.6.7
.kss-translucent-white
  color $black
  background-color $translucent-white

.kss-translucent-black
  background-color $translucent-black
