// Translucent
//
// Markup:
// <div class="kss-info">
//   <p class="sg-color kss-translucent-white">$translucent-white</p>
// </div>
// <div class="kss-info">
//   <p class="sg-color kss-translucent-black">$translucent-black</p>
// </div>
//
// Styleguide 1.6.6
.kss-translucent-white
.kss-translucent-black
  border-radius $bd-radius

.kss-translucent-white
  color $black
  background-color $translucent-white

.kss-translucent-black
  background-color $translucent-black
