// State
//
// Markup:
// <div class="sp-v normal ui-solid">
//   <div class="sp-inner">
//     <span class="sp-text">中</span>
//   </div>
// </div>
// <div class="sp-h normal ui-solid">
//   <div class="sp-inner">
//     <span class="sp-text icon naked">中</span>
//   </div>
// </div>
//
// Styleguide 5.17.3
.sp
  null