// Amid
//
// + `l-amid-x`      Position inside (x ∈ { x | x = 45n, n ∈ N:n <= 8 } ).
//
// Styleguide 3.2.2
$l-amid-45
$l-amid-90
$l-amid-135
$l-amid-180
$l-amid-225
$l-amid-270
$l-amid-315
$l-amid-360
  margin auto
  position absolute

$l-amid-45
$l-amid-315
$l-amid-360
  top 0

$l-amid-45
$l-amid-90
$l-amid-135
  right 0

$l-amid-135
$l-amid-180
$l-amid-225
  bottom 0

$l-amid-225
$l-amid-270
$l-amid-315
  left 0

// horizontal center
$l-amid-180
$l-amid-360
  margin-left 50%
  transform translateX(-50%)

// vertical center
// height statement is required
$l-amid-90
$l-amid-270
  top 0
  bottom 0
