// Around
//
// + `l-around-x` Position outside (x ∈ { x | x = 30n, n ∈ N:n <= 12 } ).
//
// Styleguide 3.2.3
$l-around-30
$l-around-60
$l-around-90
$l-around-120
$l-around-150
$l-around-180
$l-around-210
$l-around-240
$l-around-270
$l-around-300
$l-around-330
$l-around-360
  position absolute

$l-around-30
$l-around-330
$l-around-360
  top $bd-width * -1
  transform translateY(-100%)

$l-around-60
$l-around-90
$l-around-120
  right $bd-width * -1
  transform translateX(100%)

$l-around-150
$l-around-180
$l-around-210
  bottom $bd-width * -1
  transform translateY(100%)

$l-around-240
$l-around-270
$l-around-300
  left $bd-width * -1
  transform translateX(-100%)

$l-around-30
$l-around-150
  right 0

$l-around-60
$l-around-300
  top 0

$l-around-90
$l-around-270
  top 50%

$l-around-120
$l-around-240
  bottom 0

$l-around-180
$l-around-360
  left 50%

$l-around-210
$l-around-330
  left 0

$l-around-90
  transform translate(100%, -50%)

$l-around-180
  transform translate(-50%, 100%)

$l-around-270
  transform translate(-100%, -50%)

$l-around-360
  transform translate(-50%, -100%)
