// Measure Seam
//
// + `$l-pygmy`
// + `$l-mini`
// + `$l-normal`
// + `$l-huge`
// + `$l-massive`
//
// Styleguide 3.2.4
$l-pygmy
  max-height $ht-pygmy

  padding-top $pd-pygmy
  padding-bottom @padding-top

$l-mini
  max-height $ht-mini

  padding-top $pd-mini
  padding-bottom @padding-top

$l-normal
  max-height $ht-normal
  padding-top $pd-normal
  padding-bottom @padding-top

$l-huge
  max-height $ht-huge

  padding-top $pd-huge
  padding-bottom @padding-top

$l-massive
  max-height $ht-massive

  padding-top $pd-massive
  padding-bottom @padding-top

$l-normal-seamless
  padding-top $pd-normal + $bd-width
  padding-bottom @padding-top

$l-pygmy-seamless
  padding-top $pd-pygmy + $bd-width
  padding-bottom @padding-top

$l-mini-seamless
  padding-top $pd-mini + $bd-width
  padding-bottom @padding-top

$l-huge-seamless
  padding-top $pd-huge + $bd-width
  padding-bottom @padding-top

$l-massive-seamless
  padding-top $pd-massive + $bd-width
  padding-bottom @padding-top
