// Measure Seam
//
// + `$l-pygmy-seam`
// + `$l-mini-seam`
// + `$l-normal-seam`
// + `$l-huge-seam`
// + `$l-massive-seam`
//
// Styleguide 3.2.4
$l-pygmy-seam
  max-height $ht-pygmy

  padding-top $pd-pygmy
  padding-bottom @padding-top

$l-mini-seam
  max-height $ht-mini

  padding-top $pd-mini
  padding-bottom @padding-top

$l-normal-seam
  max-height $ht-normal
  padding-top $pd-normal
  padding-bottom @padding-top

$l-huge-seam
  max-height $ht-huge

  padding-top $pd-huge
  padding-bottom @padding-top

$l-massive-seam
  max-height $ht-massive

  padding-top $pd-massive
  padding-bottom @padding-top
