// Core
//
// **Size:**
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
// Styleguide 5.3.1
.label
  @extend $t-nowrap

  display inline-block
  vertical-align middle

  &.pygmy
    @extend $l-pygmy-seamless

  &.mini
    @extend $l-mini-seamless

  &.normal
    @extend $l-normal-seamless

  &.huge
    @extend $l-huge-seamless

  &.massive
    @extend $l-massive-seamless
