// Tip
//
// **Direction:**
//
// + `direction-30`
// + `direction-60`
// + `direction-90`
// + `direction-120`
// + `direction-150`
// + `direction-180`
// + `direction-210`
// + `direction-240`
// + `direction-270`
// + `direction-300`
// + `direction-330`
// + `direction-360`
//
//
// **Position:**
//
// + `around-30`
// + `around-30`
// + `around-60`
// + `around-90`
// + `around-120`
// + `around-150`
// + `around-180`
// + `around-210`
// + `around-240`
// + `around-270`
// + `around-300`
// + `around-330`
// + `around-360`
//
//
// Markup:
// <span class="basis btn tip direction-210 around-330" data-tip="点击加载更多内容。">加载更多</span>
//
// Styleguide 6.25
$tip-height                  = $py-quarter
$tip-width                   = $tip-height + 1
$tip-offset                  = ($tip-height + 2) * -1
$tip-swim-case               = 15%

.tip
  position relative
  transform translateY(0)

  &:before
  &:after
    border-style none
    pointer-events none

  &:before
    content attr(data-tip)
    color $white
    background-color $black
    border-radius $border-radius
    font-size $py-small
    min-width 50%

    z-index 1
    padding $gap-vertical $gap-horizontal

  &:after
    content ""
    color $black

    position absolute
  /*    
  &.around-30:before
    @extend $AROUND-30

  &.around-60:before
    @extend $AROUND-60

  &.around-90:before
    @extend $AROUND-90

  &.around-120:before
    @extend $AROUND-120

  &.around-150:before
    @extend $AROUND-150

  &.around-180:before
    @extend $AROUND-180

  &.around-210:before
    @extend $AROUND-210

  &.around-240:before
    @extend $AROUND-240

  &.around-270:before
    @extend $AROUND-270

  &.around-300:before
    @extend $AROUND-300

  &.around-330:before
    @extend $AROUND-330

  &.around-360:before
    @extend $AROUND-360
  */

  &.direction-30
  &.direction-330
  &.direction-360
    &:before
      bottom $tip-offset

    &:after
      @extend $TRIANGLE-360

      border-left-width $tip-height
      border-right-width $tip-height
      border-bottom-width $tip-width

      bottom $tip-offset

  &.direction-60
  &.direction-90
  &.direction-120
    &:before
      left $tip-offset

    &:after
      @extend $TRIANGLE-90

      border-top-width $tip-height
      border-bottom-width $tip-height
      border-left-width $tip-width

      left $tip-offset

  &.direction-150
  &.direction-180
  &.direction-210
    &:before
      top $tip-offset

    &:after
      @extend $TRIANGLE-180

      border-left-width $tip-height
      border-right-width $tip-height
      border-top-width $tip-width

      top $tip-offset

  &.direction-240
  &.direction-270
  &.direction-300
    &:before
      right $tip-offset

    &:after
      @extend $TRIANGLE-270

      border-top-width $tip-height
      border-right-width $tip-height
      border-bottom-width $tip-width

      right $tip-offset

  &.direction-210
  &.direction-330
    &:after
      left $tip-swim-case

  &.direction-180
  &.direction-360
    &:after
      left 50%
      margin-left $tip-width * -1

  &.direction-30
  &.direction-150
    &:after
      right $tip-swim-case

  &.direction-60
  &.direction-300
    &:after
      top $tip-swim-case

  &.direction-90
  &.direction-270
    &:after
      top 50%
      margin-top $tip-width * -1

  &.direction-120
  &.direction-240
    &:after
      bottom $tip-swim-case