// State
//
// Markup:
// <div class="breadcrumb normal loose">
//   <a class="breadcrumb-section link seamless">食物</a>
//   <div class="breadcrumb-slash"> / </div>
//   <a class="breadcrumb-section link seamless">水果</a>
//   <div class="breadcrumb-slash"> / </div>
//   <div class="breadcrumb-section link seamless is-active">苹果</div>
// </div>
//
// Styleguide 5.16.3
.breadcrumb
  null

.breadcrumb-section
  &.is-active
    color $black
    font-weight bold
    text-decoration none
