// Core
//
// **Size:**
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
//
// **Gap:**
//
// + `.tight`
// + `.loose`
//
// Styleguide 5.16.1
.breadcrumb
  @extend $t-nowrap

  &.pygmy
    @extend $l-pygmy-seam

  &.mini
    @extend $l-mini-seam

  &.normal
    @extend $l-normal-seam

  &.huge
    @extend $l-huge-seam

  &.massive
    @extend $l-massive-seam

  &
    .breadcrumb-section
      padding-left $hgap-half
      padding-right @padding-left

  &.tight
    .breadcrumb-section
      padding-left 0
      padding-right @padding-left

  &.loose
    .breadcrumb-section
      padding-left $hgap
      padding-right @padding-left

.breadcrumb-section
.breadcrumb-slash
  display inline-block
