// Image
//
// + `stretch-width`  Height follow by width.
// + `stretch-height` Width follow by height.
//
// Markup:
// <div class="kss-box">
//   <img alt="pupply" class="img stretch-width" src="http://pic.baike.soso.com/p/20131221/bki-20131221141105-1384831484.jpg">
// </div>
//
// Styleguide 6.2
.img
  &.stretch-width
    $stretch-width$()

  &.stretch-height
    $stretch-height$()
