// Image
//
// **Ordinary Modifiers:**
//
// + `stretch-width`  Height follow by width.
// + `stretch-height` Width follow by height.
//
// Markup:
// <div class="kss-box">
//   <img alt="pupply" class="img stretch-width" src="http://www.donson56.com/showcheer/pics/10animal/02home/photos/01pet/01dog/01/Pet_Dog_01_401_s.jpg">
// </div>
//
// Styleguide 5.2
.img
  &.stretch-width
    $stretch-width$()

  &.stretch-height
    $stretch-height$()
