// View
//
// Markup:
// <div class="view {$modifiers}">
//   <div class="view-figure">
//     <span class="oi view-icon" data-glyph="star"></span>
//   </div>
//   <div class="view-caption">
//     <span class="h3 view-text">中国</h3>
//   </div>
// </div>
//
// .wrap                - figure **above** caption.
//
// Styleguide 6.8
.view
.view-figure
.view-caption
  display inline-block

.view
  text-align center

  &.wrap
    .view-figure
      display block
