// Line Typeset
//
// + `$t-wrap`
// + `$t-nowrap`
// + `$t-over-clip`
// + `$t-over-ellipsis`
// + `$t-break`
//
// Styleguide 3.4.1
$t-wrap
  white-space normal

$t-nowrap
  white-space nowrap

$t-over-clip
$t-over-ellipsis
  @extend $t-nowrap

  overflow hidden

$t-over-clip
  text-overflow clip

$t-over-ellipsis
  text-overflow ellipsis

$t-break
  word-break break-all
