// Board
//
// Theme:
//
// + `.board--basis`
// + `.board--safe`
// + `.board--danger`
// + `.board--info`
// + `.board--warn`
// + `.board--round`
//
// Stylize:
//
// + `.board--notch`
// + `.board--dotted`
// + `.board--dashed`
//
// Layout:
//
// + `.board--isolate`
// + `.board--mixin`
//
// Interactive:
//
// + `.board--physical`
// + `.board--flat`
//
// Markup:
// <div class="board board--basis board--isolate board--notch board--physical">
//   <div class="g g--row">
//     <div class="c">
//       <div class="board-item board-item--first" data-state="active">
//         <span class="btn btn--text">阅读</span>
//       </div>
//     </div>
//     <div class="c">
//       <div class="board-item" data-state="disabled">
//         <span class="btn btn--text">下载</span>
//       </div>
//     </div>
//     <div class="c">
//       <div class="board-item">
//         <span class="btn btn--text">删除</span>
//       </div>
//     </div>
//     <div class="c">
//       <div class="board-item board-item--last">
//         <span class="btn btn--text">取消</span>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 2.21
.board
  reset-gap()
  reset-list()

  border-style $b-bd-style
  border-width $b-bd-width

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.board--basis
  @extend .ui-basis

  .board-item
    border-color $c-bd-basis

.board--info
  @extend .ui-info

  .board-item
    border-color $c-bd-info

.board--safe
  @extend .ui-safe

  .board-item
    border-color $c-bd-safe

.board--danger
  @extend .ui-danger

  .board-item
    border-color $c-bd-danger

.board--warn
  @extend .ui-warn

  .board-item
    border-color $c-bd-warn

// ----- Stylize ----- //

.board--notch
.board--dotted
.board--dashed
  .board-item
    box-shadow inset 1px 1px 0 $c-highlight-light

.board--notch .board-item
  border-right-style solid

.board--dotted .board-item
  border-right-style dotted

.board--dashed .board-item
  border-right-style dashed

// ----- Layout ----- //

.board--isolate
  border-style $b-bd-style
  border-radius $b-rad-round

  &.board-item--first
    border-top-left-radius $b-rad-round-inner
    border-bottom-left-radius $b-rad-round-inner

  &.board-item--last
    border-top-right-radius $b-rad-round-inner
    border-bottom-right-radius $b-rad-round-inner

.board--mixin
  border-style $b-bd-style none

.board--flat
  background-image none

// -------------------------------------
//   States
// -------------------------------------

.board--physical
  .board-item
    &:active
    &[data-state='active']
      mix-vinner-shadow()

    &[data-state='active']
      color $c-safe

    &:disabled
    &[data-state='disabled']
      mix-vinner-shadow(0, 0, transparent)

      color $c-grey-dark

.board--flat
  .board-item
    &[data-state='active']
      color $c-safe

    &:disabled
    &[data-state='disabled']
      color $c-grey-dark

// -------------------------------------
//   Scaffolding
// -------------------------------------

.board-item
  border-width $b-bd-width

  &.board-item--last
    border-right-style none
