// Breadcrumb
//
// Layout:
//
// + `.bc--tight`
// + `.bc--loose`
//
// Markup:
// <div class="bc bc--m bc--loose">
//   <a class="bc-section">食物</a>
//   <div class="bc-slash"> / </div>
//   <a class="bc-section">水果</a>
//   <div class="bc-slash"> / </div>
//   <a class="bc-section">苹果</a>
//   <div class="bc-slash"> / </div>
//   <div class="bc-section" data-state="active">红富士</div>
// </div>
//
// Styleguide 2.16
.bc
  @extend .nowrap

  padding-top $b-vgap
  padding-bottom @padding-top

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Size ----- //

.bc--xs
  font-size $b-fs-xs

.bc--s
  font-size $b-fs-s

.bc--m
  font-size $b-fs-m

.bc--l
  font-size $b-fs-l

.bc--xl
  font-size $b-fs-xl

// ----- Layout ----- //

.bc--tight
  .bc-section
    padding-left 0
    padding-right @padding-left

.bc--loose
  .bc-section
    padding-left $b-hgap
    padding-right @padding-left

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.bc-section
.bc-slash
  display inline-block

// ----- Section ----- //

.bc-section
  padding-left $b-hgap-half
  padding-right @padding-left

// State

.bc-section[data-state='active']
  color $c-black
  font-weight bold
  text-decoration none

// ----- Slash ----- //

.bc-slash
  color $c-grey-dark
