// Breadcrumb
//
// Layout:
//
// + `.breadcrumb--tight`
// + `.breadcrumb--loose`
//
// Markup:
// <div class="breadcrumb breadcrumb--loose">
//   <a class="breadcrumb-section">食物</a>
//   <div class="breadcrumb-slash"> / </div>
//   <a class="breadcrumb-section">水果</a>
//   <div class="breadcrumb-slash"> / </div>
//   <a class="breadcrumb-section">苹果</a>
//   <div class="breadcrumb-slash"> / </div>
//   <div class="breadcrumb-section">红富士</div>
// </div>
//
// Styleguide 2.16
.breadcrumb
  @extend .nowrap

  padding-top $b-vgap + $b-bd-width
  padding-bottom @padding-top

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Layout ----- //

.breadcrumb--tight
  .breadcrumb-section
    padding-left 0
    padding-right @padding-left

.breadcrumb--loose
  .breadcrumb-section
    padding-left $b-hgap
    padding-right @padding-left

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.breadcrumb-section
.breadcrumb-slash
  display inline-block

// ----- Section ----- //

.breadcrumb-section
  padding-left $b-hgap-half
  padding-right @padding-left

  &:last-child
    color $c-black
    font-weight bold
    text-decoration none

// ----- Slash ----- //

.breadcrumb-slash
  color $c-grey-dark
