// Bubble
//
// Size:
//
// + `.bubble--xs`
// + `.bubble--s`
// + `.bubble--m`
// + `.bubble--l`
// + `.bubble--xl`
//
// Position:
//
// + `.bubble--45`
// + `.bubble--90`
// + `.bubble--135`
// + `.bubble--180`
// + `.bubble--225`
// + `.bubble--270`
// + `.bubble--315`
// + `.bubble--360`
// + `.bubble--out`
//
// Theme:
//
// + `.bubble--basis`
// + `.bubble--info`
// + `.bubble--safe`
// + `.bubble--danger`
// + `.bubble--warn`
//
// Shape:
//
// + `.bubble--round`
// + `.bubble--circle`
//
// Context:
//
// + `.has-bubble`
//
// Markup:
// <dl class="form">
//   <dd class="form-bd has-bubble">
//     <input type="text" class="textfield textfield--basis">
//     <label class="bubble bubble--m bubble--safe bubble--45 bubble--out">
//       <span class="bubble-text">中</span>
//     </label>
//   </dd>
// </dl>
//
// Styleguide 2.11
.bubble
  @extend .nowrap

  display inline-block
  vertical-align middle
  text-align center

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.bubble--basis
  @extend .ui-basis

.bubble--safe
  @extend .ui-safe

.bubble--danger
  @extend .ui-danger

.bubble--info
  @extend .ui-info

.bubble--warn
  @extend .ui-warn

// ----- Shape ----- //

.bubble--round
  border-radius $b-rad-round

.bubble--circle
  border-radius $b-rad-circle

// ----- Size ----- //

.bubble--xs
  width $bubble-size-xs
  height @width
  line-height @width

.bubble--s
  width $bubble-size-s
  height @width
  line-height @width

.bubble--m
  width $bubble-size-m
  height @width
  line-height @width

.bubble--l
  width $bubble-size-l
  height @width
  line-height @width

.bubble--xl
  width $bubble-size-xl
  height @width
  line-height @width

// ----- Position ----- //

.bubble--45
  @extend .amid-45

.bubble--90
  @extend .amid-90

.bubble--135
  @extend .amid-135

.bubble--180
  @extend .amid-180

.bubble--225
  @extend .amid-225

.bubble--270
  @extend .amid-270

.bubble--315
  @extend .amid-315

.bubble--360
  @extend .amid-360

.bubble--out
  &.bubble--45
    transform translate(50%, -50%)

  &.bubble--90
    transform translate(50%, 0)

  &.bubble--135
    transform translate(50%, 50%)

  &.bubble--180
    transform translate(0, 50%)

  &.bubble--225
    transform translate(-50%, 50%)

  &.bubble--270
    transform translate(-50%, 0)

  &.bubble--315
    transform translate(-50%, -50%)

  &.bubble--360
    transform translate(0, -50%)

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

// -------------------------------------
//   Context
// -------------------------------------

.has-bubble
  overflow visible
  position relative
