// Caret
//
// Size:
//
// + `.caret--xs`
// + `.caret--s`
// + `.caret--m`
// + `.caret--l`
// + `.caret--xl`
//
// Theme:
//
// + `.caret--white`
// + `.caret--black`
// + `.caret--basis`
// + `.caret--info`
// + `.caret--safe`
// + `.caret--danger`
// + `.caret--warn`
//
// Direction:
//
// + `.caret--top`
// + `.caret--right`
// + `.caret--bottom`
// + `.caret--left`
//
// Position:
//
// + `.caret-45`
// + `.caret-90`
// + `.caret-135`
// + `.caret-180`
// + `.caret-225`
// + `.caret-270`
// + `.caret-315`
// + `.caret-360`
//
// Markup:
// <button class="btn btn--basis">
//   <span class="btn-text">下拉按钮 </span>
//   <span class="caret caret--s caret--black caret--bottom" data-state=""></span>
// </button>
//
// Styleguide 2.25
.caret
  height 0
  width 0
  display inline-block
  vertical-align middle

  border-style $b-bd-style
  border-color transparent

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Size ----- //

.caret--xs
  border-width $caret-size-xs
  margin-bottom $caret-offset-xs

.caret--s
  border-width $caret-size-s
  margin-bottom $caret-offset-s

.caret--m
  border-width $caret-size-m
  margin-bottom $caret-offset-m

.caret--l
  border-width $caret-size-l
  margin-bottom $caret-offset-l

.caret--xl
  border-width $caret-size-xl
  margin-bottom $caret-offset-xl

// ----- Theme ----- //

.caret--white
  border-color $c-bd-white

.caret--black
  border-color $c-bd-black

.caret--basis
  border-color $c-bd-basis

.caret--info
  border-color $c-bd-info

.caret--safe
  border-color $c-bd-safe

.caret--danger
  border-color $c-bd-danger

.caret--warn
  border-color $c-bd-warn

// ----- Direction ----- //

.caret--top
  border-bottom-style $b-bd-style
  border-top-style none
  border-top-color transparent
  border-right-color transparent
  border-left-color transparent

.caret--right
  border-left-style $b-bd-style
  border-right-style none
  border-top-color transparent
  border-right-color transparent
  border-bottom-color transparent

.caret--bottom
  border-top-style $b-bd-style
  border-bottom-style none
  border-right-color transparent
  border-bottom-color transparent
  border-left-color transparent

.caret--left
  border-right-style $b-bd-style
  border-left-style none
  border-top-color transparent
  border-bottom-color transparent
  border-left-color transparent

// ----- Position ----- //

.caret--45
.caret--315
.caret--360
  margin-bottom $caret-offset-inside

.caret--45
.caret--90
.caret--135
  margin-right $caret-offset-inside

.caret--135
.caret--180
.caret--225
  margin-bottom $caret-offset-inside

.caret--225
.caret--270
.caret--315
  margin-top $caret-offset-inside

.caret--45
  @extend .amid-45

.caret--90
  @extend .amid-90

.caret--135
  @extend .amid-135

.caret--180
  @extend .amid-180

.caret--225
  @extend .amid-225

.caret--270
  @extend .amid-270

.caret--315
  @extend .amid-315

.caret--360
  @extend .amid-360

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------
