// Dot
//
// Size:
//
// + `.dot--xs`
// + `.dot--s`
// + `.dot--m`
// + `.dot--l`
// + `.dot--xl`
//
// Theme:
//
// + `.dot--white`
// + `.dot--black`
// + `.dot--basis`
// + `.dot--info`
// + `.dot--safe`
// + `.dot--danger`
// + `.dot--warn`
//
// State:
//
// + `active`
//
// Markup:
// <div class="dot dot--m dot--danger" data-state="">
//   <span class="dot-tip"></span>
// </div>
//
// Styleguide 2.26
.dot
  display block
  position relative

  opacity .5
  border-radius $b-rad-circle

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.dot--white
  background-color $c-bg-white

.dot--black
  background-color $c-bg-black

.dot--basis
  background-color $c-bg-basis

.dot--info
  background-color $c-bg-info

.dot--safe
  background-color $c-bg-safe

.dot--danger
  background-color $c-bg-danger

.dot--warn
  background-color $c-bg-warn

// ----- Size ----- //

.dot--xs
  width $dot-size-xs
  height @width

.dot--s
  width $dot-size-s
  height @width

.dot--m
  width $dot-size-m
  height @width

.dot--l
  width $dot-size-l
  height @width

.dot--xl
  width $dot-size-xl
  height @width

// -------------------------------------
//   States
// -------------------------------------

.dot[data-state='active']
  opacity 1

// -------------------------------------
//   Scaffolding
// -------------------------------------

.dot-tip
  @extend .center

  width 100%
  height 100%
  visibility hidden
