// Headline
//
// Theme:
//
// + `.h--info`
// + `.h--warn`
// + `.h--error`
//
// Markup:
// <h1 class="h">
//   <span class="h-icon"></span>
//   <span class="h-text">标题</span>
// </h1>
//
// Styleguide 2.19
.h
  @extend .ellipsis

  reset-gap()

  padding-top $b-vgap + $b-bd-width
  padding-bottom @padding-top

  width 100%
  display block
  font-weight bold

// -------------------------------------
//   Modifiers
// -------------------------------------


// ----- Typeset ----- //

.h-break
  @extend .break

.h-wrap
  @extend .wrap

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------
