// Horizontal List
//
// Primary Theme:
//
// + `.hlist--basis`
// + `.hlist--safe`
// + `.hlist--danger`
// + `.hlist--info`
// + `.hlist--warn`
//
// Prefix Theme:
//
// + `.hlist--disc`
// + `.hlist--circle`
// + `.hlist--decimal`
//
// Separator Theme:
//
// + `.hlist--notch`
// + `.hlist--sunken`
// + `.hlist--solid`
// + `.hlist--dashed`
// + `.hlist--dotted`
//
// Layout:
//
// + `.hlist--bfc`
// + `.hlist--relative`
//
// Markup:
// <ul class="hlist hlist--basis hlist--solid g g--row">
//   <li class="first c">
//     <button class="btn btn--text">香蕉</button>
//   </li>
//   <li class="c">
//     <button class="btn btn--text">雪梨</button>
//   </li>
//   <li class="c">
//     <button class="btn btn--text">苹果</button>
//   </li>
//   <li class="last c">
//     <button class="btn btn--text">西瓜</button>
//   </li>
// </ul>
//
// Styleguide 2.15
.hlist
  reset-gap()
  reset-list()

  > li
    border-width $b-bd-width

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.hlist--dot
.hlist--sunken
  > li
    position relative

.hlist--disc
.hlist--circle
.hlist--decimal
  > li
    padding-left $b-hgap-half

.hlist--dot
  > li
    &:after
      @extend .center-right

      content "•"
      height $b-fs-m
      width $b-fs-m
      line-height $b-fs-m
      margin-right $b-fs-half * -1

    &.last:after
      content ""

.hlist--sunken
  > li:after
    @extend .center-right

    content ""
    width 1px
    height 100%
    display block

  > li.last:after
    display none

.hlist--basis
  > li
    border-color $c-bd-basis

.hlist--info
  > li
    border-color $c-bd-info

.hlist--safe
  > li
    border-color $c-bd-safe

.hlist--danger
  > li
    border-color $c-bd-danger

.hlist--warn
  > li
    border-color $c-bd-warn

.hlist--disc
.hlist--circle
.hlist--decimal
  list-style-position inside

.hlist--disc
  list-style-type disc

.hlist--circle
  list-style-type circle

.hlist--decimal
  list-style-type decimal

.hlist--solid
.hlist--notch
.hlist--dashed
.hlist--dotted
  > li.last
    border-right-style none

.hlist--solid
.hlist--notch
  > li
    border-right-style solid

.hlist--dashed
  > li
    border-right-style dashed

.hlist--dotted
  > li
    border-right-style dotted

.hlist--notch
  > li
    mix-hinner-shadow(1, 0, $c-highlight-light)

.hlist--sunken
  &.hlist--basis > li:after
    background-image radial-gradient(farthest-side at center top, $c-bd-basis, transparent)

  &.hlist--info > li:after
    background-image radial-gradient(farthest-side at center top, $c-bd-info, transparent)

  &.hlist--safe > li:after
    background-image radial-gradient(farthest-side at center top, $c-bd-safe, transparent)

  &.hlist--danger > li:after
    background-image radial-gradient(farthest-side at center top, $c-bd-danger, transparent)

  &.hlist--warn > li:after
    background-image radial-gradient(farthest-side at center top, $c-bd-warn, transparent)

.hlist--dot
  > li:after
    text-align center

.hlist--dot
  &.hlist--basis
    > li:after
      color $c-bd-basis

  &.hlist--info
    > li:after
      color $c-bd-info

  &.hlist--safe
    > li:after
      color $c-bd-safe

  &.hlist--danger
    > li:after
      color $c-bd-danger

  &.hlist--warn
    > li:after
      color $c-bd-danger

// ----- Layout ----- //

.hlist--bfc
  > li
    overflow hidden

.hlist--relative
  > li
    position relative

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------
