// Label
//
// Markup:
// <label class="label">标签</label>
//
// Styleguide 2.3
.label
  @extend .nowrap

  display        inline-block
  vertical-align middle
  padding-top    $b-vgap + $b-bd-width
  padding-bottom  @padding-top

// -------------------------------------
//   Modifiers
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.label-text
  null

.label-icon
  null
