// Layer
//
// Position:
//
// + `.lay--top`
// + `.lay--mid`
// + `.lay--bottom`
//
// Feature:
//
// + `.lay--through`
//
// Markup:
// <div class="por" style="height: 200px; width: 200px;">
//   <div class="lay lay--mid"></div>
//   <div class="lay lay--top"></div>
// </div>
//
// Styleguide 2.27
.lay
  @extend .center

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Position ----- //

.lay--top
  z-index $b-idx-top

.lay--mid
  z-index $b-idx-middle

.lay--bottom
  z-index $b-idx-bottom

// ----- Feature ----- //

.lay--through
  pointer-events none

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------