// Msg
//
// Theme:
//
// + `.msg--info`
// + `.msg--warn`
// + `.msg--error`
//
// Layout:
//
// + `.msg--isolate`
// + `.msg--mixin`
//
// Markup:
// <div class="msg msg--info">
//   <div class="g g--row g--cross-center">
//     <div class="c c--4of5">
//       <h2 class="msg-h">一条信息标题</h2>
//       <p class="msg-detail">在这里放置对此条信息的详细解释。对问题有一个简短的了解。</p>
//     </div>
//     <div class="c c--1of5">
//       <div class="msg-action">
//         <button class="btn btn--info">关闭</button>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 2.18
.msg
  padding $b-vgap-double $b-hgap
  border-width $b-bd-width

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.msg--isolate
  border-style $b-bd-style
  border-radius $b-rad-round

.msg--mixin
  border-style $b-bd-style none

.msg--info
  color $c-info
  border-color $c-bd-info
  background-color $c-bg-info

.msg--warn
  color $c-warn
  border-color $c-bd-warn
  background-color $c-bg-warn

.msg--error
  color $c-danger
  border-color $c-bd-danger
  background-color $c-bg-danger

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.msg-h
  margin-top 0
  margin-bottom 0

  font-size $b-fs-m

.msg-detail
  font-size $b-fs-s
