// Option
//
// State:
//
// + `active`
// + `disabled`
//
// Markup:
// <div class="opt opt--checkbox" data-state="active">
//   <input class="opt-tag" type="checkbox" id="cb-demo">
//   <div class="opt-bd">
//     <span class="opt-indicator"></span>
//   </div>
// </div>
// <label class="label" for="cb-demo">多选控件</label>
// <div class="opt opt--radio" data-state="active">
//   <input class="opt-tag" type="radio" id="rad-demo">
//   <div class="opt-bd">
//     <span class="opt-indicator"></span>
//   </div>
// </div>
// <label class="label" for="rad-demo">单选控件</label>
//
// Styleguide 2.4
.opt
  display        inline-block
  position       relative
  vertical-align middle

// -------------------------------------
//   Modifiers
// -------------------------------------

.opt--checkbox
  .opt-bd
    border-radius $b-rad-round

  .opt-indicator
    width be-even($b-fs-s + 2)
    height $b-fs-half - 1
    top -2px
    transform rotate(-45deg)

    border-color $c-safe
    border-width 2px
    border-style none none solid solid
  
.opt--radio
  .opt-bd
    border-radius $b-rad-circle

  .opt-indicator
    width $b-fs-s - 2
    height @width

    border-radius $b-rad-circle
    border-style none
    background-color $c-safe

// -------------------------------------
//   States
// -------------------------------------

.opt[data-state~='active']
  .opt-indicator
    opacity 1

.opt[data-state~='disabled']
  .opt-bd
    background-image none
    background-color $c-dis-basis

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ---- Tag ----- //

.opt-tag
  opacity  0
  outline  0
  position absolute

// ---- Body ----- //

.opt-bd
  @extend .ui-basis

  width be-even($b-fs-m * 1.5)
  height @width
  display block
  position relative

  border-width $b-bd-width
  border-style $b-bd-style

// ---- Tip ----- //

.opt-indicator
  @extend .center

  opacity 0
  display block
