// Option
//
// State:
//
// + `on`
// + `off`
//
// Markup:
// <div class="opt" data-state="on off">
//   <input class="opt-tag" type="checkbox" id="cb-demo">
//   <div class="opt-bd opt-bd--round">
//     <span class="opt-tip opt-tip--check"></span>
//   </div>
// </div>
// <label class="label label--m" for="cb-demo">多选控件</label>
// <div class="opt" data-state="on off">
//   <input class="opt-tag" type="radio" id="rad-demo">
//   <div class="opt-bd opt-bd--circle">
//     <span class="opt-tip opt-tip--dot"></span>
//   </div>
// </div>
// <label class="label label--m" for="rad-demo">单选控件</label>
//
// Styleguide 2.4
.opt
  display        inline-block
  position       relative
  vertical-align middle

// -------------------------------------
//   Modifiers
// -------------------------------------

// -------------------------------------
//   States
// -------------------------------------

.opt[data-state~='on']
  .opt-tip
    opacity 1

.opt[data-state~='off']
  .opt-bd
    background-image none
    background-color $c-dis-basis

  .opt-tip--dot
    background-color $c-dis-safe

  .opt-tip--check
    border-color $c-dis-safe


// -------------------------------------
//   Scaffolding
// -------------------------------------

// ---- Tag ----- //

.opt-tag
  opacity  0
  outline  0
  position absolute

// ---- Body ----- //

.opt-bd
  @extend .ui-basis

  width be-even($b-fs-m * 1.5)
  height @width
  display block
  position relative

  border-width $b-bd-width
  border-style $b-bd-style

// Shape

.opt-bd--square
  border-radius $b-rad-square

.opt-bd--round
  border-radius $b-rad-round

.opt-bd--circle
  border-radius $b-rad-circle

// ---- Tip ----- //

.opt-tip
  @extend .center

  opacity 0
  display block

// Theme

.opt-tip--dot
  width $b-fs-s - 2
  height @width

  border-radius $b-rad-circle
  border-style none
  background-color $c-safe

.opt-tip--check
  width be-even($b-fs-s + 2)
  height $b-fs-half - 1
  top -2px
  transform rotate(-45deg)

  border-color $c-safe
  border-width 2px
  border-style none none solid solid
