// Ribbon
//
// Size:
//
// + `.ribbon--xs`
// + `.ribbon--s`
// + `.ribbon--m`
// + `.ribbon--l`
// + `.ribbon--xl`
//
// Position:
//
// + `.ribbon--45`
// + `.ribbon--135`
// + `.ribbon--225`
// + `.ribbon--315`
//
// Theme:
//
// + `.ribbon--basis`
// + `.ribbon--info`
// + `.ribbon--safe`
// + `.ribbon--danger`
// + `.ribbon--warn`
//
// Context:
//
// + `.has-ribbon`
//
// Markup:
// <dl class="form">
//   <dd class="form-bd has-ribbon">
//     <input type="text" class="textfield textfield--basis">
//     <label class="ribbon ribbon--m ribbon--basis ribbon--45">
//       <span class="ribbon-corner"></span>
//       <span class="ribbon-text">中</span>
//     </label>
//   </dd>
// </dl>
//
// Styleguide 2.9
.ribbon
  overflow hidden
  text-align center
  border-radius $b-rad-round

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Size ----- //

.ribbon--xs
  width $ribbon-height-xs * $ribbon-width-radio
  height $ribbon-height-xs
  line-height @height

  .ribbon-corner
    border-width @width

.ribbon--s
  width $ribbon-height-s * $ribbon-width-radio
  height $ribbon-height-s
  line-height @height

  .ribbon-corner
    border-width @width

.ribbon--m
  width $ribbon-height-m * $ribbon-width-radio
  height $ribbon-height-m
  line-height @height

  .ribbon-corner
    border-width @width

.ribbon--l
  width $ribbon-height-l * $ribbon-width-radio
  height $ribbon-height-l
  line-height @height

  .ribbon-corner
    border-width @width

.ribbon--xl
  width $ribbon-height-xl * $ribbon-width-radio
  height $ribbon-height-xl
  line-height @height

  .ribbon-corner
    border-width @width

// ----- Theme ----- //

.ribbon--basis
  &.ribbon--45
  &.ribbon--315
    .ribbon-corner
      border-top-color $c-bd-basis

  &.ribbon--135
  &.ribbon--225
    .ribbon-corner
      border-bottom-color $c-bd-basis

.ribbon--info
  &.ribbon--45
  &.ribbon--315
    .ribbon-corner
      border-top-color $c-bd-info

  &.ribbon--135
  &.ribbon--225
    .ribbon-corner
      border-bottom-color $c-bd-info

.ribbon--safe
  &.ribbon--45
  &.ribbon--315
    .ribbon-corner
      border-top-color $c-bd-safe

  &.ribbon--135
  &.ribbon--225
    .ribbon-corner
      border-bottom-color $c-bd-safe

.ribbon--danger
  &.ribbon--45
  &.ribbon--315
    .ribbon-corner
      border-top-color $c-bd-danger

  &.ribbon--135
  &.ribbon--225
    .ribbon-corner
      border-bottom-color $c-bd-danger

.ribbon--warn
  &.ribbon--45
  &.ribbon--315
    .ribbon-corner
      border-top-color $c-bd-warn

  &.ribbon--135
  &.ribbon--225
    .ribbon-corner
      border-bottom-color $c-bd-warn

// ----- Position ----- //

.ribbon--45
  @extend .amid-45

  .ribbon-corner
    border-right-width 0
    border-bottom-width 0

.ribbon--135
  @extend .amid-135

  .ribbon-corner
    border-top-width 0
    border-right-width 0

.ribbon--225
  @extend .amid-225

  .ribbon-corner
    border-top-width 0
    border-left-width 0

.ribbon--315
  @extend .amid-315

  .ribbon-corner
    border-bottom-width 0
    border-left-width 0

.ribbon--45
.ribbon--135
  .ribbon-text
    transform translateX(20%)
  
.ribbon--225
.ribbon--315
  .ribbon-text
    transform translateX(-20%)


// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.ribbon-corner
  position absolute
  top 0
  left 0

  border-style $b-bd-style
  border-color transparent

.ribbon-text
  display block
  color $c-white
  z-index $b-idx-top
  position relative

// -------------------------------------
//   Context
// -------------------------------------

.has-ribbon
  overflow hidden
  border-radius $b-rad-round
  position relative
