// Rule
//
// Markup:
// <div class="rule rule--v rule--m rule--basis rule--solid" style="height: 100px;">
//   <div class="rule-inner">
//     <span class="rule-text">中</span>
//   </div>
// </div>
// <div class="rule rule--h rule--m rule--basis rule--solid">
//   <div class="rule-inner">
//     <span class="rule-text">中</span>
//   </div>
// </div>
//
// Styleguide 2.17
.rule
  overflow hidden

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.rule--basis > .rule-inner
  color $c-bd-basis

  &:before
  &:after
    border-color $c-bd-basis

.rule--info > .rule-inner
  color $c-bd-info

  &:before
  &:after
    border-color $c-bd-info

.rule--safe > .rule-inner
  color $c-bd-safe

  &:before
  &:after
    border-color $c-bd-safe

.rule--danger > .rule-inner
  color $c-bd-danger

  &:before
  &:after
    border-color $c-bd-danger

.rule--warn > .rule-inner
  color $c-bd-warn

  &:before
  &:after
    border-color $c-bd-warn

// ----- Size ----- //

.rule--xs .rule-text
  height $b-fs-xs

.rule--s .rule-text
  height $b-fs-s

.rule--m .rule-text
  height $b-fs-m

.rule--l .rule-text
  height $b-fs-l

.rule--xl .rule-text
  height $b-fs-xl

.rule--h
  &.rule--xs .rule-inner
    padding-top $rule-offset-xs * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-xs

    &:before
      margin-left $rule-offset-xs

  &.rule--s .rule-inner
    padding-top $rule-offset-s * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-s

    &:before
      margin-left $rule-offset-s

  &.rule--m .rule-inner
    padding-top $rule-offset-m * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-m

    &:before
      margin-left $rule-offset-m

  &.rule--l .rule-inner
    padding-top $rule-offset-l * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-l

    &:before
      margin-left $rule-offset-l

  &.rule--xl .rule-inner
    padding-top $rule-offset-xl * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-xl

    &:before
      margin-left $rule-offset-xl

.rule--v
  &.rule--xs .rule-inner
    &:after
      margin-bottom $rule-offset-xs

    &:before
      margin-top $rule-offset-xs

  &.rule--s .rule-inner
    &:after
      margin-bottom $rule-offset-s

    &:before
      margin-top $rule-offset-s

  &.rule--m .rule-inner
    &:after
      margin-bottom $rule-offset-m

    &:before
      margin-top $rule-offset-m

  &.rule--l .rule-inner
    &:after
      margin-bottom $rule-offset-l

    &:before
      margin-top $rule-offset-l

  &.rule--xl .rule-inner
    &:after
      margin-bottom $rule-offset-xl

    &:before
      margin-top $rule-offset-xl

// ----- Direction ----- //

.rule--h > .rule-inner
  width 100%

  &:after
  &:before
    width 50%
    height 0

  &:after
    left auto

  &:before
    right auto

.rule--v > .rule-inner
  height 100%

  &:after
  &:before
    width 0
    height 50%

  &:after
    top auto

  &:before
    bottom auto

// ----- Style ----- //

.rule--v
  &.rule--solid > .rule-inner
    &:before
    &:after
      border-left-style solid

  &.rule--dashed > .rule-inner
    &:before
    &:after
      border-left-style dashed

  &.rule--dotted > .rule-inner
    &:before
    &:after
      border-left-style dotted

  &.rule--notch > .rule-inner
    &:before
    &:after
      border-left-style solid
      border-right-style solid
      border-right-color $c-highlight-light

.rule--h
  &.rule--solid > .rule-inner
    &:before
    &:after
      border-top-style solid

  &.rule--dashed > .rule-inner
    &:before
    &:after
      border-top-style dashed

  &.rule--dotted > .rule-inner
    &:before
    &:after
      border-top-style dotted

  &.rule--notch > .rule-inner
    &:before
    &:after
      border-top-style solid
      border-bottom-style solid
      border-bottom-color $c-highlight-light

.rule--join
  .rule-text
    display none

  .rule-inner
    &:after
      display none

.rule--v.rule--join
  .rule-inner
    &:before
      height 100%
      margin-top auto

.rule--h.rule--join
  .rule-inner
    &:before
      width 100%
      margin-left auto

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.rule-text
.rule-inner:after
.rule-inner:before
  @extend .center

.rule-text
  z-index $b-idx-top
  text-align center
  line-height 1

.rule-inner
  margin-top 1px
  margin-bottom 1px
  position relative

  &:before
  &:after
    content ""
    border-width $b-bd-width
