// Section
//
// Markup:
// <div class="por" style="height: 200px; width: 200px;">
//   <div id="content" class="lay">
//     <section class="header tac">
//       <div class="g g--row g--cross-center hf">
//         <h1 class="h fsxl">标题</h1>
//       </div>
//     </section>
//     <section class="main main--xl">
//       <p>这里是主要的内容。</p>
//     </section>
//     <section class="footer tac">
//       <div class="g g--row g--cross-center hf">
//         <p class="h fsxl">底部</p>
//       </div>
//     </section>
//   </div>
// </div>
//
// Styleguide 2.28
.header
.main
.footer
  @extend .center

.header
.footer
  z-index $b-idx-top
  height $section-gap

.main
  z-index $b-idx-middle

  margin-top $section-gap
  margin-bottom @margin-top

.header
  bottom auto

.footer
  top auto

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Flatten ----- //

.main--f
  margin-top 0
  margin-bottom @margin-top

.main--ft
  margin-top 0

.main--fb
  margin-bottom 0
// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------
