// Select
//
// Theme:
//
// + `.select--basis`
// + `.select--safe`
// + `.select--danger`
// + `.select--info`
// + `.select--warn`
//
//
// Shape:
//
// + `.select--pill`
// + `.select--square`
//
//
// Stylize:
//
// + `.select--text`
// + `.select--link`
// + `.select--outline`
//
//
// Markup:
// <div class="select select--basis" data-state="">
//   <select class="select-tag">
//     <option>这是第一条选项。</option>
//     <option>这是第二条选项。</option>
//     <option>这是第三条选项。</option>
//   </select>
//   <div class="select-bd">
//     <div class="g g--row">
//       <div class="c c--4of5">
//         <span class="select-text">选择框<span>
//       </div>
//       <div class="c c--1of5">
//         <span class="select-indicator"></span>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 2.7
.select
  position relative
  padding $b-vgap $b-hgap

  border-width $b-bd-width
  border-style $b-bd-style

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.select--basis
.select--info
.select--safe
.select--danger
.select--warn
  border-radius $b-rad-round

.select--basis
  @extend .ui-basis

.select--info
  @extend .ui-info

.select--safe
  @extend .ui-safe

.select--danger
  @extend .ui-danger

.select--warn
  @extend .ui-warn
  
// ----- Shape ----- //

.select--pill
  border-radius $b-rad-pill

.select--square
  border-radius $b-rad-square
  
// ----- Stylize ----- //

.select--text
.select--link
.select--outline
  background-color transparent
  background-image none

.select--text
.select--link
  border-color transparent

.select--link
  color           $c-link-static
  text-decoration underline

.select--outline
  &.select--white
    color        $c-white
    border-color @color

  &.select--black
    color        $c-black
    border-color @color

  &.select--basis
    color        $c-bd-basis
    border-color @color

  &.select--info
    color        $c-bd-info
    border-color @color

  &.select--safe
    color        $c-bd-safe
    border-color @color

  &.select--danger
    color        $c-bd-danger
    border-color @color

  &.select--warn
    color        $c-bd-warn
    border-color @color

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.select-tag
.select-bd
  width 100%

.select-tag
  @extend .center

  reset-appearance()

  opacity 0
  outline 0
  height 100%

.select-bd
  pointer-events none

.select-text
  @extend .ellipsis

  display block
