// Rule
//
// Markup:
// <div class="vrule rule--m rule--basis rule--solid" style="height: 100px;">
//   <div class="rule-inner">
//     <span class="rule-text">中</span>
//   </div>
// </div>
// <div class="hrule rule--m rule--basis rule--solid" style="height: 20px;">
//   <div class="rule-inner">
//     <span class="rule-text">中</span>
//   </div>
// </div>
//
// Styleguide 2.17
.hrule
.vrule
  overflow hidden

.hrule > .rule-inner
  width 100%

  &:after
  &:before
    width 50%
    height 0

  &:after
    left auto

  &:before
    right auto

.vrule > .rule-inner
  height 100%

  &:after
  &:before
    width 0
    height 50%

  &:after
    top auto

  &:before
    bottom auto

// separator size modifiers (different offset and separator width/height)
// ============================================================================
.hrule
  &.pygmy .rule-inner
    padding-top $rule-offset-xs * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-xs

    &:before
      margin-left $rule-offset-xs

  &.mini .rule-inner
    padding-top $rule-offset-s * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-s

    &:before
      margin-left $rule-offset-s

  &.normal .rule-inner
    padding-top $rule-offset-m * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-m

    &:before
      margin-left $rule-offset-m

  &.huge .rule-inner
    padding-top $rule-offset-l * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-l

    &:before
      margin-left $rule-offset-l

  &.massive .rule-inner
    padding-top $rule-offset-xl * -1
    padding-bottom @padding-top

    &:after
      margin-right $rule-offset-xl

    &:before
      margin-left $rule-offset-xl

.vrule
  &.pygmy .rule-inner
    &:after
      margin-bottom $rule-offset-xs

    &:before
      margin-top $rule-offset-xs

  &.mini .rule-inner
    &:after
      margin-bottom $rule-offset-s

    &:before
      margin-top $rule-offset-s

  &.normal .rule-inner
    &:after
      margin-bottom $rule-offset-m

    &:before
      margin-top $rule-offset-m

  &.huge .rule-inner
    &:after
      margin-bottom $rule-offset-l

    &:before
      margin-top $rule-offset-l

  &.massive .rule-inner
    &:after
      margin-bottom $rule-offset-xl

    &:before
      margin-top $rule-offset-xl

.vrule.join
.hrule.join
  .rule-text
    dirulelay none

  .rule-inner
    &:after
      dirulelay none

.vrule.join
  .rule-inner
    &:before
      height 100%
      margin-top auto

.hrule.join
  .rule-inner
    &:before
      width 100%
      margin-left auto

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.rule--basis > .rule-inner
  color $c-bd-basis

  &:before
  &:after
    border-color $c-bd-basis

.rule--info > .rule-inner
  color $c-bd-info

  &:before
  &:after
    border-color $c-bd-info

.rule--safe > .rule-inner
  color $c-bd-safe

  &:before
  &:after
    border-color $c-bd-safe

.rule--danger > .rule-inner
  color $c-bd-danger

  &:before
  &:after
    border-color $c-bd-danger

.rule--warn > .rule-inner
  color $c-bd-warn

  &:before
  &:after
    border-color $c-bd-warn

.rule-inner
  &:before
  &:after
    border-width $b-bd-width

.rule-text
  text-align center

.vrule
  &.rule--solid > .rule-inner
    &:before
    &:after
      border-left-style solid

  &.rule--dashed > .rule-inner
    &:before
    &:after
      border-left-style dashed

  &.rule--dotted > .rule-inner
    &:before
    &:after
      border-left-style dotted

  &.rule--notch > .rule-inner
    &:before
    &:after
      border-left-style solid
      border-right-style solid
      border-right-color $c-highlight-light

.hrule
  &.rule--solid > .rule-inner
    &:before
    &:after
      border-top-style solid

  &.rule--dashed > .rule-inner
    &:before
    &:after
      border-top-style dashed

  &.rule--dotted > .rule-inner
    &:before
    &:after
      border-top-style dotted

  &.rule--notch > .rule-inner
    &:before
    &:after
      border-top-style solid
      border-bottom-style solid
      border-bottom-color $c-highlight-light

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.rule-text
.rule-inner:after
.rule-inner:before
  @extend .center

.rule-text
  z-index $b-idx-top

.rule-inner
  margin-top 1px
  margin-bottom 1px
  position relative

  &:before
  &:after
    content ""
