// Slider
//
// Markup:
// <div class="slider">
//   <span class="slider-pole"></span>
//   <span class="slider-thumb"></span>
// </div>
//
// Styleguide 2.6
.slider
  width 100%
  display inline-block
  position relative

  vertical-align middle

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Size ------ //

.slider--s
  .slider-pole
    margin-top $slider-gap-xs
    margin-bottom @margin-top  

.slider--xs
  .slider-pole
    margin-top $slider-gap-s
    margin-bottom @margin-top

.slider--m
  .slider-pole
    margin-top $slider-gap-m
    margin-bottom @margin-top

.slider--l
  .slider-pole
    margin-top $slider-gap-l
    margin-bottom @margin-top

.slider--xl
  .slider-pole
    margin-top $slider-gap-xl
    margin-bottom @margin-top

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Pole ----- //

.slider-pole
  width 100%
  height $b-fs-half
  display block

  border $b-bd
  border-color $c-bd-basis
  border-radius $b-rad-pill

// ----- Thumb ----- //

.slider-thumb
  @extend .center-left
  @extend .ui-basis

  width $b-fs-l
  height @width
  display block
  margin-left 2px
  margin-right @margin-left
  -webkit-user-drag element

  border-radius $b-rad-circle
  mix-outer-glow($c-shadow-dark, 1)
