// Tab
//
// + `.tab--basis`
// + `.tab--info`
// + `.tab--safe`
// + `.tab--danger`
// + `.tab--warn`
//
// Layout:
//
// + `.tab--head`
// + `.tab--foot`
//
// Markup:
// <div class="tab tab--head tab--basis">
//   <div class="g g--row">
//     <div class="c">
//       <div class="tab-item" data-state="active">
//         <span class="btn btn--text">首页</span>
//       </div>
//     </div>
//     <div class="c">
//       <div class="tab-item">
//         <span class="btn btn--text">朋友</span>
//       </div>
//     </div>
//     <div class="c">
//       <div class="tab-item">
//         <span class="btn btn--text">设置</span>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 2.22
.tab
  reset-gap()
  reset-list()

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.tab--basis
  @extend .ui-basis

.tab--info
  @extend .ui-info

.tab--safe
  @extend .ui-safe

.tab--danger
  @extend .ui-danger

.tab--warn
  @extend .ui-warn
  
.tab--basis
.tab--info
.tab--safe
.tab--danger
.tab--warn
  background-image none

// ----- Layout ----- //

.tab--head .tab-item
  border-top-width $b-bd-width * 2
  border-top-style $b-bd-style

.tab--foot .tab-item
  border-bottom-width $b-bd-width * 2
  border-bottom-style $b-bd-style

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.tab-item
  border-color $c-bd-dark

.tab-item
  &[data-state~='active']
    color $c-safe
    border-color $c-bd-safe
