// Table
//
// Theme:
//
// + `.table--black`
// + `.table--basis`
// + `.table--info`
// + `.table--safe`
// + `.table--danger`
// + `.table--warn`
//
// Stylize:
//
// + `.table--h`
// + `.table--v`
// + `.table--stripe`
//
// Markup:
// <table class="table table--basis table--h table--stripe">
//   <caption>2014年最受欢迎的水果</caption>
//   <thead>
//     <tr>
//       <th>#</th>
//       <th>水果</th>
//       <th>票数</th>
//       <th>百分比</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td>1</td>
//       <td>草莓</td>
//       <td>51,256</td>
//       <td>45.87%</td>
//     </tr>
//     <tr>
//       <td>2</td>
//       <td>香蕉</td>
//       <td>35,252</td>
//       <td>31.55%</td>
//     </tr>
//     <tr>
//       <td>3</td>
//       <td>苹果</td>
//       <td>25,235</td>
//       <td>22.58%</td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 2.24
.table
  border-spacing 0
  border-collapse collapse
  empty-cells show

  td
  th
    padding $b-vgap $b-hgap
    border solid $b-bd-width $c-bd-basis

  thead
  tfoot
  caption
    text-align center

  thead
  tfoot
    font-weight bold

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.table--black
  thead
  tfoot
    @extend .ui-black

  &
  td
  th
    border-color $c-bd-black

.table--basis
  thead
  tfoot
    @extend .ui-basis

  &
  td
  th
    border-color $c-bd-basis

.table--info
  thead
  tfoot
    @extend .ui-info

  &
  td
  th
    border-color $c-bd-info

.table--safe
  thead
  tfoot
    @extend .ui-safe

  &
  td
  th
    border-color $c-bd-safe

.table--danger
  thead
  tfoot
    @extend .ui-danger

  &
  td
  th
    border-color $c-bd-danger

.table--warn
  thead
  tfoot
    @extend .ui-warn

  &
  td
  th
    border-color $c-bd-warn

// ----- Stylize ----- //

.table--h
.table--v
  border-width $b-bd-width
  border-style $b-bd-style

.table--h
  td
  th
    border-style $b-bd-style none

.table--v
  td
  th
    border-style none $b-bd-style

.table--stripe tbody
  tr.nth-child-even
  tr:nth-child(even)
    background-color $c-grey-light


// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------
