// Textfield
//
// Theme:
//
// + `.textfield--basis`
// + `.textfield--safe`
// + `.textfield--danger`
// + `.textfield--info`
// + `.textfield--warn`
//
// State:
//
// + `full`
// + `:disabled`
//
// Markup:
// <input type="text" class="textfield textfield--basis">
// <textarea class="textfield textfield--basis" rows="5" data-state=""></textarea>
//
// Styleguide 2.2
.textfield
  reset-gap()
  reset-appearance()

  width        100%
  outline      0
  border-width $b-bd-width
  border-style $b-bd-style
  padding      $b-vgap $b-hgap

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.textfield--basis
.textfield--info
.textfield--safe
.textfield--danger
.textfield--warn
  mix-vinner-shadow()

  color            $c-black
  background-color $c-white
  background-image none
  border-radius    $b-rad-round

.textfield--basis
  border-color $c-bd-basis

.textfield--info
  border-color $c-bd-info

.textfield--safe
  border-color $c-bd-safe

.textfield--danger
  border-color $c-bd-danger

.textfield--warn
  border-color $c-bd-warn

// -------------------------------------
//   States
// -------------------------------------

// ----- Disabled ----- //

.textfield:disabled
.textfield[data-state~='full']
  mix-vinner-shadow(0, 0, transparent)

.textfield:disabled
.textfield[data-state~='disabled']
  color            $c-grey-dark
  background-color $c-bg-light

// ----- Full Size ----- //

.textfield[data-state~='full']
  height        100%
  min-height    100%
  border-radius 0
  border-style  none


// -------------------------------------
//   Scaffolding
// -------------------------------------
