// Toggle
//
// State:
//
// + `active`
// + `disabled`
//
// Markup:
// <div class="toggle" data-state="active">
//   <input class="toggle-tag" type="checkbox" id="tg-demo">
//   <div class="toggle-bd">
//     <span class="toggle-indicator"></span>
//   </div>
// </div>
// <label class="label" for="tg-demo">开关</label>
//
// Styleguide 2.5
.toggle
  display        inline-block
  vertical-align middle

// -------------------------------------
//   Modifiers
// -------------------------------------

// -------------------------------------
//   States
// -------------------------------------

.toggle[data-state~='active']
  .toggle-bd
    @extend .ui-safe

    border-width $b-bd-width
    border-style $b-bd-style
    background-image none
    background-color $c-safe

  .toggle-indicator
    left auto
    right 0

.toggle[data-state~='disabled']
  .toggle-indicator
    background-image none


// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Tag ----- //

.toggle-tag
  opacity 0
  outline 0
  position absolute

// ----- Body ----- //

.toggle-bd
  @extend .ui-basis

  width be-even($b-fs-l * 2.7)
  height be-even($b-fs-l * 1.6 + 2)
  position relative

  border-width $b-bd-width
  border-style $b-bd-style
  border-radius $b-rad-pill
  background-image none

// ----- Tip ----- //

.toggle-indicator
  @extend .center
  @extend .ui-basis

  mix-outer-glow($c-shadow-light, 1)

  left 0
  right auto
  width be-even($b-fs-l * 1.6)
  height @width
  display block

  border-radius $b-rad-circle
