// Tooltip
//
// Position:
//
// + `.tooltip--90`
// + `.tooltip--180`
// + `.tooltip--270`
// + `.tooltip--360`
//
// Markup:
// <div class="tooltip tooltip--m tooltip--180 por" data-tooltip="点击可加载更多内容。" data-state="show">
//   <button class="btn btn--basis">加载更多</button>
// </div>
//
// Styleguide 2.13
.tooltip
  &:before
  &:after
    visibility hidden
    pointer-events none

  &:before
    content ""
    border-style $b-bd-style
    border-color transparent
    border-width $tooltip-caret-width

  &:after
    @extend .ui-black
    @extend .nowrap

    font-size $b-fs-s
    text-align left
    border-style $b-bd-style
    border-width $b-bd-width
    border-radius $b-rad-round
    content attr(data-tooltip)
    padding $b-vgap-half $b-hgap-half

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Position ----- //

.tooltip--90:after
  @extend .around-90

.tooltip--180:after
  @extend .around-180

.tooltip--270:after
  @extend .around-270

.tooltip--360:after
  @extend .around-360

.tooltip--90
  &:before
    @extend .around-90

    border-right-color $c-black

  &:after
    right $tooltip-bd-offset

.tooltip--180
  &:before
    @extend .around-180

    border-bottom-color $c-black

  &:after
    bottom $tooltip-bd-offset

.tooltip--270
  &:before
    @extend .around-270

    border-left-color $c-black

  &:after
    left $tooltip-bd-offset

.tooltip--360
  &:before
    @extend .around-360

    border-top-color $c-black

  &:after
    top $tooltip-bd-offset

// -------------------------------------
//   States
// -------------------------------------

.tooltip[data-state~='show']
  &:after
  &:before
    visibility visible

// -------------------------------------
//   Scaffolding
// -------------------------------------

// -------------------------------------
//   Context
// -------------------------------------
