// Quote
//
// Markup:
// <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus repellendus aut, dolorum modi vel pariatur mollitia ducimus, quod molestiae natus.</blockquote>
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, amet.</q>Magnam, incidunt?</p>
//
// Styleguide 7.31.4