// Table
//
//<table>
//<thead>
//  <tr>
//      <th>Type</th>
//      <th>Name</th>
//      <th>Price</th>
//    </tr>
//  </thead>
//<tbody>
//  <tr>
//      <td>Fruit</td>
//      <td>Apple</td>
//      <td>1$</td>
//    </tr>
//  <tr>
//      <td>Drink</td>
//      <td>Coca</td>
//      <td>2$</td>
//    </tr>
//  <tr>
//      <td>Cloth</td>
//      <td>T-shirt</td>
//      <td>15$</td>
//    </tr>
//  </tbody>
//</table>
//
// Styleguide 7.31.7