// Popup
//
// Markup:
// <div class="popup basis-static">
//   <div class="row">
//     <div class="col col--full">
//       <div class="popup-header">
//         <h3 class="h2">《这是一篇文章》</h3>
//       </div>
//     </div>
//   </div>
//   <div class="row">
//     <div class="col col--full">
//       <div class="popup-content">
//         <ul class="list vertical loose">
//           <li class="first">
//             <button class="btn full basis">打开</button>
//           </li>
//           <li>
//             <button class="btn full basis">编辑</button>
//           </li>
//           <li class="last">
//             <button class="btn full basis">删除</button>
//           </li>
//         </ul>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 7.4
.popup
  border-style solid none none none
  border-width $border-width
  border-radius 0

.popup-header
  text-align center

.popup-content
  padding-top $gap-vertical
  padding-bottom $gap-vertical