// Active
//
// **Opacity:**
//
// + `a-fade-out`
// + `a-fade-in`
//
//
// **Text Decoration:**
//
// + `a-underline`
//
//
// **Fore Color:**
//
// + `a-color-light`
// + `a-color-heavy`
// + `a-color-info`
// + `a-color-safe`
// + `a-color-danger`
// + `a-color-warn`
//
//
// **Background Color:**
//
// + `a-bg-light`
// + `a-bg-heavy`
// + `a-bg-info`
// + `a-bg-safe`
// + `a-bg-danger`
// + `a-bg-warn`
//
//
// **Border Color:**
//
// + `a-border-light`
// + `a-border-heavy`
// + `a-border-info`
// + `a-border-safe`
// + `a-border-danger`
// + `a-border-warn`
//
//
// **Font Style:**
//
// + `a-font-thin`
// + `a-font-bold`
// + `a-font-regular`
// + `a-font-oblique`
//
//
// **Shadow:**
//
// + `a-shadow-inner`
//
// Styleguide 3.2.1
.a-fade-out:active
.ia-fade-out.is-active
  $fade-out$()

.a-fade-in:active
.ia-fade-in.is-active
  $fade-in$()

.a-underline:active
.ia-underline.is-active
  $underline$()

// Change background color when activated.
// ============================================================================
.a-bg-light:active
.ia-bg-light.is-active
  $background-light$()

.a-bg-heavy:active
.ia-bg-heavy.is-active
  $background-heavy$()

.a-bg-info:active
.ia-bg-info.is-active
  $background-info$()

.a-bg-safe:active
.ia-bg-safe.is-active
  $background-safe$()

.a-bg-danger:active
.ia-bg-danger.is-active
  $background-danger$()

.a-bg-warn:active
.ia-bg-warn.is-active
  $background-warn$()

// Change border color when activated.
// ============================================================================
.a-border-light:active
.ia-border-light.is-active
  $border-light$()

.a-border-heavy:active
.ia-border-heavy.is-active
  $border-heavy$()

.a-border-info:active
.ia-border-info.is-active
  $border-info$()

.a-border-safe:active
.ia-border-safe.is-active
  $border-safe$()

.a-border-danger:active
.ia-border-danger.is-active
  $border-danger$()

.a-border-warn:active
.ia-border-warn.is-active
  $border-warn$()

// Change fore color when activated.
// ============================================================================
.a-color-light:active
.ia-color-light.is-active
  $color-light$()

.a-color-heavy:active
.ia-color-heavy.is-active
  $color-heavy$()

.a-color-info:active
.ia-color-info.is-active
  $color-info$()

.a-color-safe:active
.ia-color-safe.is-active
  $color-safe$()

.a-color-danger:active
.ia-color-danger.is-active
  $color-danger$()

.a-color-warn:active
.ia-color-warn.is-active
  $color-warn$()

// Change font style when activated.
// ============================================================================
.a-font-thin:active
.ia-font-thin.is-active
  $font-thin$()

.a-font-bold:active
.ia-font-bold.is-active
  $font-bold$()

.a-font-regular:active
.ia-font-regular.is-active
  $font-regular$()

.a-font-oblique:active
.ia-font-oblique.is-active
  $font-oblique$()

// Set shadow effect when activated.
// ============================================================================
.a-shadow-inner:active
.ia-shadow-inner.is-active
  $shadow-inner$()

// Change text wrap when activated.
// ============================================================================
.a-wrap:active
.ia-wrap.is-active
  $wrap$()

.a-nowrap:active
.ia-nowrap.is-active
  $nowrap$()
  