// Background
//
// Change background color when state changed.
//
// + `state-bg-light`
// + `state-bg-heavy`
// + `state-bg-basis`
// + `state-bg-info`
// + `state-bg-safe`
// + `state-bg-danger`
// + `state-bg-warn`
//
//
// Markup:
// <button class="btn basis-static pure a-bg-heavy">按钮</button>
//
// Styleguide 3.2.3
{$$state-selector('bg-light')}
  background-color $background-light

{$$state-selector('bg-heavy')}
  background-color $background-heavy

{$$state-selector('bg-basis')}
  background-color $background-basis

{$$state-selector('bg-info')}
  background-color $background-info

{$$state-selector('bg-safe')}
  background-color $background-safe

{$$state-selector('bg-danger')}
  background-color $background-danger

{$$state-selector('bg-warn')}
  background-color $background-warn
