// Border
//
// Change border color when state changed.
//
// + `state-border-light`
// + `state-border-heavy`
// + `state-border-basis`
// + `state-border-info`
// + `state-border-safe`
// + `state-border-danger`
// + `state-border-warn`
//
//
// Markup:
// <button class="btn basis-static pure a-border-info">按钮</button>
//
// Styleguide 3.2.4
{$$state-selector('border-light')}
  border-color $border-light

{$$state-selector('border-heavy')}
  border-color $border-heavy

{$$state-selector('border-basis')}
  border-color $border-basis

{$$state-selector('border-info')}
  border-color $border-info

{$$state-selector('border-safe')}
  border-color $border-safe

{$$state-selector('border-danger')}
  border-color $border-danger

{$$state-selector('border-warn')}
  border-color $border-warn
