// Color
//
// Change text color when state changed.
//
// + `state-color-light`
// + `state-color-heavy`
// + `state-color-basis`
// + `state-color-info`
// + `state-color-safe`
// + `state-color-danger`
// + `state-color-warn`
//
//
// Markup:
// <button class="btn basis-static pure a-color-info">按钮</button>
//
// Styleguide 3.2.5
{$$state-selector('color-light')}
  color $color-light

{$$state-selector('color-heavy')}
  color $color-heavy

{$$state-selector('color-basis')}
  color $brand-basis

{$$state-selector('color-info')}
  color $brand-info

{$$state-selector('color-safe')}
  color $brand-safe

{$$state-selector('color-danger')}
  color $brand-danger

{$$state-selector('color-warn')}
  color $brand-warn
