// Opacity
//
// Change component opacity when state changed.
//
// + `state-fade-out`
// + `state-fade-in`
//
// Markup:
// <button class="btn basis-static a-fade-out">按钮</button>
//
// Styleguide 3.2.1
{$$state-selector('fade-out')}
  opacity 0.5

{$$state-selector('fade-in')}
  opacity 0.1
