// Shadow
//
// Change component shadow when state changed.
//
// + `state-shadow-inner`
//
//
// Markup:
// <button class="btn basis-static a-shadow-inner">按钮</button>
//
// Styleguide 3.2.7
{$$state-selector('shadow-inner')}
  $$top-inner-shadow()
