// Underline
//
// Add/Remvoe underline when component state changed.
//
// + `state-underline`
// + `state-underclear`
//
// Markup:
// <a class="link a-underclear">按钮</a>
//
// Styleguide 3.2.2
{$$state-selector('underline')}
  text-decoration underline

{$$state-selector('underclear')}
  text-decoration none
