// Wrap
//
// Change text wrap when component state changed.
//
// + `wrap`
// + `nowrap`
//
//
// Markup:
// <p class="truncate a-wrap">这是一条文本，而且内容可以非常的长。</p>
//
// Styleguide 3.2.8
{$$state-selector('wrap')}
  white-space normal

{$$state-selector('nowrap')}
  white-space nowrap
