// State
//
// Markup:
// <div class="radio seamless">
//   <input class="radio-tag" type="radio" id="ro-demo">
//   <label class="radio-label" for="ro-demo">
//     <span class="radio-mock">
//       <span class="radio-indicator"></span>
//     </span>
//     <span class="radio-text">单选控件</span>
//   </lable>
// </div>
//
// Styleguide 5.4.3
.radio-tag:checked + .radio-label .radio-indicator
  opacity 1
