// UI
//
// Styleguide 5.4.2
.radio
  line-height $tf-height

.radio-mock
  @extend $ui-basis-static

  border-style solid
  border-width $bd-width
  border-radius 100%

.radio-indicator
  border-radius 100%
  border-style none
  background-color $te-safe
