// Background
//
// **Brand Background:**
//
// + `background-basis`
// + `background-safe`
// + `background-danger`
// + `background-info`
// + `background-warn`
//
//
// **Grey Background:**
//
// + `background-white`
// + `background-black`
// + `background-light`
// + `background-heavy`
//
//
// Markup:
// <button class="btn basis-static pure a-background-info">按钮</button>
//
// Styleguide 3.1.7

// Brand background color
// ----------------------------------------------------------------------------
$BACKGROUND-BASIS
.background-basis
  background-color $background-basis

$BACKGROUND-SAFE
.background-safe
  background-color $background-safe

$BACKGROUND-DANGER
.background-danger
  background-color $background-danger

$BACKGROUND-INFO
.background-info
  background-color $background-info

$BACKGROUND-WARN
.background-warn
  background-color $background-warn

// Grey background color
// ----------------------------------------------------------------------------
$BACKGROUND-WHITE
.background-white
  background-color $white

$BACKGROUND-BLACK
.background-black
  background-color $black

$BACKGROUND-LIGHT
.background-light
  background-color $background-light

$BACKGROUND-HEAVY
.background-heavy
  background-color $background-heavy
