// Background
//
// **Brand Background:**
//
// + `background-basis`
// + `background-safe`
// + `background-danger`
// + `background-info`
// + `background-warn`
//
//
// **Grey Background:**
//
// + `background-white`
// + `background-black`
// + `background-light`
// + `background-heavy`
//
//
// Markup:
// <button class="btn basis-static pure a-background-info">按钮</button>
//
// Styleguide 3.1.7

// Brand background color
// ----------------------------------------------------------------------------
$bg-BASIS
.background-basis
  background-color $bg-basis

$bg-SAFE
.background-safe
  background-color $bg-safe

$bg-DANGER
.background-danger
  background-color $bg-danger

$bg-INFO
.background-info
  background-color $bg-info

$bg-WARN
.background-warn
  background-color $bg-warn

// Grey background color
// ----------------------------------------------------------------------------
$bg-WHITE
.background-white
  background-color $white

$bg-BLACK
.background-black
  background-color $black

$bg-LIGHT
.background-light
  background-color $bg-light

$bg-HEAVY
.background-heavy
  background-color $bg-heavy
