// Border
//
// **Brand Border:**
//
// + `border-basis`
// + `border-safe`
// + `border-danger`
// + `border-info`
// + `border-warn`
//
//
// **Grey Border:**
//
// + `border-white`
// + `border-black`
// + `border-light`
// + `border-heavy`
//
//
// Markup:
// <button class="btn basis-static pure a-border-info">按钮</button>
//
// Styleguide 3.1.3
$bd-BASIS
.border-basis
$bd-SAFE
.border-safe
$bd-DANGER
.border-danger
$bd-INFO
.border-info
$bd-WARN
.border-warn
$bd-WHITE
.border-white
$bd-BLACK
.border-black
$bd-LIGHT
.border-light
$bd-HEAVY
.border-heavy
  border-style solid
  border-width $bd-width

// Brand border color
// ----------------------------------------------------------------------------
$bd-BASIS
.border-basis
  border-color $bd-basis

$bd-SAFE
.border-safe
  border-color $bd-safe

$bd-DANGER
.border-danger
  border-color $bd-danger

$bd-INFO
.border-info
  border-color $bd-info

$bd-WARN
.border-warn
  border-color $bd-warn

// Grey border color
// ----------------------------------------------------------------------------
$bd-WHITE
.border-white
  border-color $white

$bd-BLACK
.border-black
  border-color $black

$bd-LIGHT
.border-light
  border-color $bd-light

$bd-HEAVY
.border-heavy
  border-color $bd-heavy
