// Border
//
// **Brand Border:**
//
// + `border-basis`
// + `border-safe`
// + `border-danger`
// + `border-info`
// + `border-warn`
//
//
// **Grey Border:**
//
// + `border-white`
// + `border-black`
// + `border-light`
// + `border-heavy`
//
//
// Markup:
// <button class="btn basis-static pure a-border-info">按钮</button>
//
// Styleguide 3.1.3
$BORDER-BASIS
.border-basis
$BORDER-SAFE
.border-safe
$BORDER-DANGER
.border-danger
$BORDER-INFO
.border-info
$BORDER-WARN
.border-warn
$BORDER-WHITE
.border-white
$BORDER-BLACK
.border-black
$BORDER-LIGHT
.border-light
$BORDER-HEAVY
.border-heavy
  border-style solid
  border-width $border-width

// Brand border color
// ----------------------------------------------------------------------------
$BORDER-BASIS
.border-basis
  border-color $border-basis

$BORDER-SAFE
.border-safe
  border-color $border-safe

$BORDER-DANGER
.border-danger
  border-color $border-danger

$BORDER-INFO
.border-info
  border-color $border-info

$BORDER-WARN
.border-warn
  border-color $border-warn

// Grey border color
// ----------------------------------------------------------------------------
$BORDER-WHITE
.border-white
  border-color $white

$BORDER-BLACK
.border-black
  border-color $black

$BORDER-LIGHT
.border-light
  border-color $border-light

$BORDER-HEAVY
.border-heavy
  border-color $border-heavy
