// Color
//
// **Brand Color:**
//
// + `color-basis`
// + `color-safe`
// + `color-danger`
// + `color-info`
// + `color-warn`
//
//
// **Grey Color:**
//
// + `color-white`
// + `color-black`
// + `color-light`
// + `color-heavy`
//
//
// Markup:
// <p class="color-safe">这是一条文本。</p>
//
// Styleguide 3.1.1

// Brand color
// ----------------------------------------------------------------------------
$COLOR-BASIS
.color-basis
  color $brand-basis

$COLOR-SAFE
.color-safe
  color $brand-safe

$COLOR-DANGER
.color-danger
  color $brand-danger

$COLOR-INFO
.color-info
  color $brand-info

$COLOR-WARN
.color-warn
  color $brand-warn

// Grey color
// ----------------------------------------------------------------------------
$COLOR-WHITE
.color-white
  color $white

$COLOR-BLACK
.color-black
  color $black

$COLOR-LIGHT
.color-light
  color $grey-light

$COLOR-HEAVY
.color-heavy
  color $grey-heavy