// Font Style
//
// + `font-thin`
// + `font-bold`
// + `font-oblique`
// + `font-regular`
//
//
// Markup:
// <p class="font-bold">这是一条文本。</p>
//
// Styleguide 3.1.2
$FONT-THIN
.font-thin
  font-weight normal

$FONT-BOLD
.font-bold
  font-weight bold

$FONT-OBLIQUE
.font-oblique
  font-style oblique

$FONT-REGULAR
.font-regular
  font-weight normal
  font-style normal
