// Gradient
//
// + `gradient-basis`
// + `gradient-safe`
// + `gradient-danger`
// + `gradient-info`
// + `gradient-warn`
//
//
// Markup:
// <button class="btn basis-static pure a-background-info">按钮</button>
//
// Styleguide 3.1.9
$GRADIENT-BASIS
.gradient-basis
  $$linear-gradient($te-basis, $end-basis)

$GRADIENT-SAFE
.gradient-safe
  $$linear-gradient($te-safe, $end-safe)

$GRADIENT-DANGER
.gradient-danger
  $$linear-gradient($te-danger, $end-danger)

$GRADIENT-INFO
.gradient-info
  $$linear-gradient($te-info, $end-info)

$GRADIENT-WARN
.gradient-warn
  $$linear-gradient($te-warn, $end-warn)
