// Gradient
//
// + `gradient-basis`
// + `gradient-safe`
// + `gradient-danger`
// + `gradient-info`
// + `gradient-warn`
//
//
// Markup:
// <button class="btn basis-static pure a-background-info">按钮</button>
//
// Styleguide 3.1.9
$GRADIENT-BASIS
.gradient-basis
  $$linear-gradient($brand-basis, $brand-basis-end)

$GRADIENT-SAFE
.gradient-safe
  $$linear-gradient($brand-safe, $brand-safe-end)

$GRADIENT-DANGER
.gradient-danger
  $$linear-gradient($brand-danger, $brand-danger-end)

$GRADIENT-INFO
.gradient-info
  $$linear-gradient($brand-info, $brand-info-end)

$GRADIENT-WARN
.gradient-warn
  $$linear-gradient($brand-warn, $brand-warn-end)
