// Plain
//
// + `plain-basis`
// + `plain-safe`
// + `plain-danger`
// + `plain-info`
// + `plain-warn`
//
//
// Markup:
// <button class="btn basis-static pure a-background-info">按钮</button>
//
// Styleguide 3.1.8
$PLAIN-BASIS
.plain-basis
  background-color $dis-basis

$PLAIN-SAFE
.plain-safe
  background-color $dis-safe

$PLAIN-DANGER
.plain-danger
  background-color $dis-danger

$PLAIN-INFO
.plain-info
  background-color $dis-info

$PLAIN-WARN
.plain-warn
  background-color $dis-warn
