// Shape
//
// + `rect`
// + `round`
// + `pill`
// + `circle`
//
// Markup:
// <a class="link underline">按钮</a>
//
// Styleguide 3.1.4
$RECT
.rect
  border-radius 0

$ROUND
.round
  border-radius $bd-radius

$PILL
.pill
  border-radius 500%

$CIRCLE
.circle
  border-radius 50%