// Text Decoration
//
// + `underline`
// + `del`
// + `erase`
//
// Markup:
// <a class="link underline">按钮</a>
//
// Styleguide 3.1.6
$UNDERLINE
.underline
  text-decoration underline

$DEL
.del
  text-decoration del

$ERASE
.erase
  text-decoration none
