// Dark UI
//
// Markup:
// <button class="btn box-dark">按钮</button>
//
// Styleguide 5.1.6
.box-dark
  @extend $SHAPE-RECT
  @extend $GRADIENT-DARK
  @extend $INNER-HIGHLIGHT

  border-color $black
  background-color $black

  &:disabled
    @extend $INNER-SHADOW-TRANSPARENT