$BOX-UI
  $$text-shadow()
  $$top-inner-shadow(1, 0, $highlight-light)

  color $white

$BOX-UI-FOCUS
  null

$BOX-UI-ACTIVE
  $$top-inner-shadow()

$BOX-UI-DISABLED
  $$top-inner-shadow(1, 0, $highlight-light)