$BOX-UI
  color $white
  font-size $te
  border-style solid
  border-width $border-width
  line-height $textfield-height

  $$text-shadow()
  $$top-inner-shadow(1, 0, $highlight-light)

$BOX-UI-FOCUS
  null

$BOX-UI-ACTIVE
  null

$BOX-UI-DISABLED
  background-image none
  $$top-inner-shadow(0, 0, transparent)
