$$Box-UI($ui-type, $brand-color, $brand-color-end, $border-color, $background-color, $background-disabled-color = null)
  .box-{$ui-type}
  .box-{$ui-type}-static
    @extend $BOX-UI

    if $ui-type is 'basis'
      color $black

    border-color $border-color
    background-color $background-color

    $$linear-gradient($brand-color, $brand-color-end)
    $$text-highlight()

    &:active
    &.is-active
      @extend $BOX-UI-ACTIVE

    &:disabled
    &.is-disabled
      @extend $BOX-UI-DISABLED

      background-image none
    
      if $ui-type is 'basis'
        color $grey-light

      if $background-disabled-color
        background-color $background-disabled-color