// Box UI
//
// **UI Type:**
//
// + `basis`
// + `info`
// + `safe`
// + `danger`
// + `warn`
//
//
// **State:**
//
// + `is-active`
// + `is-disabled`
//
// Markup:
// <button class="btn box-basis">按钮</button>
//
// Styleguide 5.1
$$Box-UI('basis', $brand-basis, $brand-basis-end, $border-basis, $background-basis, $brand-basis-disabled)

$$Box-UI('info', $brand-info, $brand-info-end, $border-info, $background-info, $brand-info-disabled)

$$Box-UI('safe', $brand-safe, $brand-safe-end, $border-safe, $background-safe, $brand-safe-disabled)

$$Box-UI('danger', $brand-danger, $brand-danger-end, $border-danger, $background-danger, $brand-danger-disabled)

$$Box-UI('warn', $brand-warn, $brand-warn-end, $border-warn, $background-warn, $brand-warn-disabled)