// Core
//
// **Size:**
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
//
// **Position:**
//
// + `.around-30`
// + `.around-60`
// + `.around-90`
// + `.around-120`
// + `.around-150`
// + `.around-180`
// + `.around-210`
// + `.around-240`
// + `.around-270`
// + `.around-300`
// + `.around-330`
// + `.around-360`
//
// Styleguide 5.12.1
.pointer
  &:after
    content ""
    border-style solid

  &.pygmy
  &.mini
  &.normal
    &:after
      border-width $$be_even($ht-normal * 0.2)

  &.huge
  &.massive
    &:after
      border-width $$be_even($ht-huge * 0.2)

  &.around-30
    &:after
      @extend $l-around-30

  &.around-60
    &:after
      @extend $l-around-60

  &.around-90
    &:after
      @extend $l-around-90

  &.around-120
    &:after
      @extend $l-around-120

  &.around-150
    &:after
      @extend $l-around-150

  &.around-180
    &:after
      @extend $l-around-180

  &.around-210
    &:after
      @extend $l-around-210

  &.around-240
    &:after
      @extend $l-around-240

  &.around-270
    &:after
      @extend $l-around-270

  &.around-300
    &:after
      @extend $l-around-300

  &.around-330
    &:after
      @extend $l-around-330

  &.around-360
    &:after
      @extend $l-around-360

  &.around-30
  &.around-150
    &:after
      right $bd-width * 3

  &.around-60
  &.around-300
    &:after
      top $bd-width * 3

  &.around-120
  &.around-240
    &:after
      bottom $bd-width * 3

  &.around-210
  &.around-330
    &:after
      left $bd-width * 3
