// Centralize
//
// + `$center$`        Centralize vertically and horizontally.
// + `$center-left$`   Centralize vertically and stick to **left** side.
// + `$center-right$`  Centralize vertically and stick to **right** side.
// + `$center-top$`    Centralize horizontally and stick to **top** side.
// + `$center-bottom$` Centralize horizontally and stick to **bottom** side.
//
// Styleguide 1.3.3
$center$()
  left 0
  right 0
  top 0
  bottom 0
  margin auto
  position absolute

$center-left$()
  $center$()

  right auto

$center-right$()
  $center$()

  left auto

$center-top$()
  $center$()

  bottom auto

$center-bottom$()
  $center$()

  top auto
