// Flexiable Component
//
// + `$stretch-width$`  Width expand/compress fellow by parent element.
// + `$stretch-height$` Height expand/compress fellow by parent element.
//
// Styleguide 1.3.3
$stretch-width$()
  width 100%
  height auto

$stretch-height$()
  width auto
  height 100%
