// States
//
// **Opacity:**
//
// + `$fade-in$`
// + `$fade-out$`
//
//
// **Text Decoration:**
//
// + `$underline$`
//
//
// **Fore Color:**
//
// + `$color-light$`
// + `$color-heavy$`
// + `$color-info$`
// + `$color-safe$`
// + `$color-danger$`
// + `$color-warn$`
//
//
// **Background Color:**
//
// + `$background-light$`
// + `$background-heavy$`
// + `$background-info$`
// + `$background-safe$`
// + `$background-danger$`
// + `$background-warn$`
//
//
// **Border Color:**
//
// + `$border-light$`
// + `$border-heavy$`
// + `$border-info$`
// + `$border-safe$`
// + `$border-danger$`
// + `$border-warn$`
//
//
// **Font Style:**
//
// + `$font-thin$`
// + `$font-bold$`
// + `$font-regular$`
// + `$font-oblique$`
//
//
// **Shadow:**
//
// + `$shadow-inner`
//
// 
// **White Space:**
//
// + `$wrap$`
// + `$nowrap$`
//
// Styleguide 1.3.5

// Change opacity when component state changed.
// ============================================================================
$fade-out$()
  opacity 0.5

$fade-in$()
  opacity 1

// Change text decoration when component state changed.
// ============================================================================
$underline$()
  text-decoration underline

// Change background color when component state changed.
// ============================================================================
$background-light$()
  background-color $background-light

$background-heavy$()
  background-color $background-heavy

$background-info$()
  background-color $$translucent($brand-info, 10)

$background-safe$()
  background-color $$translucent($brand-safe, 10)

$background-danger$()
  background-color $$translucent($brand-danger, 10)

$background-warn$()
  background-color $$translucent($brand-warn, 10)

// Change border color when component state changed.
// ============================================================================
$border-light$()
  border-color $border-light

$border-heavy$()
  border-color $border-heavy

$border-info$()
  border-color $border-info

$border-safe$()
  border-color $border-safe

$border-danger$()
  border-color $border-danger

$border-warn$()
  border-color $border-warn

// Change fore color when component state changed.
// ============================================================================
$color-light$()
  color $color-light

$color-heavy$()
  color $color-heavy

$color-info$()
  color $brand-info

$color-safe$()
  color $brand-safe

$color-danger$()
  color $brand-danger

$color-warn$()
  color $brand-warn 

// Change font style when component state changed.
// ============================================================================
$font-thin$()
  font-weight normal

$font-bold$()
  font-weight bold

$font-regular$()
  font-weight regular

$font-oblique$()
  font-weight oblique

// Set shadow effect when component state changed.
// ============================================================================
$shadow-inner$()
  $$top-inner-shadow()

// Change text wrap when component state changed.
// ============================================================================
$wrap$()
  white-space normal

$nowrap$()
  whitei-space nowrap