// All
//
// Set default box model: old ie quirks mode box model
//   width = padding + border-width
//   height = padding + border-width
//
//   more at:
//   https://developer.mozilla.org/zh-CN/docs/Web/CSS/box-sizing
//
// Styleguide 2.1
*
  box-sizing border-box // 1