// a
//
// Inherit context color in every state.
//
// Markup:
// <a href="#">链接</a>
//
// Styleguide 2.3
a
  &
  &:visited
  &:active
  &[data-state='active']
    color $link-static

  &disabled
  &[data-state='disabled']
    color $link-disabled