// Anchor
//
// Markup:
// <a href="#">原始链接</a>
//
// Styleguide 2.1
a
  &
  &:visited
  &:active
  &.is-active
    color inherit
    font-size inherit
    font-weight inherit
    line-height inherit
    text-decoration none

  &:disabled
  &.is-disabled
    $basis-disabled$()