// Anchor
//
// Markup:
// <a href="#">链接</a>
//
// Styleguide 2.2
a
  &
    font-size inherit
    font-weight inherit
    line-height inherit
    text-decoration none

  &
  &:visited
  &:active
  &.is-active
    color inherit

  &:disabled
    $basis-disabled$()