// UI
//
// **Color:**
//
// + `.ui-basis`
// + `.ui-info`
// + `.ui-safe`
// + `.ui-danger`
// + `.ui-warn`
//
//
// **Stylize:**
//
// + `.ui-lines` Set higher line height for textarea.
//
// Styleguide 5.2.2
.textfield
  outline 0
  font-size $te
  border-radius $rad-round
  border-style solid
  border-width $bd-width

  &.ui-basis
  &.ui-info
  &.ui-safe
  &.ui-danger
  &.ui-warn
    color $te-black
    line-height $tf-height
    background-color $te-white
    background-image none
    $$top-inner-shadow()

  &.ui-basis
    @extend $ui-basis-static

  &.ui-info
    @extend $ui-info-static

  &.ui-safe
    @extend $ui-safe-static

  &.ui-danger
    @extend $ui-danger-static

  &.ui-warn
    @extend $ui-warn-static

  &.ui-lines
    line-height $te-line
