// Core
//
// + `.full`
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
// Styleguide 5.2.1
.textfield
  $reset-gap$()
  $reset-appearance$()

  width 100%
  padding $gap-v $gap-h

  &.full
    height 100%
    min-height 100%

  &.pygmy
    @extend $l-pygmy-seam

  &.mini
    @extend $l-mini-seam

  &.normal
    @extend $l-normal-seam

  &.huge
    @extend $l-huge-seam

  &.massive
    @extend $l-massive-seam
