// State
//
// **Pseudo Class:**
//
// + `:disabled`
//
//
// **State:**
//
// + `full`     Textfield expaned to fill total container.
// + `disabled`
//
// Markup:
// <input type="text" class="textfield normal ui-basis">
// <textarea class="textfield ui-basis ui-lines" rows="5" data-state=""></textarea>
//
// Styleguide 5.2.3
.textfield
  &:disabled
  &[data-state~='disabled']
    &.ui-basis
    &.ui-info
    &.ui-safe
    &.ui-danger
    &.ui-warn
      $$top-inner-shadow(0, 0, transparent)
      color $grey-heavy
      background-color $bg-light

  &[data-state~='full']
    height 100%
    min-height 100%
    border-radius 0
    border-style none
