// Arrow
//
// **Direction Modifiers:**
//
// + `direction-90`
// + `direction-180`
// + `direction-270`
// + `direction-360`
//
//
// Markup:
// <div class="bar basis-static relative">
//   <div class="row">
//     <div class="col col--full center">
//       <h1 class="headline seamless marssive">
//         <span class="headline-text block">首页</span>
//       </h1>
//       <p class="amid-180">
//         <span class="arrow direction-180 block"></span>
//       </p>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.26
$arrow-height                = $py-quarter
$arrow-width                 = $arrow-height + 1

.arrow
  margin $gap-vertical $gap-horizontal

  &.direction-90
    @extend $TRIANGLE-90

    border-top-width $arrow-height
    border-bottom-width $arrow-height
    border-left-width $arrow-width

  &.direction-180
    @extend $TRIANGLE-180

    border-left-width $arrow-height
    border-right-width $arrow-height
    border-top-width $arrow-width

  &.direction-270
    @extend $TRIANGLE-270

    border-top-width $arrow-height
    border-right-width $arrow-height
    border-bottom-width $arrow-width

  &.direction-360
    @extend $TRIANGLE-360

    border-left-width $arrow-height
    border-right-width $arrow-height
    border-bottom-width $arrow-width