// Core
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
// Styleguide 5.7.1
.select
  position relative
  padding-left $gap-h
  padding-right @padding-left

  &.pygmy
    @extend $l-pygmy-seamless

  &.mini
    @extend $l-mini-seamless

  &.normal
    @extend $l-normal-seamless

  &.huge
    @extend $l-huge-seamless

  &.massive
    @extend $l-massive-seamless

.select-tag
.select-mock
  width 100%

.select-tag
  @extend $l-center

  opacity 0
  height 100%
  $reset-appearance$()

.select-mock
  pointer-events none
