// State
//
// + `:active`
// + `.is-active`
//
// Markup:
// <div class="select normal ui-basis">
//   <select class="select-tag">
//     <option>这是第一条选项。</option>
//     <option>这是第二条选项。</option>
//     <option>这是第三条选项。</option>
//   </select>
//   <div class="select-mock">
//     <div class="row">
//       <div class="col col--4of5">
//         <span class="select-text">请选择<span>
//       </div>
//       <div class="col col--1of5">
//         <span class="select-indicator"></span>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.7.3
.select
  &:active
  &.is-active
    $$top-inner-shadow()
