// *************************************
//
//   Config
//   -> Fonts, Variables
//
// *************************************


// -------------------------------------
//   Colors
// -------------------------------------

// ----- Palette ----- //

$grey                        = #f7f7f7
$blue                        = #508cc7
$green                       = #60b044
$red                         = #d1443d
$orange                      = #e9cf14

// ----- Base ----- //

// Degrees

$deg-dark                    = 8%
$deg-darker                  = 13%
$deg-light                   = 8%
$deg-lighter                 = 13%

// Primary Colors

$c-basis                     = $grey
$c-info                      = $blue
$c-safe                      = $green
$c-danger                    = $red
$c-warn                      = $orange

// Grey Colors

$c-white                     = #ffffff
$c-black                     = #323232
$c-grey                      = $grey
$c-grey-light                = lighten($c-grey, 10%)
$c-grey-lighter              = lighten($c-grey, 15%)
$c-grey-dark                 = darken($c-grey,  10%)
$c-grey-darker               = darken($c-grey,  15%)

// Link Colors

$c-link-static               = $c-safe
$c-link-disabled             = $c-grey-light

// Gradient End Colors

$c-end-basis                 = darken($c-basis, $deg-dark)
$c-end-info                  = darken($c-info, $deg-darker   * 1.5)
$c-end-safe                  = darken($c-safe, $deg-darker   * 1.5)
$c-end-danger                = darken($c-danger, $deg-darker * 1.5)
$c-end-warn                  = darken($c-warn, $deg-darker   * 1.5)

// Disabled Colors

$c-dis-basis                 = $c-basis
$c-dis-info                  = lighten($c-info, $deg-lighter   * 2)
$c-dis-safe                  = lighten($c-safe, $deg-lighter   * 2)
$c-dis-danger                = lighten($c-danger, $deg-lighter * 2)
$c-dis-warn                  = lighten($c-warn, $deg-lighter   * 2)

// Border Colors

$c-bd-white                  = $c-white
$c-bd-black                  = $c-black
$c-bd-light                  = $c-grey-light
$c-bd-dark                   = $c-grey-dark
$c-bd-basis                  = $c-bd-dark
$c-bd-info                   = darken($c-info,   $deg-dark)
$c-bd-safe                   = darken($c-safe,   $deg-dark)
$c-bd-danger                 = darken($c-danger, $deg-dark)
$c-bd-warn                   = darken($c-warn,   $deg-dark)

// Background Colors

$c-bg-white                  = $c-white
$c-bg-black                  = $c-black
$c-bg-light                  = lighten($c-grey-light, 80%)
$c-bg-dark                   = lighten($c-grey-dark,  50%)
$c-bg-basis                  = darken($c-basis,       3%)
$c-bg-info                   = translucent($c-info,   10%)
$c-bg-safe                   = translucent($c-safe,   10%)
$c-bg-danger                 = translucent($c-danger, 10%)
$c-bg-warn                   = translucent($c-warn,   10%)

// Translucent Colors

$c-translucent-white         = translucent($c-white, 90%)
$c-translucent-black         = translucent($c-black, 40%)

// Shadow Colors

$c-shadow-light              = translucent($c-black, 20%)
$c-shadow-dark               = translucent($c-black, 50%)

// Highlight Colors

$c-highlight-light           = translucent($c-white, 10%)
$c-highlight-dark            = translucent($c-white, 50%)

// ----- Components ----- //

// ...

// ----- Structures ----- //

// ...

// -------------------------------------
//   Base
// -------------------------------------

// ----- Radius & Borders ----- //

$b-rad-square                = 0
$b-rad-round                 = 3px
$b-rad-circle                = 50%
$b-rad-pill                  = 500px
$b-bd-style                  = solid
$b-bd-width                  = 1px
$b-bd-width-bold             = $b-bd-width * 2
$b-bd                        = $b-bd-style $b-bd-width

// ----- Font Size ----- //

$b-ff                        = sans-serif
$b-fs-m                      = 14px
$b-fs-xs                     = round($b-fs-m * 0.714)
$b-fs-s                      = round($b-fs-m * 0.857)
$b-fs-l                      = round($b-fs-m * 1.1)
$b-fs-xl                     = round($b-fs-m * 1.29)
$b-fs-half                   = round($b-fs-m * 0.5)
$b-fs-quarter                = round($b-fs-m * 0.25)

// ----- Line Height ----- //

$b-lh                        = 1.714
$b-lh-xs                     = round($b-fs-xs * $b-lh)
$b-lh-s                      = round($b-fs-s  * $b-lh)
$b-lh-m                      = round($b-fs-m  * $b-lh)
$b-lh-l                      = round($b-fs-l  * $b-lh)
$b-lh-xl                     = round($b-fs-xl * $b-lh)

// ----- Gap ----- //

$b-vgap                      = $b-fs-quarter
$b-hgap                      = $b-fs-s
$b-cgap                      = 20%

$b-hgap-half                 = round($b-hgap / 2)
$b-hgap-double               = round($b-hgap * 2)
$b-hgap-triple               = round($b-hgap * 3)

$b-vgap-half                 = round($b-vgap / 2)
$b-vgap-double               = round($b-vgap * 2)
$b-vgap-triple               = round($b-vgap * 3)

$b-cgap-half                 = round($b-cgap / 2)
$b-cgap-double               = round($b-cgap * 2)
$b-cgap-triple               = round($b-cgap * 3)

// ----- Index ----- //

$b-idx-top                   = 3000
$b-idx-middle                = 2000
$b-idx-bottom                = 1000

// -------------------------------------
//   Components
// -------------------------------------

// ----- Separator ----- //

$rule-offset-xs              = round($b-fs-xs / 2 * -1)
$rule-offset-s               = round($b-fs-s  / 2 * -1)
$rule-offset-m               = round($b-fs-m  / 2 * -1)
$rule-offset-l               = round($b-fs-l  / 2 * -1)
$rule-offset-xl              = round($b-fs-xl / 2 * -1)

// ----- Ribbon ----- //

$ribbon-size-xs              = be-even($b-fs-xs * 2.3)
$ribbon-size-s               = be-even($b-fs-s  * 2.3)
$ribbon-size-m               = be-even($b-fs-m  * 2.3)
$ribbon-size-l               = be-even($b-fs-l  * 2.3)
$ribbon-size-xl              = be-even($b-fs-xl * 2.3)

// ----- Bubble ----- //

$bubble-size-xs              = be-even($b-fs-xs * 2)
$bubble-size-s               = be-even($b-fs-s  * 2)
$bubble-size-m               = be-even($b-fs-m  * 2)
$bubble-size-l               = be-even($b-fs-l  * 2)
$bubble-size-xl              = be-even($b-fs-xl * 2)

// ----- Slider ----- //

$slider-gap-xs          = round($b-vgap + ($b-lh-m - $b-fs-xs / 2) / 2)
$slider-gap-s           = round($b-vgap + ($b-lh-m - $b-fs-s  / 2) / 2)
$slider-gap-m           = round($b-vgap + ($b-lh-m - $b-fs-m  / 2) / 2)
$slider-gap-l           = round($b-vgap + ($b-lh-m - $b-fs-l  / 2) / 2)
$slider-gap-xl          = round($b-vgap + ($b-lh-m - $b-fs-xl / 2) / 2)

// ----- Caret ----- //

$caret-size-xs               = be-even($b-fs-xs * .6)
$caret-size-s                = be-even($b-fs-s  * .6)
$caret-size-m                = be-even($b-fs-m  * .6)
$caret-size-l                = be-even($b-fs-l  * .6)
$caret-size-xl               = be-even($b-fs-xl * .6)

$caret-offset-xs             = be-even(($b-fs-xs - $b-fs-xs * .6) / 2)
$caret-offset-s              = be-even(($b-fs-s  - $b-fs-s  * .6) / 2)
$caret-offset-m              = be-even(($b-fs-m  - $b-fs-m  * .6) / 2)
$caret-offset-l              = be-even(($b-fs-l  - $b-fs-l  * .6) / 2)
$caret-offset-xl             = be-even(($b-fs-xl - $b-fs-xl * .6) / 2)

// ----- Tooltip ----- //

$tooltip-caret-width         = be-even($b-fs-s  * .6)
$tooltip-bd-offset           = be-even($b-fs-s  * .6 * -2)

// ----- Dot ----- //

$dot-size-xs                 = be-even($b-fs-xs * .8)
$dot-size-s                  = be-even($b-fs-s  * .8)
$dot-size-m                  = be-even($b-fs-m  * .8)
$dot-size-l                  = be-even($b-fs-l  * .8)
$dot-size-xl                 = be-even($b-fs-xl * .8)

// ----- Section ----- //

$section-gap                 = 5px

// -------------------------------------
//   Structures
// -------------------------------------

// ...
