// *************************************
//
//   Config
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

// ----- Open Iconic ----- //

font-face('Icons', '../fonts/open-iconic')

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Palette ----- //

$grey                        = #f7f7f7
$blue                        = #508cc7
$green                       = #60b044
$red                         = #d1443d
$orange                      = #e9cf14

// ----- Base ----- //

// Degrees

$deg-dark                    = 8%
$deg-darker                  = 13%
$deg-light                   = 8%
$deg-lighter                 = 13%

// Primary Colors

$c-basis                     = $grey
$c-info                      = $blue
$c-safe                      = $green
$c-danger                    = $red
$c-warn                      = $orange

// Grey Colors

$c-white                     = #ffffff
$c-black                     = #323232
$c-grey                      = $c-grey
$c-grey-light                = lighten($c-grey, 10%)
$c-grey-lighter              = lighten($c-grey, 15%)
$c-grey-dark                 = darken($c-grey, 10%)
$c-grey-darker               = darken($c-grey, 15%)

// Link Colors

$c-link-static               = $c-safe
$c-link-disabled             = $c-grey-light

// Gradient End Colors

$c-end-basis                 = darken($c-basis, $deg-dark)
$c-end-info                  = darken($c-info, $deg-darker * 1.5)
$c-end-safe                  = darken($c-safe, $deg-darker * 1.5)
$c-end-danger                = darken($c-danger, $deg-darker * 1.5)
$c-end-warn                  = darken($c-warn, $deg-darker * 1.5)

// Disabled Colors

$c-dis-basis                 = $c-basis
$c-dis-info                  = lighten($c-info, $deg-lighter * 2)
$c-dis-safe                  = lighten($c-safe, $deg-lighter * 2)
$c-dis-danger                = lighten($c-danger, $deg-lighter * 2)
$c-dis-warn                  = lighten($c-warn, $deg-lighter * 2)

// Border Colors

$c-bd-white                  = $c-white
$c-bd-black                  = $c-black
$c-bd-light                  = $c-grey-light
$c-bd-dark                   = $c-grey-dark
$c-bd-basis                  = $c-bd-dark
$c-bd-info                   = darken($c-info, $deg-dark)
$c-bd-safe                   = darken($c-safe, $deg-dark)
$c-bd-danger                 = darken($c-danger, $deg-dark)
$c-bd-warn                   = darken($c-warn, $deg-dark)

// Background Colors

$c-bg-white                  = $c-white
$c-bg-black                  = $c-black
$c-bg-light                  = lighten($c-grey-light, 80%)
$c-bg-dark                   = lighten($c-grey-dark, 50%)
$c-bg-basis                  = darken($c-basis, 3%)
$c-bg-info                   = translucent($c-info, 10%)
$c-bg-safe                   = translucent($c-safe, 10%)
$c-bg-danger                 = translucent($c-danger, 10%)
$c-bg-warn                   = translucent($c-warn, 10%)

// Translucent Colors

$c-translucent-white         = translucent($c-white, 90%)
$c-translucent-black         = translucent($c-black, 40%)

// Shadow Colors

$c-shadow-light              = translucent($c-black, 20%)
$c-shadow-dark               = translucent($c-black, 50%)

// Highlight Colors

$c-highlight-light           = translucent($c-white, 10%)
$c-highlight-dark            = translucent($c-white, 50%)

// ----- Components ----- //

// ...

// ----- Structures ----- //

// ...

// -------------------------------------
//   Base
// -------------------------------------

// ----- Radius & Borders ----- //

$b-rad-square                = 0
$b-rad-round                 = 3px
$b-rad-circle                = 50%
$b-rad-pill                  = 500px
$b-bd-style                  = solid
$b-bd-width                  = 1px
$b-bd-width-bold             = $b-bd-width * 2

// ----- Typography ----- //

$b-ff                        = sans-serif
$b-fs                        = 14px
$b-fs-half                   = round($b-fs * 0.5)
$b-fs-quarter                = round($b-fs * 0.25)
$b-fs-xs                     = round($b-fs * 0.857)
$b-fs-s                      = round($b-fs * 0.714)
$b-fs-l                      = round($b-fs * 1.1)
$b-fs-xl                     = round($b-fs * 1.29)
$b-lh                        = 1.714
$b-lh-computed               = round($b-fs * $b-lh)

// ----- Gap ----- //

$b-vgap                      = $b-fs-quarter
$b-hgap                      = $b-fs-s
$b-cgap                      = 20%

$b-hgap-half                 = round($b-hgap / 2)
$b-hgap-double               = round($b-hgap * 2)
$b-hgap-triple               = round($b-hgap * 3)

$b-vgap-half                 = round($b-vgap / 2)
$b-vgap-double               = round($b-vgap * 2)
$b-vgap-triple               = round($b-vgap * 3)

// ----- Index ----- //

$b-idx-top                   = 3000
$b-idx-middle                = 2000
$b-idx-bottom                = 1000

// -------------------------------------
//   Components
// -------------------------------------

// ----- Grid ----- //

// Breakpoints

// $g-s: em(480px)
// $g-m: em(800px)
// $g-l: em(1024px)
//
// // Settings
//
// $g-columns: 12
// $g-defaults: 's' $g-s, 'm' $g-m, 'l' $g-l
// $g-gutter: 20px
// $g-silent: false
//
// // Selector
//
// $g-selector: if($g-silent, unquote("%"), unquote("."))

// -------------------------------------
//   Structures
// -------------------------------------

// ...
