// *************************************
//
//   Helpers
//   -> Utils, Mixins, Extends, Animations
//
// *************************************

// Utils
//
// Styleguide 1.1

// translucent($color, $alpha)
//
// Add alpha channel into rgb color.
// The origin alpha channel will be override by new value.
//
// + `$color` `rgba`
// + `$alpha` `unit` The new value for alpha channel.
//
// Styleguide 1.1.1
translucent($color, $alpha) {
  ensure($color, "rgba")

  $red   = red($color)
  $green = green($color)
  $blue  = blue($color)

  return rgba($red, $green, $blue, unit($alpha, "%"))
}

// be-even($unit)
//
// If `$unit` is a odd integer than minus one.
//
// + `$unit` `unit`
//
// Styleguide 1.1.2
be-even($unit)
  $rounded = round($unit)

  if even($rounded) isnt true
    return $rounded - 1
  else
    return $rounded

// be-odd($unit)
//
// If `$unit` is a even integer than plus one.
//
// + `$unit` `unit`
//
// Styleguide 1.1.3
be-odd($unit)
  $rounded = round($unit)

  if odd($rounded) isnt true
    return $rounded + 1
  else
    return $rounded

// Mixins
//
// Styleguide 1.2

// inner-glow($color, $length)
//
// + `$color` `rgba`
// + `$length` `unit`(4) Glow spread length.
//
// Styleguide 1.2.1
inner-glow($color, $length = 4)
  ensure($color, 'rgba')

  box-shadow 0 0 unit($length * -1, 'px') $color

// outer-glow($color, $length)
//
// + `$color` `rgba`
// + `$length` `unit`(4) Glow spread length.
//
// Styleguide 1.2.2
outer-glow($color, $length = 4)
  ensure($color, 'rgba')

  box-shadow 0 0 unit($length, 'px') $color

// text-highlight($color)
//
// + `$color` `rgba`(`$highlight-light`) Highlight color.
//
// Styleguide 1.2.3
text-highlight($color = $highlight-light)
  text-shadow 0 1px 0 $color

// text-shadow($color)
//
// Emboss text effect by `text-shadow`.
//
// + `$color` `rgba`(`$shadow-light`) Shadow color.
//
// Styleguide 1.2.4
text-shadow($color = $shadow-light)
  text-shadow 0 -1px 0 $color

// vinner-shadow($deep, $length, $color)
//
// Vertical component inner shadow.
//
// + `$deep` `unit`(2) Shadow deep.
// + `$length` `unit`(4) Length of shadow spread.
// + `$color` `rgba`(`$shadow-light`) Shadow color.
//
// Styleguide 1.2.5
vinner-shadow($deep = 2, $length = 4, $color = $shadow-light)
  box-shadow inset 0 unit($deep, 'px') unit($length, 'px') $color

// vouter-shadow($deep, $length, $color)
//
// Vertical component outer shadow.
//
// + `$deep` `unit`(2) Shadow deep.
// + `$length` `unit`(4) Length of shadow spread.
// + `$color` `rgba`(`$shadow-light`) Shadow color.
//
// Styleguide 1.2.6
vouter-shadow($deep = 2, $length = 4, $color = $shadow-light)
  box-shadow 0 unit($deep, 'px') unit($length, 'px') $color

// hinner-shadow($deep, $length, $color)
//
// Horizontal component inner shadow.
//
// + `$deep` `unit`(2) Shadow deep.
// + `$length` `unit`(4) Length of shadow spread.
// + `$color` `rgba`(`$shadow-light`) Shadow color.
//
// Styleguide 1.2.7
hinner-shadow($deep = 2, $length = 4, $color = $shadow-light)
  box-shadow inset unit($deep, 'px') 0 unit($length, 'px') $color

// houter-shadow($deep, $length, $color)
//
// Horizontal component outer shadow.
//
// + `$deep` `unit`(2) Shadow deep.
// + `$length` `unit`(4) Length of shadow spread.
// + `$color` `rgba`(`$shadow-light`) Shadow color.
//
// Styleguide 1.2.8
houter-shadow($deep = 2, $length = 4, $color = $shadow-light)
  box-shadow unit($deep, 'px') 0 unit($length, 'px') $color

// vgradient($start, $end)
//
// Vertical two color stop gradient.
// If one of color stop not given gradient will be override into empty.
//
// + `$start` `rgba` Start color stop.
// + `$end` `rgba` End color stop.
//
// Styleguide 1.2.9
vgradient($start, $end)
  if $start and $end
    background-image linear-gradient($start, $end)
  else
    background-image none

// font-face($name, $path, $weight, $style)
//
// + `$name` `str` Font name
// + `$path` `str` Font asset path
// + `$weight` Font weight
// + `$style`  Font style
//
// Styleguide 1.2.10
font-face($name, $path, $weight = normal, $style = normal)
  @font-face
    font-family $name
    src url($path + '.eot')
    src url($path + '.eot?#iconic-sm') format('embedded-opentype'), url($path + '.woff') format('woff'), url($path + '.ttf') format('truetype'), url($path + '.otf') format('opentype'), url($path + '.svg#iconic-sm') format('svg')
    font-weight $weight
    font-style $style

// Extends
//
// Styleguide 1.3

// ----- Clearfix ----- //

.group::after
  clear   both
  content ""
  display table

// ----- Debug ----- //

.debug
  background-color pink !important

// ----- Ellipsis ----- //

.ellipsis
  overflow      hidden
  text-overflow ellipsis
  white-space   nowrap

// -------------------------------------
//   Animations
// -------------------------------------

// ...
