// *************************************
//
//   Helpers
//   -> Utils, Mixins, Extends, Animations
//
// *************************************

// -------------------------------------
//   Utils
// -------------------------------------

// translucent($color, $alpha)
//
// Add alpha channel into rgb color.
// The origin alpha channel will be override by new value.
//
// + `$color` `rgba`
// + `$alpha` `unit` The new value for alpha channel.
//
// Styleguide 1.1.1
translucent($color, $alpha) {
  ensure($color, "rgba")

  $red = red($color)
  $green = green($color)
  $blue = blue($color)

  return rgba($red, $green, $blue, unit($alpha, "%"))
}

// inner-glow($color, $length)
//
// + `$color` `rgba`
// + `$length` `unit` `4` Glow spread length.
//
// Styleguide 1.2.1
inner-glow($color, $length = 4)
  ensure($color, 'rgba')

  box-shadow 0 0 unit($length * -1, 'px') $color

// outer-glow($color, $length)
//
// + `$color` `rgba`
// + `$length` `unit` `4` Glow spread length.
//
// Styleguide 1.2.2
outer-glow($color, $length = 4)
  ensure($color, 'rgba')

  box-shadow 0 0 unit($length, 'px') $color

// text-highlight($color)
//
// + `$color` `rgba` `$highlight-light` Highlight color.
//
// Styleguide 1.2.3
text-highlight($color = $highlight-light)
  text-shadow 0 1px 0 $color

// text-shadow($color)
//
// Emboss text effect by `text-shadow`.
//
// + `$color` `rgba` `$shadow-light` Shadow color.
//
// Styleguide 1.2.4
text-shadow($color = $shadow-light)
  text-shadow 0 -1px 0 $color

// top-inner-shadow($deep, $length, $color)
//
// Vertical component inner shadow.
//
// + `$deep` `unit` `2` Shadow deep.
// + `$length` 'unit' `4` Length of shadow spread.
// + `$color` `rgba` `$shadow-light` Shadow color.
//
// Styleguide 1.2.5
top-inner-shadow($deep = 2, $length = 4, $color = $shadow-light)
  box-shadow inset 0 unit($deep, 'px') unit($length, 'px') $color

// top-outer-shadow($deep, $length, $color)
//
// Vertical component outer shadow.
//
// + `$deep` `unit` `2` Shadow deep.
// + `$length` 'unit' `4` Length of shadow spread.
// + `$color` `rgba` `$shadow-light` Shadow color.
//
// Styleguide 1.2.6
top-outer-shadow($deep = 2, $length = 4, $color = $shadow-light)
  box-shadow 0 unit($deep, 'px') unit($length, 'px') $color

// left-inner-shadow($deep, $length, $color)
//
// Horizontal component inner shadow.
//
// + `$deep` `unit` `2` Shadow deep.
// + `$length` 'unit' `4` Length of shadow spread.
// + `$color` `rgba` `$shadow-light` Shadow color.
//
// Styleguide 1.2.7
left-inner-shadow($deep = 2, $length = 4, $color = $shadow-light)
  box-shadow inset unit($deep, 'px') 0 unit($length, 'px') $color

// left-outer-shadow($deep, $length, $color)
//
// Horizontal component outer shadow.
//
// + `$deep` `unit` `2` Shadow deep.
// + `$length` 'unit' `4` Length of shadow spread.
// + `$color` `rgba` `$shadow-light` Shadow color.
//
// Styleguide 1.2.8
left-outer-shadow($deep = 2, $length = 4, $color = $shadow-light)
  box-shadow unit($deep, 'px') 0 unit($length, 'px') $color

// linear-gradient($start, $end)
//
// Vertical two color stop gradient.
// If one of color stop not given gradient will be override into empty.
//
// + `$start` `rgba` Start color stop.
// + `$end` `rgba` End color stop.
//
// Styleguide 1.2.9
linear-gradient($start, $end)
  if $start and $end
    background-image linear-gradient($start, $end)
  else
    background-image none


// -------------------------------------
//   Mixins
// -------------------------------------

font-face($name, $path, $weight = normal, $style = normal)
  font-family $name
  src url($path + '.eot')
  src url($path + '.eot?#iconic-sm') format('embedded-opentype'), url($path + '.woff') format('woff'), url($path + '.ttf') format('truetype'), url($path + '.otf') format('opentype'), url($path + '.svg#iconic-sm') format('svg')
  font-weight $weight
  font-style $style

// -------------------------------------
//   Extends
// -------------------------------------

// ----- Clearfix ----- //

.group::after
  clear   both
  content ""
  display table

// ----- Debug ----- //

.debug
  background-color pink !important

// ----- Ellipsis ----- //

.ellipsis
  overflow      hidden
  text-overflow ellipsis
  white-space   nowrap

// -------------------------------------
//   Animations
// -------------------------------------

// ...
