// *************************************
//
//   Helpers
//   -> Utils, Mixins, Extends, Animations
//
// *************************************

// Utils
//
// Styleguide 1.1

// translucent
//
// Add alpha channel into rgb color.
// The origin alpha channel will be override by new value.
//
// `translucent($color, $alpha)`
//
// + `$color` `rgba`
// + `$alpha` `unit` The new value for alpha channel.
//
// Styleguide 1.1.1
translucent($color, $alpha) {
  ensure($color, "rgba")

  $red   = red($color)
  $green = green($color)
  $blue  = blue($color)

  return rgba($red, $green, $blue, unit($alpha, "%"))
}

// be-evne
//
// If `$unit` is a odd integer than minus one.
//
// `be-even($unit)`
//
// + `$unit` `unit`
//
// Styleguide 1.1.2
be-even($unit)
  $rounded = round($unit)

  if even($rounded) isnt true
    return $rounded - 1
  else
    return $rounded

// be-odd
//
// If `$unit` is a even integer than plus one.
//
// `be-odd($unit)`
//
// + `$unit` `unit`
//
// Styleguide 1.1.3
be-odd($unit)
  $rounded = round($unit)

  if odd($rounded) isnt true
    return $rounded + 1
  else
    return $rounded

// Mixins
//
// Styleguide 1.2

// mix-inner-glow
//
// `mix-inner-glow($color, $length)`
//
// + `$color` `rgba`
// + `$length` `unit`(4) Glow spread length.
//
// Styleguide 1.2.1
mix-inner-glow($color, $length = 4)
  ensure($color, 'rgba')

  box-shadow 0 0 unit($length * -1, 'px') $color

// mix-outer-glow
//
// `mix-outer-glow($color, $length)`
//
// + `$color` `rgba`
// + `$length` `unit`(4) Glow spread length.
//
// Styleguide 1.2.2
mix-outer-glow($color, $length = 4)
  ensure($color, 'rgba')

  box-shadow 0 0 unit($length, 'px') $color

// mix-text-highlight
//
// `mix-text-highlight($color)`
//
// + `$color` `rgba`(`$c-highlight-light`) Highlight color.
//
// Styleguide 1.2.3
mix-text-highlight($color = $c-highlight-light)
  mix-text-shadow 0 1px 0 $color

// mix-text-shadow
//
// Emboss text effect by `mix-text-shadow`.
//
// `mix-text-shadow($color)`
//
// + `$color` `rgba`(`$c-shadow-light`) Shadow color.
//
// Styleguide 1.2.4
mix-text-shadow($color = $c-shadow-light)
  mix-text-shadow 0 -1px 0 $color

// mix-vinner-shadow
//
// Vertical component inner shadow.
//
// `mix-vinner-shadow($deep, $length, $color)`
//
// + `$deep` `unit`(2) Shadow deep.
// + `$length` `unit`(4) Length of shadow spread.
// + `$color` `rgba`(`$c-shadow-light`) Shadow color.
//
// Styleguide 1.2.5
mix-vinner-shadow($deep = 2, $length = 4, $color = $c-shadow-light)
  box-shadow inset 0 unit($deep, 'px') unit($length, 'px') $color

// mix-vouter-shadow
//
// Vertical component outer shadow.
//
// `mix-vinner-shadow($deep, $length, $color)`
//
// + `$deep` `unit`(2) Shadow deep.
// + `$length` `unit`(4) Length of shadow spread.
// + `$color` `rgba`(`$c-shadow-light`) Shadow color.
//
// Styleguide 1.2.6
mix-vouter-shadow($deep = 2, $length = 4, $color = $c-shadow-light)
  box-shadow 0 unit($deep, 'px') unit($length, 'px') $color

// mix-hinner-shadow
//
// Horizontal component inner shadow.
//
// `mix-vinner-shadow($deep, $length, $color)`
//
// + `$deep` `unit`(2) Shadow deep.
// + `$length` `unit`(4) Length of shadow spread.
// + `$color` `rgba`(`$c-shadow-light`) Shadow color.
//
// Styleguide 1.2.7
mix-hinner-shadow($deep = 2, $length = 4, $color = $c-shadow-light)
  box-shadow inset unit($deep, 'px') 0 unit($length, 'px') $color

// mix-houter-shadow
//
// Horizontal component outer shadow.
//
// `mix-vinner-shadow($deep, $length, $color)`
//
// + `$deep` `unit`(2) Shadow deep.
// + `$length` `unit`(4) Length of shadow spread.
// + `$color` `rgba`(`$c-shadow-light`) Shadow color.
//
// Styleguide 1.2.8
mix-houter-shadow($deep = 2, $length = 4, $color = $c-shadow-light)
  box-shadow unit($deep, 'px') 0 unit($length, 'px') $color

// mix-vgradient
//
// Vertical two color stop gradient.
// If one of color stop not given gradient will be override into empty.
//
// `mix-vgradient($start, $end)`
//
// + `$start` `rgba` Start color stop.
// + `$end` `rgba` End color stop.
//
// Styleguide 1.2.9
mix-vgradient($start, $end)
  if $start and $end
    background-image linear-gradient($start, $end)
  else
    background-image none

// mix-font-face
//
// `mix-font-face($name, $path, $weight, $style)`
//
// + `$name` `str` Font name
// + `$path` `str` Font asset path
// + `$weight` Font weight
// + `$style`  Font style
//
// Styleguide 1.2.10
mix-font-face($name, $path, $weight = normal, $style = normal)
  @font-face
    font-family $name
    src url($path + '.eot')
    src url($path + '.eot?#iconic-sm') format('embedded-opentype'), url($path + '.woff') format('woff'), url($path + '.ttf') format('truetype'), url($path + '.otf') format('opentype'), url($path + '.svg#iconic-sm') format('svg')
    font-weight $weight
    font-style $style

// Templates
//
// Styleguide 1.3


// reset-gap
//
// Remove default margin & padding.
//
// Styleguide 1.3.1

reset-gap()
  margin 0
  padding 0

// reset-list
//
// Remove default list type.
//
// Styleguide 1.3.2
reset-list()
  list-style-type none

// reset-appearance
//
// Set `-webkit-appearance: none`.
//
// Styleguide 1.3.3
reset-appearance()
  -webkit-appearance none

// Extends
//
// Styleguide 1.4

// ----- User Interface ----- //

// User Interface
//
// `ui-*`
//
// `{* | * ∈ black, white, basis, info, safe, danger, warn}`
//
// Styleguide 1.4.1

.ui-black
.ui-info
.ui-safe
.ui-danger
.ui-warn
  color $c-white

.ui-white
  color $c-black
  border-color $c-white
  background-color $c-white

.ui-black
  border-color $c-black
  background-color $c-black

.ui-basis
  mix-vgradient($c-basis, $c-end-basis)

  color $c-black
  border-color $c-bd-basis
  background-color $c-bg-basis

.ui-info
  mix-vgradient($c-info, $c-end-info)

  border-color $c-bd-info
  background-color $c-bg-info

.ui-safe
  mix-vgradient($c-safe, $c-end-safe)

  border-color $c-bd-safe
  background-color $c-bg-safe

.ui-danger
  mix-vgradient($c-danger, $c-end-danger)

  border-color $c-bd-danger
  background-color $c-bg-danger

.ui-warn
  mix-vgradient($c-warn, $c-end-warn)

  border-color $c-bd-warn
  background-color $c-bg-warn

// ----- Typeset ----- //

// nowrap
//
// Long string would not wrap.
//
// Styleguide 1.4.2
.nowrap
  white-space nowrap

// wrap
//
// Long string would wrap.
//
// Styleguide 1.4.3
.wrap
  white-space normal

// clip & ellipsis
//
// Clip or draw ellipsis for over string.
//
// Styleguide 1.4.4
.clip
.ellipsis
  @extend .nowrap

  overflow hidden

.ellipsis
  text-overflow ellipsis

// bread
//
// Fore to break all string into a new line(even with number).
//
// Styleguide 1.4.5
.break
  word-break break-all

// ----- Center ----- //

// Center
//
// Position component according to parent container.
//
// `center-*`
//
// `{* | * ∈ top, right, bottom, left, top-left, top-right, bottom-left, bottom-right}`
//
// Styleguide 1.4.6
.center
  position absolute
  margin auto
  top 0
  right 0
  bottom 0
  left 0

.center-top
  @extend .center

  bottom auto

.center-right
  @extend .center

  left auto

.center-bottom
  @extend .center

  top auto

.center-left
  @extend .center

  right auto

.center-top-left
  @extend .center

  right auto
  bottom auto

.center-bottom-left
  @extend .center

  right auto
  top auto

.center-top-right
  @extend .center

  left auto
  bottom auto

.center-bottom-right
  @extend .center

  left auto
  top auto

// ----- Amid ----- //

// Amid
//
// Position components amid parent container.
//
// `amid-*`
//
// `{* | * ∈ 45 * n, n ∈ N, n <= 8}`
//
// Styleguide 1.4.7
.amid-45
.amid-90
.amid-135
.amid-180
.amid-225
.amid-270
.amid-315
.amid-360
  margin auto
  position absolute

.amid-45
.amid-315
.amid-360
  top 0

.amid-45
.amid-90
.amid-135
  right 0

.amid-135
.amid-180
.amid-225
  bottom 0

.amid-225
.amid-270
.amid-315
  left 0

// horizontal center
.amid-180
.amid-360
  left 0
  margin-left 50%
  transform translateX(-50%)

// vertical center
// height statement is required
.amid-90
.amid-270
  top 0
  bottom 0

// ----- Around ----- //

// Around
//
// Position components around parent container.
//
// `around-*`
//
// `{* | * ∈ 30 * n, n ∈ N, n <= 12}`
//
// Styleguide 1.4.8
.around-30
.around-60
.around-90
.around-120
.around-150
.around-180
.around-210
.around-240
.around-270
.around-300
.around-330
.around-360
  position absolute

.around-30
.around-330
.around-360
  transform translateY(-100%)

.around-60
.around-90
.around-120
  transform translateX(100%)

.around-150
.around-180
.around-210
  transform translateY(100%)

.around-240
.around-270
.around-300
  transform translateX(-100%)

.around-30
.around-60
.around-90
.around-120
.around-150
  right 0

.around-30
.around-60
.around-300
.around-330
.around-360
  top 0

.around-90
.around-270
  top 50%

.around-120
.around-150
.around-180
.around-210
.around-240
  bottom 0

.around-180
.around-360
  left 50%

.around-210
.around-240
.around-270
.around-300
.around-330
  left 0

.around-90
  transform translate(100%, -50%)

.around-180
  transform translate(-50%, 100%)

.around-270
  transform translate(-100%, -50%)

.around-360
  transform translate(-50%, -100%)

// ----- Pattern ------ //

// Stripe
//
// `stripes-*`
//
// `{* | * ∈ diagonal, h, v}`
//
// Styleguide 1.4.9
.stripes-diagonal
.stripes-h
.stripes-v
  background-size 35px 35px

.stripes-diagonal
  background-image linear-gradient(135deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent)

.stripes-v
  background-image linear-gradient(90deg, transparent 50%, rgba(255,255,255,.15) 50%)

.stripes-h
  background-image linear-gradient(transparent 50%, rgba(255,255,255,.15) 50%)

// -------------------------------------
//   Animations
// -------------------------------------

// ...
