// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

// Display
//
// + `.db`  block
// + `.di`  inline
// + `.dib` inline block
// + `.dn`  none
//
// Styleguide 5.1

.db
  display block

.di
  display inline

.dib
  display inline-block

.dn
  display none

// Margin
//
// `{* | * ∈ a, t, r, b, l, h, v}`
//
// + `.m*f` flatten
// + `.m*`  normal
// + `.m*h` half
// + `.m*d` double
// + `.m*t` triple
//
// Styleguide 5.2

// ----- All ----- //

.maf
  margin 0

.ma
  margin $b-vgap $b-hgap

.mah
  margin $b-vgap-half $b-hgap-half

.mad
  margin $b-vgap-double $b-hgap-double

.mat
  margin $b-vgap-triple $b-hgap-triple


// ----- Top ----- //

.mtf
  margin-top 0

.mt
  margin-top $b-vgap

.mth
  margin-top $b-vgap-half

.mtd
  margin-top $b-vgap-double

.mtt
  margin-top $b-vgap-triple

// ----- Right ----- //

.mrf
  margin-right 0

.mr
  margin-right $b-hgap

.mrh
  margin-right $b-hgap-half

.mrd
  margin-right $b-hgap-double

.mrt
  margin-right $b-hgap-triple

// ----- Bottom ----- //

.mbf
  margin-bottom 0

.mb
  margin-bottom $b-vgap

.mbh
  margin-bottom $b-vgap-half

.mbd
  margin-bottom $b-vgap-double

.mbt
  margin-bottom $b-vgap-triple

// ----- Left ----- //

.mlf
  margin-left 0

.ml
  margin-left $b-hgap

.mlh
  margin-left $b-hgap-half

.mld
  margin-left $b-hgap-double

.mlt
  margin-left $b-hgap-triple

// ----- Horizontal ----- //

.mhf
  margin-left 0
  margin-right @margin-left

.mh
  margin-left $b-hgap
  margin-right @margin-left

.mhh
  margin-left $b-hgap-half
  margin-right @margin-left

.mhd
  margin-left $b-hgap-double
  margin-right @margin-left

.mht
  margin-left $b-hgap-triple
  margin-right @margin-left

// ----- Vertical ----- //

.mvf
  margin-top 0
  margin-bottom @margin-left

.mv
  margin-top $b-vgap
  margin-bottom @margin-top

.mvh
  margin-top $b-vgap-half
  margin-bottom @margin-top

.mvd
  margin-top $b-vgap-double
  margin-bottom @margin-top

.mvt
  margin-top $b-vgap-triple
  margin-bottom @margin-top

// Padding
//
// `{* | * ∈ a, t, r, b, l, h}`
//
// + `.p*f` flatten
// + `.p*`  normal
// + `.p*h` half
// + `.p*d` double
// + `.p*t` triple
//
// `{* | * ∈ l, r, h}`
//
// + `.p*c`  column
// + `.p*cd` double column
// + `.p*ct` triple column
//
// Styleguide 5.3

// ----- All ----- //

.paf
  padding 0

.pa
  padding $b-vgap $b-hgap

.pah
  padding $b-vgap-half $b-hgap-half

.pad
  padding $b-vgap-double $b-hgap-double

.pat
  padding $b-vgap-triple $b-hgap-triple


// ----- Top ----- //

.ptf
  padding-top 0

.pt
  padding-top $b-vgap

.pth
  padding-top $b-vgap-half

.ptd
  padding-top $b-vgap-double

.ptt
  padding-top $b-vgap-triple

// ----- Right ----- //

.prf
  padding-right 0

.pr
  padding-right $b-hgap

.prh
  padding-right $b-hgap-half

.prd
  padding-right $b-hgap-double

.prt
  padding-right $b-hgap-triple

.prc
  padding-right $b-cgap

.prcd
  padding-right $b-cgap * 2

.prct
  padding-right $b-cgap * 3

// ----- Bottom ----- //

.pbf
  padding-bottom 0

.pb
  padding-bottom $b-vgap

.pbh
  padding-bottom $b-vgap-half

.pbd
  padding-bottom $b-vgap-double

.pbt
  padding-bottom $b-vgap-triple

// ----- Left ----- //

.plf
  padding-left 0

.pl
  padding-left $b-hgap

.plh
  padding-left $b-hgap-half

.pld
  padding-left $b-hgap-double

.plt
  padding-left $b-hgap-triple

.plc
  padding-left $b-cgap

.plcd
  padding-left $b-cgap * 2

.plct
  padding-left $b-cgap * 3

// ----- Horizontal ----- //

.phf
  padding-left 0
  padding-right @padding-left

.ph
  padding-left $b-hgap
  padding-right @padding-left

.phh
  padding-left $b-hgap-half
  padding-right @padding-left

.phd
  padding-left $b-hgap-double
  padding-right @padding-left

.pht
  padding-left $b-hgap-triple
  padding-right @padding-left

.phc
  padding-left $b-cgap
  padding-right @padding-left

.phcd
  padding-left $b-cgap * 2
  padding-right @padding-left

.phct
  padding-left $b-cgap * 3
  padding-right @padding-left

// ----- Vertical ----- //

.pvf
  padding-top 0
  padding-bottom @padding-top

.pv
  padding-top $b-vgap
  padding-bottom @padding-top

.pvh
  padding-top $b-vgap-half
  padding-bottom @padding-top

.pvd
  padding-top $b-vgap-double
  padding-bottom @padding-top

.pvt
  padding-top $b-vgap-triple
  padding-bottom @padding-top

// Remove Border
//
// `{* | * ∈ a, t, r, b, l, h, v}`
//
// + `.b*f` flatten
// + `.b*t` transparent
//
// Markup:
// <button class="btn btn--basis baf">按钮</button>
//
// Styleguide 5.4

// ----- All ----- //

.baf
  border-style none

.bat
  border-color transparent

// ----- Top ----- //

.btf
  border-top-style none

.btt
  border-top-color transparent

// ----- Right ----- //

.brf
  border-right-style none

.brt
  border-right-color transparent

// ----- Bottom ----- //

.bbf
  border-bottom-style none

.bbt
  border-bottom-color transparent

// ----- Left ----- //

.blf
  border-left-style none

.blt
  border-left-color transparent

// ----- Horizontal ----- //

.bhf
  border-left-style none
  border-right-style @border-left-style

.bht
  border-left-color transparent
  border-right-color @border-left-color

// ----- Vertical ----- //

.bvf
  border-top-style none
  border-bottom-style @border-top-style

.bvt
  border-top-color transparent
  border-bottom-color @border-top-color

// Floating
//
// + `.fl` float left
// + `.fr` float right
//
// Styleguide 5.5

.fl
  float left

.fr
  float right

// Positioning
//
// + `.poa` absolute
// + `.pof` fixed
// + `.por` relative
// + `.pos` static
//
// Styleguide 5.6

.poa
  position absolute

.pof
  position fixed

.por
  position relative

.pos
  position static

// Rounding
//
// `{* | * ∈ a, t, r, b, l}`
//
// + `r*c` circle
// + `r*r` round
// + `r*p` pill
// + `r*s` square
//
// Markup:
// <button class="btn btn--basis rrs">按钮</button>
//
// Styleguide 5.7

// ----- All ----- //

.rac
  border-radius $b-rad-circle

.rar
  border-radius $b-rad-round

.rap
  border-radius $b-rad-pill

.ras
  border-radius $b-rad-square

// ----- Top ----- //

.rtc
  border-top-left-radius $b-rad-circle
  border-top-right-radius @border-top-left-radius

.rtr
  border-top-left-radius $b-rad-round
  border-top-right-radius @border-top-left-radius

.rtp
  border-top-left-radius $b-rad-pill
  border-top-right-radius @border-top-left-radius

.rts
  border-top-left-radius $b-rad-square
  border-top-right-radius @border-top-left-radius

// ----- Right ----- //

.rrc
  border-top-right-radius $b-rad-circle
  border-bottom-right-radius @border-top-right-radius

.rrr
  border-top-right-radius $b-rad-round
  border-bottom-right-radius @border-top-right-radius

.rrp
  border-top-right-radius $b-rad-pill
  border-bottom-right-radius @border-top-right-radius

.rrs
  border-top-right-radius $b-rad-square
  border-bottom-right-radius @border-top-right-radius

// ----- Bottom ----- //

.rbc
  border-bottom-left-radius $b-rad-circle
  border-bottom-right-radius @border-bottom-left-radius

.rbr
  border-bottom-left-radius $b-rad-round
  border-bottom-right-radius @border-bottom-left-radius

.rbp
  border-bottom-left-radius $b-rad-pill
  border-bottom-right-radius @border-bottom-left-radius

.rbs
  border-bottom-left-radius $b-rad-square
  border-bottom-right-radius @border-bottom-left-radius

// ----- Left ----- //

.rlc
  border-top-left-radius $b-rad-circle
  border-bottom-left-radius @border-top-left-radius

.rlr
  border-top-left-radius $b-rad-round
  border-bottom-left-radius @border-top-left-radius

.rlp
  border-top-left-radius $b-rad-pill
  border-bottom-left-radius @border-top-left-radius

.rls
  border-top-left-radius $b-rad-square
  border-bottom-left-radius @border-top-left-radius


// Width
//
// + `.wh` half
// + `.wf` full
//
// Markup:
// <button class="btn btn--basis wh">按钮</button>
//
// Styleguide 5.8

.wh
  width 50%

.wf
  width 100%

// Height
//
// + `.hh` half
// + `.hf` full
//
// Styleguide 5.9

.hh
  height 50%

.hf
  height 100%

// Typeset
//
// Alignment:
//
// + `.tac` center
// + `.tal` left
// + `.tar` right
// + `.taj` justify
//
// Color:
//
// + `.tcgl` grey light
// + `.tcgd` grey dark
// + `.tcb`  basis
// + `.tci`  info
// + `.tcs`  safe
// + `.tcd`  danger
// + `.tcw`  warn
//
// Size:
//
// + `.tsxs` x-small
// + `.tss`  small
// + `.tsm`  medium
// + `.tsl`  large
// + `.tsxl` x-large
//
// Style:
//
// + `.tsn` normal
// + `.tsi` italic
//
// Transform:
//
// + `.ttu` uppercase
// + `.ttl` lowercase
// + `.ttc` capitalize
//
// Weight:
//
// + `.twn` weight normal
// + `.twb` weight bold
//
// Styleguide 5.10

// ----- Alignment ----- //

.tac
  text-align center

.tal
  text-align left

.tar
  text-align right

.taj
  text-align justify

// ----- Color ----- //

.tcgl
  color $c-grey-light

.tcgd
  color $c-grey-dark

.tcb
  color $c-basis

.tci
  color $c-info

.tcs
  color $c-safe

.tcd
  color $c-danger

.tcw
  color $c-warn

// ----- Size ----- //

.fsxs
  font-size $b-fs-xs

.fss
  font-size $b-fs-s

.fsm
  font-size $b-fs-m

.fsl
  font-size $b-fs-l

.fsxl
  font-size $b-fs-xl

// ----- Style ----- //

.tsi
  font-style italic

// ----- Transform ----- //

.ttu
  text-transform uppercase

.ttl
  text-transform lowercase

.ttc
  text-transform capitalize

// ----- Weight ----- //

.twn
  font-weight normal

.twb
  font-weight bold

// Background
//
// + `bgp` remove bg image & shadow
// + `bgc` remove same stuff & addition bg color
//
// Markup:
// <button class="btn btn--basis bgc">按钮</button>
//
// Styleguide 5.11
.bgp
.bgc
  background-image none
  box-shadow 0 0 0 transparent

.bgc
  background-color transparent

// BFC
//
// Create bfc(black formatting context).
//
// + `.bfh` overflow hidden
// + `.bfib` display inline block
//
// Styleguide 5.12
.bfo
  overflow hidden

.bfi
  display inline-block

// Index
//
// + `.top`
// + `.middle`
// + `.bottom`
//
// Styleguide 5.13
.zit
  z-index $b-idx-top

.zim
  z-index $b-idx-middle

.zib
  z-index $b-idx-bottom
  
// Pointer Events
//
// + 'pen' pointer events none
// + 'pea' pointer events auto
//
// Styleguide 5.14
.pen
  pointer-events none

.pea
  pointer-events auto

// Rotating
//
// `{* | * ∈ l, r}`
//
// `{x | x ∈ 45, 90, 135, 180}`
//
// + `.r*x`
//
// Markup:
// <button class="btn btn--basis rl180">按钮</button>
//
// Styleguide 5.15
.rl45
  transform rotate(45deg)

.rl90
  transform rotate(90deg)

.rl135
  transform rotate(130deg)

.rl180
  transform rotate(180deg)

.rr45
  transform rotate(-45deg)

.rr90
  transform rotate(-90deg)

.rr130
  transform rotate(-130deg)

.rr180
  transform rotate(-180deg)
