// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

// -------------------------------------
//   Display
// -------------------------------------

.db
  display block

.di
  display inline

.dib
  display inline-block

.dn
  display none

// -------------------------------------
//   Margins
// -------------------------------------

// ----- All ----- //

.maxs
  margin $b-fs-xs

.mas
  margin $b-fs-s

.mam
  margin $b-fs

.mal
  margin $b-fs-l

.maxl
  margin $b-fs-xl

// ----- Bottom ----- //

.mbf
  margin-bottom 0

.mbxs
  margin-bottom $b-fs-xs

.mbs
  margin-bottom $b-fs-s

.mbm
  margin-bottom $b-fs

.mbl
  margin-bottom $b-fs-l

.mbxl
  margin-bottom $b-fs-xl

// ----- Horizontal ----- //

.mhc
  margin-left auto
  margin-right auto

// ----- Left ----- //

.mlf
  margin-left 0

.mlxs
  margin-left $b-fs-xs

.mls
  margin-left $b-fs-s

.mlm
  margin-left $b-fs

.mll
  margin-left $b-fs-l

// ----- Right ----- //

.mrf
  margin-right 0

.mrxs
  margin-right $b-fs-xs

.mrs
  margin-right $b-fs-s

.mrm
  margin-right $b-fs

.mrl
  margin-right $b-fs-l

// ----- Top ----- //

.mtf
  margin-top 0

.mtxs
  margin-top $b-fs-xs

.mts
  margin-top $b-fs-s

.mtm
  margin-top $b-fs

.mtl
  margin-top $b-fs-l

.mtxl
  margin-top $b-fs-xl

// -------------------------------------
//   Padding
// -------------------------------------

// ----- All ----- //

.paxs
  padding $b-fs-xs

.pas
  padding $b-fs-s

.pam
  padding $b-fs

.pal
  padding $b-fs-l

.paxl
  padding $b-fs-xl


// ----- Bottom ----- //

.pbf
  padding-bottom 0

.pbxs
  padding-bottom $b-fs-xs

.pbs
  padding-bottom $b-fs-s

.pbm
  padding-bottom $b-fs

.pbl
  padding-bottom $b-fs-l

.pbxl
  padding-bottom $b-fs-xl


// ----- Left ----- //

.plf
  padding-left 0

.plxs
  padding-left $b-fs-xs

.pls
  padding-left $b-fs-s

.plm
  padding-left $b-fs

.pll
  padding-left $b-fs-l


// ----- Right ----- //

.prf
  padding-right 0

.prxs
  padding-right $b-fs-xs

.prs
  padding-right $b-fs-s

.prm
  padding-right $b-fs

.prl
  padding-right $b-fs-l


// ----- Top ----- //

.ptf
  padding-top 0

.ptxs
  padding-top $b-fs-xs

.pts
  padding-top $b-fs-s

.ptm
  padding-top $b-fs

.ptl
  padding-top $b-fs-l

.ptxl
  padding-top $b-fs-xl


// -------------------------------------
//   Positioning
// -------------------------------------

.fl
  float left

.fr
  float right

.poa
  position absolute

.pof
  position fixed

.por
  position relative

.pos
  position static

// -------------------------------------
//   Rounding
// -------------------------------------

.rac
  border-radius $b-rad-circle

.rar
  border-radius $b-rad-round

.rap
  border-radius $b-rad-pill

.ras
  border-radius $b-rad-square

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

.tac
  text-align center

.tal
  text-align left

.tar
  text-align right

// ----- Color ----- //

.tcb
  color $c-basis

.tci
  color $c-info

.tcs
  color $c-safe

.tcd
  color $c-danger

.tcw
  color $c-warn

// ----- Size ----- //

.tsxs
  font-size $b-fs-xs

.tss
  font-size $b-fs-s

.tsm
  font-size $b-fs-m

.tsl
  font-size $b-fs-l

.tsxl
  font-size $b-fs-xls

// ----- Style ----- //

.tsi
  font-style italic

// ----- Transform ----- //

.ttu
  text-transform uppercase

.ttl
  text-transform lowercase

.ttc
  text-transform capitalize

// ----- Weight ----- //

.twn
  font-weight normal

.twb
  font-weight bold
