// Glyph UI
//
// Markup:
// <button class="btn btn-glyph">按钮</button>
//
// Styleguide 5.2.2
.btn-glyph
  @extend $TEXT-MAIN
  @extend $SHAPE-ROUND

  white-space nowrap
  text-decoration none
  border-color transparent
  background-color transparent

  &:active
  &.is-active
    opacity .5

  &:disabled
    color $grey-light