$BTN-UI
  @extend $TEXT-MAIN
  @extend $SHAPE-ROUND


  text-align center
  font-weight bold
  white-space nowrap
  text-decoration none

$BTN-UI-FOCUS
  null

$BTN-UI-ACTIVE
  null

$BTN-UI-DISABLED
  null
