$BTN-UI
  outline 0 none
  -webkit-appearance none

  text-align center
  font-weight bold
  white-space nowrap
  text-decoration none

$BTN-UI-FOCUS
  null

$BTN-UI-ACTIVE
  null

$BTN-UI-DISABLED
  null
