$BUTTON-UI
  text-align center
  font-weight bold
  white-space nowrap
  text-decoration none
  border-radius $border-radius

$BUTTON-UI-FOCUS
  null

$BUTTON-UI-ACTIVE
  null

$BUTTON-UI-DISABLED
  null