// Button UI
//
// **UI Type:**
//
// + `btn-embed`
// + `btn-glyph`
// + `btn-link`
//
// Markup:
// <button class="btn box-basis btn-embed">按钮</button>
//
// Styleguide 5.2
.btn-embed
  @extend $BTN-UI

  border-radius $border-radius

  &:active
  &.is-active
    $$top-inner-shadow()

.btn-glyph
  @extend $BTN-UI

  border-color transparent
  background-color transparent
  background-image none

  &:active
  &.is-active
    opacity .5

  &:disabled
  &.is-disabled
    color $grey-light

.btn-link
  @extend $BTN-UI

  text-decoration underline
  border-color transparent
  background-color transparent
  background-image none

  &:active
  &.is-active
    text-decoration none

  &:disabled
  &.is-disabled
    color $grey-light
