// Button UI
//
// **UI Type:**
//
// + `basis`
// + `info`
// + `safe`
// + `danger`
// + `warn`
//
//
// **State:**
//
// + `is-active`
// + `is-disabled`
//
// Markup:
// <button class="btn box-basis button-basis">按钮</button>
//
// Styleguide 5.2
$$Button-UI('basis')

$$Button-UI('info')

$$Button-UI('safe')

$$Button-UI('dange')

$$Button-UI('warn')