// Color
//
// + `text-info`    Information text.
// + `text-safe`    Safty text.
// + `text-danger`  Danger text.
// + `text-warn`    Warning text.
// + `text-light`   Light grey text.
// + `text-heavy`   Heavy grey text.
//
//
// Markup:
// <p class="text-safe">这是一条文本。</p>
//
// Styleguide 3.4.1
.text-motion
  color $motion-color

.text-info
  color $brand-info

.text-safe
  color $brand-safe

.text-danger
  color $brand-danger

.text-warn
  color $brand-warn

.text-heavy
  color $grey-heavy