// Horizontal Align
//
// + `left`    Text align **left**.
// + `right`   Text align **right**.
// + `center`  Text align **center**.
// + `justify` Text align **justify**.
//
// Markup:
// <div class="center">
//   <span>这是一段文字。</span>
// </div>
//
// Styleguide 3.4.5
.left
  text-align left

.right
  text-align right

.center
  text-align center

.justify
  text-align justify
