// Size
//
// + `small`        Smaller size text.
// + `large`        Larger size text.
// + `smaller`      Extra small size text.
// + `larger`       Extra large size text.
//
//
// Markup:
// <p class="large">这是一条文本。</p>
//
// Styleguide 3.4.2
.small
  font-size $te-small

.large
  font-size $te-large

.smaller
  font-size $te-smaller

.larger
  font-size $te-larger