// Style
//
// + `thin`         Normal font weight.
// + `bold`         Bold font weight.
// + `del`          Deleted text with line through.
// + `underline`    Text with underline.
// + `break`        Break long word in text.
// + `wrap`         Wrapping text.
// + `nowrap`       Prevent wrapping text.
// + `truncate`     Truncate long text.
//
//
// Markup:
// <p class="truncate">这是一条文本，而且内容可以非常长。导致有些内容看不见了。</p>
//
// Styleguide 3.4.3
.thin
  font-weight normal

.bold
  font-weight bold

.del
  text-decoration line-through

.underline
  text-decoration underline

.break
  word-wrap break-word

.wrap
  white-space normal

.nowrap
  white-space nowrap

.truncate
  white-space nowrap
  overflow hidden
  text-overflow ellipsis