// Vertical Align
//
// + `sup`  Text as **supscript** text.
// + `sub`  Text as **subscript** text.
// + `sink` Text **sink** 1px.
// + `rise` Text **rise** 1px.
//
// Markup:
// <p>tentomon <span class="sup smaller">TM</span></p>
//
// Styleguide 3.4.4
.sup
.sub
.sink
.rise
  position relative

.sup
  top -.5em

.sub
  top .5em

.sink
  top 1px

.rise
  top -1px


