// Plaid
//
// Markup:
// <div class="row">
//   <div class="col">
//     <div class="plaid row row--center row--middle a-color-light">
//       <div class="plaid-inner view wrap">
//         <div class="view-figure">
//           <span data-glyph="pencil" class="oi icon quare seamless massive"></span>
//         </div>
//         <div class="view-caption">
//           <span class="view-text">发文办件</span>
//         </div>
//         </div>
//       </div>
//     </div>
//     <div class="col">
//       <div class="plaid row row--center row--middle a-color-light">
//         <div class="plaid-inner view wrap">
//         <div class="view-figure">
//           <span data-glyph="eye" class="oi icon quare seamless massive"></span>
//         </div>
//         <div class="view-caption">
//           <span class="view-text">发文阅件</span>
//         </div>
//       </div>
//       </div>
//     </div>
//     <div class="col">
//       <div class="plaid row row--center row--middle a-color-light">
//         <div class="plaid-inner view wrap">
//         <div class="view-figure">
//           <span data-glyph="inbox" class="oi icon quare seamless massive"></span>
//         </div>
//         <div class="view-caption">
//           <span class="view-text">发文管理</span>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 7.27
.plaid
  position relative
  padding-bottom 100%

.plaid-inner
  $center$()