// State
//
// Markup:
// <dl class="form">
//   <dd class="form-content">
//     <input type="text" class="textfield normal ui-basis ui-curcl">
//     <label class="bubble normal ui-safe amid-45 stick-out">
//       <span class="bubble-text ui-safe">中</span>
//     </label>
//   </dd>
// </dl>
//
// Styleguide 5.11.3
.bubble
  null
