// Core
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
// + `.amid-45`
// + `.amid-90`
// + `.amid-125`
// + `.amid-135`
// + `.amid-180`
// + `.amid-225`
// + `.amid-270`
// + `.amid-315`
// + `.amid-360`
// + `.stick-out`
//
// Styleguide 5.11.1
.bubble

  &.pygmy
    width round($ht-pygmy * 0.8)
    height @width

  &.mini
    width round($ht-mini * 0.8)
    height @width

  &.normal
    width round($ht-normal * 0.8)
    height @width

  &.huge
    width round($ht-huge * 0.8)
    height @width

  &.massive
    width round($ht-massive * 0.8)
    height @width

  &.amid-45
    @extend $l-amid-45

  &.amid-90
    @extend $l-amid-90

  &.amid-135
    @extend $l-amid-135

  &.amid-180
    @extend $l-amid-180

  &.amid-225
    @extend $l-amid-225

  &.amid-270
    @extend $l-amid-270

  &.amid-315
    @extend $l-amid-315

  &.amid-360
    @extend $l-amid-360

  &.stick-out
    &.amid-45
      transform translate(50%, -50%)

    &.amid-90
      transform translate(50%, 0)

    &.amid-135
      transform translate(50%, 50%)

    &.amid-180
      transform translate(0, 50%)

    &.amid-225
      transform translate(-50%, 50%)

    &.amid-270
      transform translate(-50%, 0)

    &.amid-315
      transform translate(-50%, -50%)

    &.amid-360
      transform translate(0, -50%)


.bubble-text
  @extend $l-center

  height $tf-height
