// UI
//
// **Color:**
//
// + `.ui-black`
// + `.ui-basis`
// + `.ui-info`
// + `.ui-safe`
// + `.ui-danger`
// + `.ui-warn`
//
//
// **Stylize:**
//
// + `.ui-text`     Button as ordinary text.
// + `.ui-link`     Button as link.
// + `.ui-sketch` Button border and text only.
//
//
// **Shape:**
//
// + `.ui-square`
// + `.ui-pill`
//
// Styleguide 5.1.2
.btn
  outline 0
  font-size $te
  font-weight bold
  line-height $tf-height
  border solid $bd-width
  text-align center

  &.ui-black
  &.ui-basis
  &.ui-safe
  &.ui-danger
  &.ui-info
  &.ui-warn
  &.ui-link
    border-radius $rad-round

  &.ui-black
    @extend $ui-black-static

  &.ui-basis
    @extend $ui-basis-static

  &.ui-info
    @extend $ui-info-static

  &.ui-safe
    @extend $ui-safe-static

  &.ui-danger
    @extend $ui-danger-static

  &.ui-warn
    @extend $ui-warn-static

  &.ui-text
  &.ui-link
  &.ui-sketch
    background-color transparent
    background-image none

  &.ui-text
  &.ui-link
    border-color transparent

  &.ui-link
    color $link-static
    text-decoration underline

  &.ui-sketch
    &.ui-black
      color $bd-black

    &.ui-basis
      color $bd-basis

    &.ui-info
      color $bd-info

    &.ui-safe
      color $bd-safe

    &.ui-danger
      color $bd-danger

    &.ui-warn
      color $bd-warn

  // Shape
  &.ui-pill
    border-radius $rad-pill

  &.ui-square
    border-radius $rad-square
