// State
//
// Markup:
// <div class="tab ui-head">
//   <div class="row">
//     <div class="col">
//       <div class="tab-item first" data-state="active">
//         <span class="btn normal ui-text">首页</span>
//       </div>
//     </div>
//     <div class="col">
//       <div class="tab-item">
//         <span class="btn normal ui-text">朋友</span>
//       </div>
//     </div>
//     <div class="col">
//       <div class="tab-item last">
//         <span class="btn normal ui-text">设置</span>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.22.3
.tab-item
  &[data-state~='active']
    color $te-safe
    border-color $bd-safe
