// UI
//
// **Stylize:**
//
// + `.ui-head`
// + `.ui-foot`
//
// Styleguide 5.22.2
.tab
  null

  &.ui-head .tab-item
    border-top-width $bd-width * 3
    border-top-style solid

  &.ui-foot .tab-item
    border-bottom-width $bd-width * 3
    border-bottom-style solid

.tab-item
  border-color transparent
