// Core
//
// **Size:**
//
// + `.pygmy`
// + `.mini`
// + `.normal`
// + `.huge`
// + `.massive`
//
// Styleguide 5.6.1
.slider
  position relative

  &.pygmy
    @extend $l-pygmy-seamless

  &.mini
    @extend $l-mini-seamless

  &.normal
    @extend $l-normal-seamless

  &.huge
    @extend $l-huge-seamless

  &.massive
    @extend $l-massive-seamless

.slider-pole
  width 100%
  height $te-half
  display block
  margin-top round(($tf-height - @height) / 2)
  margin-bottom @margin-top

.slider-thumb
  @extend $l-center-left

  width $te-larger
  height @width
  display block
  margin-left 2px
  margin-right @margin-left
  -webkit-user-drag element
