// UI
//
// Styleguide 5.6.2
.slider
  line-height $tf-height

.slider-pole
  @extend $ui-basis-static

  border-style solid
  border-width $bd-width
  border-radius 100px

.slider-indicator
  @extend $ui-basis-static

  border-radius 50%
  $$outer-glow($shadow-heavy, 1)
