// ALERT
//
// **Relative Class:**
//
// + `$ALERT-TITLE`
// + `$ALERT-CONTENT`
// + `$ALERT-CONTROL`
//
// Styleguide 6.8
$ALERT
  border-width $border-width

$ALERT-CONTENT
  margin 0
  padding 0 $gap-horizontal $gap-vertical

$ALERT-TITLE
$ALERT-CONTENT
  padding-right 0

$ALERT-CONTROL
  text-align center