// AMID-*
//
// **Relative class:**
//
// + `$AMID-30`
// + `$AMID-60`
// + `$AMID-90`
// + `$AMID-120`
// + `$AMID-150`
// + `$AMID-180`
// + `$AMID-210`
// + `$AMID-240`
// + `$AMID-270`
// + `$AMID-300`
// + `$AMID-330`
// + `$AMID-360`
//
// Styleguide 3.3.10
$AMID-30
$AMID-60
$AMID-90
$AMID-120
$AMID-150
$AMID-180
$AMID-210
$AMID-240
$AMID-270
$AMID-300
$AMID-330
$AMID-360
  margin auto
  position absolute

$AMID-30
$AMID-60
$AMID-300
$AMID-330
$AMID-360
  top 0

$AMID-30
$AMID-60
$AMID-90
$AMID-120
$AMID-150
  right 0

$AMID-120
$AMID-150
$AMID-180
$AMID-210
$AMID-240
  bottom 0

$AMID-210
$AMID-240
$AMID-270
$AMID-300
$AMID-330
  left 0

// horizontal center
$AMID-180
$AMID-360
  margin-left 50%
  transform translateX(-50%)

// vertical center
// height statement is required
$AMID-90
$AMID-270
  top 0
  bottom 0