// AROUND-*
//
// **Relative class:**
//
// + `$AROUND-30`
// + `$AROUND-60`
// + `$AROUND-90`
// + `$AROUND-120`
// + `$AROUND-150`
// + `$AROUND-180`
// + `$AROUND-210`
// + `$AROUND-240`
// + `$AROUND-270`
// + `$AROUND-300`
// + `$AROUND-330`
// + `$AROUND-360`
// + `$AROUND-EMBED-TOP`
// + `$AROUND-EMBED-RIGHT`
// + `$AROUND-EMBED-BOTTOM`
// + `$AROUND-EMBED-LEFT`
//
// Styleguide 3.3.9
$AROUND-30
$AROUND-60
$AROUND-90
$AROUND-120
$AROUND-150
$AROUND-180
$AROUND-210
$AROUND-240
$AROUND-270
$AROUND-300
$AROUND-330
$AROUND-360
  position absolute

$AROUND-30
$AROUND-330
$AROUND-360
  top 0
  transform translateY(-100%)

$AROUND-60
$AROUND-90
$AROUND-120
  right 0
  transform translateX(100%)

$AROUND-150
$AROUND-180
$AROUND-210
  bottom 0
  transform translateY(100%)

$AROUND-240
$AROUND-270
$AROUND-300
  left 0
  transform translateX(-100%)

$AROUND-30
$AROUND-150
  right 0

$AROUND-60
$AROUND-300
  top 0

$AROUND-90
$AROUND-270
  top 50%

$AROUND-120
$AROUND-240
  bottom 0

$AROUND-180
$AROUND-360
  left 50%

$AROUND-210
$AROUND-330
  left 0

$AROUND-90
  transform translate(100%, -50%)

$AROUND-180
  transform translate(-50%, 100%)

$AROUND-270
  transform translate(-100%, -50%)

$AROUND-360
  transform translate(-50%, -100%)

// Embed component
$AROUND-EMBED-TOP
  margin-top $border-width * -1

$AROUND-EMBED-RIGHT
  margin-right $border-width * -1

$AROUND-EMBED-BOTTOM
  margin-bottom $border-width * -1

$AROUND-EMBED-LEFT
  margin-left $border-width * -1