// BOX
//
// **Detail:**
//
// Native textfield can not constraint height with too small relative to textfield font size(font size 14px constraint height at least 16px in Chrome 36.0.1985.125 m), since if textfield min height(`$textarea-min-height`) should increase with base font size(`$py`) and the first one always larger than the later one.
//
// **Motion Modifiers:**
//
// + `is-hidden` Hidden box (remove form document flow).
//
//
// **Size Modifiers:**
//
// + `pygmy` Very small box height.
// + `mini` Mini box height.
// + `huge` Huge box height.
// + `marssive` Marssive box height.
//
//
// **Ordinary Modifiers:**
//
// + `full` Full width box.
// + `naked` Remove box inner padding and borders.
// + `feel` Inherit context font style.
//
// Styleguide 3.3.2
$BOX
  outline 0 none
  -webkit-appearance none

  font-size $py
  border-style solid
  border-width $border-width
  line-height $textfield-height

  position relative
  display inline-block
  padding-left $gap-horizontal
  padding-right @padding-left

  &.is-hidden
    display none

  // Control component font size.
  /*
  &.mini
  &.pygmy
    font-size $py-small

  &.huge
  &.marssive
    font-size $py-large
  */

  // Control component height.
  &
    max-height $height-normal

    padding-top $padding-normal
    padding-bottom @padding-top

  &.mini
    max-height $height-mini

    padding-top $padding-mini
    padding-bottom @padding-top

  &.pygmy
    max-height $height-pygmy

    padding-top $padding-pygmy
    padding-bottom @padding-top

  &.huge
    max-height $height-huge

    padding-top $padding-huge
    padding-bottom @padding-top

  &.marssive
    max-height $height-marssive

    padding-top $padding-marssive
    padding-bottom @padding-top

  // Without outer border
  &.seamless
    &
      padding-top $padding-normal + $border-width
      padding-bottom @padding-top

    &.mini
      padding-top $padding-mini + $border-width
      padding-bottom @padding-top

    &.pygmy
      padding-top $padding-pygmy + $border-width
      padding-bottom @padding-top

    &.huge
      padding-top $padding-huge + $border-width
      padding-bottom @padding-top

    &.marssive
      padding-top $padding-marssive + $border-width
      padding-bottom @padding-top

  // Inherit context font styles.
  &.feel
    color inherit
    font-style inherit
    font-weight inherit

  // Remove component inner padding.
  &.naked
  &.square.naked
  &.seamless.naked
    padding 0
    border-style none

  // Remove component horizontal padding.
  &.full
    padding-left 0
    padding-right 0

  // Release constrainted height.
  &.wrap
    max-height none
    white-space normal