// BOX
//
// **Detail:**
//
// Native textfield can not constraint height with too small relative to textfield font size(font size 14px constraint height at least 16px in Chrome 36.0.1985.125 m), since if textfield min height(`$textarea-min-height`) should increase with base font size(`$te`) and the first one always larger than the later one.
//
// **State:**
//
// + `is-hidden` Hidden box (remove form document flow).
//
//
// **Size:**
//
// + `pygmy` Very small box height.
// + `mini` Mini box height.
// + `huge` Huge box height.
// + `massive` massive box height.
//
//
// **Ordinary:**
//
// + `full` Full width box.
// + `naked` Remove box inner padding and borders.
//
// Styleguide 6.2
$BOX
  outline 0 none
  -webkit-appearance none
  
  display inline-block
  padding-left $gap-horizontal
  padding-right @padding-left

  // Using vertical padding control component height.
  &
    max-height $ht-normal
    padding-top $pd-normal
    padding-bottom @padding-top

  &.mini
    max-height $ht-mini

    padding-top $pd-mini
    padding-bottom @padding-top

  &.pygmy
    max-height $ht-pygmy

    padding-top $pd-pygmy
    padding-bottom @padding-top

  &.huge
    max-height $ht-huge

    padding-top $pd-huge
    padding-bottom @padding-top

  &.massive
    max-height $ht-massive

    padding-top $pd-massive
    padding-bottom @padding-top

  // Without outer border
  &.seamless
    &
      padding-top $pd-normal + $bd-width
      padding-bottom @padding-top

    &.mini
      padding-top $pd-mini + $bd-width
      padding-bottom @padding-top

    &.pygmy
      padding-top $pd-pygmy + $bd-width
      padding-bottom @padding-top

    &.huge
      padding-top $pd-huge + $bd-width
      padding-bottom @padding-top

    &.massive
      padding-top $pd-massive + $bd-width
      padding-bottom @padding-top

  &.is-hidden
    display none

  // Remove component inner padding.
  &.naked
    padding 0

  // Release constrainted height.
  &.wrap
    max-height none
