$GROUP-ITEM
  @extend $ITEM-HORIZONTAL-SOLID

  box-shadow inset 1px 1px 0 $highlight-light

  &:active
    $$top-inner-shadow()

  &:disabled
    .btn
      opacity 0.7

    &
      box-shadow inset 1px 1px 0 $highlight-light

    &.first
      box-shadow inset 0 1px 0 $highlight-light

$GROUP-ITEM-BASIS
  border-color $bd-light

$GROUP-ITEM-INFO
  border-color $bd-info

$GROUP-ITEM-SAFE
  border-color $bd-safe

$GROUP-ITEM-DANGER
  border-color $bd-danger

$GROUP-ITEM-WARN
  border-color $bd-warn