// LABEL
//
// **Super Class:**
//
// `$BOX`
//
// Styleguide 6.5
$LABEL
  @extend $BOX

  text-align center
  font-weight bold

  // layout label in various direction
  // ==========================================================================
  &.amid-45
  &.amid-90
  &.amid-135
  &.amid-180
  &.amid-225
  &.amid-270
  &.amid-315
  &.amid-360
    z-index $top-index
