$LIST-ITEM
  border-style none
  border-width $border-width

  display block

  &.last
    border-bottom-style none
    border-right-style none

// Items in vertical list.
$ITEM-VERTICAL-SOLID
$ITEM-VERTICAL-NOTCH
  @extend $LIST-ITEM

  border-bottom-style solid
  border-bottom-color $border-light

$ITEM-VERTICAL-NOTCH
  $$top-inner-shadow(1, 0, $highlight-light)

$ITEM-VERTICAL-SUNKEN
  &:after
    content ""
    width 100%
    height 1px
    background-image radial-gradient(farthest-side at left center, $border-heavy, $$translucent($border-heavy, 0))

    display block

  &.last:after
    display none

$ITEM-VERTICAL-ROUND
  $item-radius             = $border-radius - 1

  &.first
    border-top-left-radius $item-radius
    border-top-right-radius $item-radius

  &.last
    border-bottom-left-radius $item-radius
    border-bottom-right-radius $item-radius

$ITEM-VERTICAL-TIGHT
  padding-top round($gap-vertical / 2)
  padding-bottom @padding-top

$ITEM-VERTICAL-LOOSE
  padding-top $gap-vertical
  padding-bottom @padding-top

$ITEM-VERTICAL-SUNKEN-TIGHT
  padding-top round($gap-vertical / 2)
  padding-bottom 0

  &:after
    padding-margin @padding-top  


$ITEM-VERTICAL-SUNKEN-LOOSE
  padding-top $gap-vertical
  padding-bottom 0

  &:after
    padding-margin @padding-top  

$ITEM-VERTICAL-TIGHT
$ITEM-VERTICAL-LOOSE
  &.last
    margin-bottom 0

// Items in horizontal list.
$ITEM-HORIZONTAL-DOT
  position relative

  &:after
    content "•"
    height $te
    width $te
    line-height $te
    text-align center

    $center-right$()
    margin-right $te-half * -1

  &:last-child:after
    content: ""

$ITEM-HORIZONTAL-SOLID
$ITEM-HORIZONTAL-NOTCH
  @extend $LIST-ITEM

  border-right-style solid
  border-right-color $border-light

$ITEM-HORIZONTAL-NOTCH
  $$left-inner-shadow(1, 0, $highlight-light)

$ITEM-HORIZONTAL-SUNKEN
  padding-right 1px
  position relative

  &:after
    content ""
    width 1px
    height 100%
    background-image radial-gradient(farthest-side at center top, $border-heavy, $$translucent($border-heavy, 0))

    display block
    $center-right$()

  &.last:after
    display none

$ITEM-HORIZONTAL-ROUND
  $item-radius             = $border-radius - 1

  border-radius 0

  &.first
    border-top-left-radius $item-radius
    border-bottom-left-radius $item-radius

  &.last
    border-top-right-radius $item-radius
    border-bottom-right-radius $item-radius

$ITEM-HORIZONTAL-TIGHT
  padding-left round($gap-vertical / 2)
  padding-right @padding-left

$ITEM-HORIZONTAL-LOOSE
  padding-left $gap-vertical
  padding-right @padding-left

$ITEM-HORIZONTAL-TIGHT
$ITEM-HORIZONTAL-LOOSE
  &.last
    margin-right 0