// TRIANGLE
//
// **Relative class:**
//
// + `$TRIANGLE-90`
// + `$TRIANGLE-180`
// + `$TRIANGLE-270`
// + `$TRIANGLE-360`
//
// Styleguide 3.3.3
$TRIANGLE-90
$TRIANGLE-180
$TRIANGLE-270
$TRIANGLE-360
  width 0
  height 0
  border-width 0
  border-style solid

$TRIANGLE-90
  border-top-color transparent
  border-bottom-color transparent
  // border-left-color inherit

$TRIANGLE-180
  border-left-color transparent
  border-right-color transparent
  // border-top-color inherit

$TRIANGLE-270
  border-top-color transparent
  border-bottom-color transparent
  // border-right-color inherit

$TRIANGLE-360
  border-left-color transparent
  border-right-color transparent
  // border-bottom-color inherit