// UI
//
//
// Styleguide 5.13.2
.tooltip
  &:before
    border-color transparent

  &:after
    @extend $ui-black-static

    font-size $te-small
    text-align left
    white-space nowrap
    border-style solid
    border-width $bd-width
    border-radius $bd-radius

  &.around-30
  &.around-330
  &.around-360
    &:before
      border-top-color $black

  &.around-90
    &:before
      border-right-color $black

  &.around-150
  &.around-180
  &.around-210
    &:before
      border-bottom-color $black

  &.around-270
    &:before
      border-left-color $black