// State
//
// **State:**
//
// + `show`
//
// Markup:
// <button class="btn normal ui-basis tooltip around-180" data-tooltip="点击可加载更多内容。" data-state="show">加载更多</button>
//
// Styleguide 5.13.3
.tooltip
  &:after
  &:before
    visibility hidden

  &[data-state~='show']
    &:after
    &:before
      visibility visible
