// Block Button
//
// Full width button.
// Use modifier class `.btn-block`.
//
// Markup:
// <p>
//   <a href="#" class="btn btn-block">full width button</a>
// </p>
// <p>
//   <button class="btn btn-block">full width button</button>
// </p>
// <p>
//   <input type="button" class="btn btn-block" value="full width button">
// </p>
//
// Styleguide 2.1.9
.btn-block
  width 100%
  display block