// Confirm Button
//
// Indicate press the button would not cause bad side-effect.
//
// Markup:
// <a href="#" class="btn btn-ok {$modifiers}">a.btn.btn-ok</a>
// <button class="btn btn-ok {$modifiers}">button.btn.btn-ok</button>
// <input type="button" class="btn btn-ok {$modifiers}" value="input.btn.btn-ok">
//
// :hover                    - **hover** style of `.btn-ok`
// :active                   - **active** style of `.btn-ok`
// :focus                    - **focus** style of `.btn-ok`
// :disabled                 - **disabled** style of `.btn-ok`
// .selected                 - **selected** style
//
// Styleguide 2.1.2
.btn-ok
  $$button($ok-brand)