// Dangerous Button
//
// Indicate press the button may cause bad side-effect.
//
// Markup:
// <a href="#" class="btn btn-danger {$modifiers}">a.btn.btn-danger</a>
// <button class="btn btn-danger {$modifiers}">button.btn.btn-danger</button>
// <input type="button" class="btn btn-danger {$modifiers}" value="input.btn.btn-danger">
//
// :hover                    - **hover** style of `.btn-danger`
// :active                   - **active** style of `.btn-danger`
// :focus                    - **focus** style of `.btn-danger`
// :disabled                 - **disabled** style of `.btn-danger`
// .selected                 - **selected** style
//
// Styleguide 2.1.3
.btn-danger
  $$button($danger-brand)