// Outline Button
//
// Button without background.
// 
// Markup:
// <a href="#" class="btn-outline {$modifiers}">a.btn-outline</a>
// <button class="btn-outline {$modifiers}">button.btn-outline</button>
// <input type="button" class="btn-outline {$modifiers}" value="input.btn-outline">
//
// :hover                    - **hover** style of `.btn-outline`
// :active                   - **active** style of `.btn-outline`
// :focus                    - **focus** style of `.btn-outline`
// :disabled                 - **disabled** style of `.btn-outline`
// .selected                 - **selected** style
//
// Styleguide 2.3
.btn-outline
  background none

.btn-outline
  $$button-outline($info-brand)