// Infomation Button
//
// Indicate press the button will fetch some data form backend.
//
// Markup:
// <a href="#" class="btn btn-info {$modifiers}">a.btn.btn-info</a>
// <button class="btn btn-info {$modifiers}">button.btn.btn-info</button>
// <input type="button" class="btn btn-info {$modifiers}" value="input.btn.btn-info">
//
// :hover                    - **hover** style of `.btn-info`
// :active                   - **active** style of `.btn-info`
// :focus                    - **focus** style of `.btn-info`
// :disabled                 - **disabled** style of `.btn-info`
// .selected                 - **selected** style
//
// Styleguide 2.1.4
.btn-info
  $$button($info-brand)