// Glyph Button
//
// Inject glyph into button.
// Use `.btn` wrapper a glyph element with button text.
// More glyph name checkout http://useiconic.com/open#icons.
// You can use glyph button with other modifiers described in this document.
// 
// Markup:
// <button class="btn">
//   <span class="oi glyph" data-glyph={$modifiers}></span>
//   <span class="glyph-alt">{$modifiers}</span>
// </button>
// <a class="btn btn-mini">
//   <span class="oi glyph" data-glyph={$modifiers}></span>
//   <span class="glyph-alt">{$modifiers}</span>
// </a>
//
// .account-login            - **account-login** button
// .account-logout           - **account-logout** button
// .action-redo              - **action-redo** button
// .action-undo              - **action-undo** button
// .align-center             - **account-login** button
// .align-left               - **account-login** button
//
// Styleguide 2.4
.btn
.btn-outline
.btn-link
  .oi
    vertical-align middle
