// Large Button
//
// Larger size than normal button style.
// Use modifier class `.btn-large`.
//
// Markup:
// <a href="#" class="btn btn-large {$modifiers}">a.btn.btn-large</a>
// <button class="btn btn-large {$modifiers}">button.btn.btn-large</button>
// <input type="button" class="btn btn-large {$modifiers}" value="input.btn.btn-large">
// 
// :hover                    - **hover** style of `.btn-large`
// :active                   - **active** style of `.btn-large`
// :focus                    - **focus** style of `.btn-large`
// :disabled                 - **disabled** style of `.btn-large`
// .selected                 - **selected** style
//
// Styleguide 2.1.6
.btn-large
  font-size $py-larger