// Primary Button
//
// Default Button Style
//
// Markup:
// <a href="#" class="btn {$modifiers}">a.btn</a>
// <button class="btn {$modifiers}">button.btn</button>
// <input type="button" class="btn {$modifiers}" value="input.btn">
// 
// :hover                    - **hover** style
// :active                   - **active** style
// :focus                    - **focus** style
// :disabled                 - **disabled** style
// .selected                 - **selected** style
//
// Styleguide 2.1.1
.btn
.btn-link
.btn-outline
  cursor pointer
  
  // remove native button skin
  outline 0 none
  user-select none // 1
  box-sizing border-box
  -webkit-appearance none

  // skin
  color $black
  font-size $py
  font-weight bold
  white-space nowrap // 2
  text-decoration none
  border 1px solid $$darker($main-brand)
  border-radius $border-radius

  // layout
  display inline-block
  text-align center
  vertical-align middle
  padding $gap-vertical $gap-horizontal
    
.btn
  $$button($main-brand)