// Button Group
//
// Combine buttons into one group.
//
// 1. Use `position: relative;` let `2` works when button hovered.
// 2. Cancel out side-effect of `margin-left: -1;`.This rule not for `.btn-outline:active` and `.btn-outline:focus`.`.btn-outline` have same style with default under those states.
//
// Styleguide 2.5

// Group Common Buttons
//
// Combine common buttons into one group.
//
// Markup:
// <section>
//   <p class="btn-group">
//     <button class="btn selected {$modifiers}">Left</button>
//     <button class="btn {$modifiers}">Middle</button>
//     <button class="btn {$modifiers}">Middle</button>
//     <button class="btn {$modifiers}">Right</button>
//   </p>
// </section>
// <section>
//   <p class="btn-group">
//     <button class="btn btn-ok {$modifiers}">Left</button>
//     <button class="btn btn-ok selected {$modifiers}">Middle</button>
//     <button class="btn btn-ok {$modifiers}">Middle</button>
//     <button class="btn btn-ok {$modifiers}">Right</button>
//   </p>
// </section>
// <section>
//   <p class="btn-group">
//     <button class="btn btn-info {$modifiers}">Left</button>
//     <button class="btn btn-info {$modifiers}">Middle</button>
//     <button class="btn btn-info selected {$modifiers}">Middle</button>
//     <button class="btn btn-info {$modifiers}">Right</button>
//   </p>
// </section>
// <section>
//   <p class="btn-group">
//     <button class="btn btn-danger {$modifiers}">Left</button>
//     <button class="btn btn-danger {$modifiers}">Middle</button>
//     <button class="btn btn-danger {$modifiers}">Middle</button>
//     <button class="btn btn-danger selected {$modifiers}">Right</button>
//   </p>
// </section>
//
// Styleguide 2.5.1

// Group Mini Buttons
//
// Combine mini buttons into one group.
//
// Markup:
// <section>
//   <p class="btn-group">
//     <button class="btn btn-mini selected {$modifiers}">Left</button>
//     <button class="btn btn-mini {$modifiers}">Middle</button>
//     <button class="btn btn-mini {$modifiers}">Middle</button>
//     <button class="btn btn-mini {$modifiers}">Right</button>
//   </p>
// </section>
// <section>
//   <p class="btn-group">
//     <button class="btn btn-mini btn-ok {$modifiers}">Left</button>
//     <button class="btn btn-mini btn-ok selected {$modifiers}">Middle</button>
//     <button class="btn btn-mini btn-ok {$modifiers}">Middle</button>
//     <button class="btn btn-mini btn-ok {$modifiers}">Right</button>
//   </p>
// </section>
// <section>
//   <p class="btn-group">
//     <button class="btn btn-mini btn-info {$modifiers}">Left</button>
//     <button class="btn btn-mini btn-info {$modifiers}">Middle</button>
//     <button class="btn btn-mini btn-info selected {$modifiers}">Middle</button>
//     <button class="btn btn-mini btn-info {$modifiers}">Right</button>
//   </p>
// </section>
// <section>
//   <p class="btn-group">
//     <button class="btn btn-mini btn-danger {$modifiers}">Left</button>
//     <button class="btn btn-mini btn-danger {$modifiers}">Middle</button>
//     <button class="btn btn-mini btn-danger {$modifiers}">Middle</button>
//     <button class="btn btn-mini btn-danger selected {$modifiers}">Right</button>
//   </p>
// </section>
//
// Styleguide 2.5.2

// Group Link Buttons
//
// Combine link buttons into one group.
//
// Markup:
// <section>
//   <p class="btn-group">
//     <button class="btn-link {$modifiers}">Left</button>
//     <button class="btn-link {$modifiers}">Middle</button>
//     <button class="btn-link {$modifiers}">Middle</button>
//     <button class="btn-link {$modifiers}">Right</button>
//   </p>
// </section>
//
// Styleguide 2.5.3

// Group Outline Buttons
//
// Combine outline buttons into one group.
//
// Markup:
// <section>
//   <p class="btn-group">
//     <button class="btn-outline {$modifiers}">Left</button>
//     <button class="btn-outline selected {$modifiers}">Middle</button>
//     <button class="btn-outline {$modifiers}">Middle</button>
//     <button class="btn-outline {$modifiers}">Right</button>
//   </p>
// </section>
//
// Styleguide 2.5.4

.btn-group
  display inline-block
  vertical-align middle

  .btn
  .btn-link
  .btn-outline
    float left
    border-radius 0
    margin-left -1px
    position relative // 1

  .btn:first-child
  .btn-link:first-child
  .btn-outline:first-child
    margin-left 0
    border-top-left-radius $border-radius
    border-bottom-left-radius $border-radius

  .btn:last-child
  .btn-link:last-child
  .btn-outline:last-child
    border-top-right-radius $border-radius
    border-bottom-right-radius $border-radius

  // Let right border visible which covered by next button
  .btn:hover
  .btn-link:hover
  .btn-outline:hover
  .btn:focus
  .btn-link:focus
  .btn:active
  .btn-link:active
    z-index 1 // 2
  
  // Left side hightlight by box-shadow by default
  .btn
    $hightlight-color =      $$translucent($translucent-white, 15)

    $$left-inner-shadow(1, 0, $hightlight-color)

  // Cancel out left hightlight when button hovered
  .btn:first-child
    $$left-inner-shadow(0, 0, transparent)
    
  // Cancel out left hightlight for first element
  .btn:hover
    $$left-inner-shadow(0, 0, transparent)

  // Active state when child button was pressed with heavy inner box shadow
  .btn:active
  .btn.selected
    $$top-inner-shadow(3, 6)
    
    // hidden right border
    border-right-color $$translucent($translucent-black, 30)

  // Decrease shadow for mini-button
  .btn-mini:active
  .btn-mini.selected
    $$top-inner-shadow(0, 6)
