// Mini Button
//
// Smaller size than normal button style.
// Use modifier class `.btn-min`.
//
// Markup:
// <a href="#" class="btn btn-mini {$modifiers}">a.btn.btn-mini</a>
// <button class="btn btn-mini {$modifiers}">button.btn.btn-mini</button>
// <input type="button" class="btn btn-mini {$modifiers}" value="input.btn.btn-mini">
// 
// :hover                    - **hover** style of `.btn-mini`
// :active                   - **active** style of `.btn-mini`
// :focus                    - **focus** style of `.btn-mini`
// :disabled                 - **disabled** style of `.btn-mini`
// .selected                 - **selected** style
//
// Styleguide 2.1.5
.btn-mini
  padding-top 0
  padding-bottom 0