// Text align
//
// **Global Modifers:**
//
// + `left`    Text align **left**.
// + `right`   Text align **right**.
// + `center`  Text align **center**.
// + `justify` Text align **justify**.
//
// Markup:
// <div class="center">
//   <span>如果你还没忘记 Viaweb 的旧事，你可能会觉得我们这么说听上去很奇怪，因为那时我们总是宣布将有新版本推出。这只是公关伎俩啦， 我们知道媒体喜欢听到版本号。如果你发布一个大的版本更新 （版本号的第一位数字发生变动），他们就会以大篇幅报道；如果你发布一个小的版本更新 （版本号小数点后发生变化），它们最多只用一段话提一下。</span>
// </div>
//
// Styleguide 3.4.5
.left
  text-align left !important

.right
  text-align right !important

.center
  text-align center !important

.justify
  text-align justify !important
