// BFC
//
// **Global Modifiers:**
//
// + `bfc-hidden` Use `overflow:hidden` create bfc.
// + `bfc-display` Use `display:inline-block` create bfc.
//
// Markup:
// <div class="box a-color-heavy bfc-hidden">
//   <span class="btn basis push-top push-bottom">按钮</span>
// </div>
//
// Styleguide 3.4.18
.bfc-hidden
  overflow hidden !important

.bfc-display
  display inline-block !important