// Indent
//
// **Global Modifiers:**
//
// + `indent`            Indent **left** and **right** side.
// + `indent-left`       Indent **left** side.
// + `indent-left-2x`    Indent **left** double horizontal gaps.
// + `indent-left-3x`    Indent **left** triple horizontal gaps.
// + `indent-left-col`   Indent **left** one column.
// + `indent-left-2col`  Indent **left** double columns.
// + `indent-right`      Indent **right** side.
// + `indent-right-2x`   Indent **right** double horizontal gaps.
// + `indent-right-3x`   Indent **right** triple horizontal gaps.
// + `indent-right-col`  Indent **right** one column.
// + `indent-right-2col` Indent **right** double columns.
//
//
// Markup:
// <input type="text" class="textfield basis-static indent-left">
//
// Styleguide 3.4.7
.indent
  padding-left $gap-horizontal !important
  padding-right @padding-left

.indent-left
  padding-left $gap-horizontal !important

.indent-left-2x
  padding-left $gap-horizontal * 2 !important

.indent-left-3x
  padding-left $gap-horizontal * 3 !important

.indent-left-col
  padding-left 20% !important

.indent-left-2col
  padding-left 40% !important

.indent-right
  padding-right $gap-horizontal !important

.indent-right-2x
  padding-right $gap-horizontal * 2 !important

.indent-right-3x
  padding-right $gap-horizontal * 3 !important

.indent-right-col
  padding-right 20% !important

.indent-right-2col
  padding-right 40% !important