// UI
//
// **Color:**
//
// + `.ui-black`
// + `.ui-basis`
// + `.ui-info`
// + `.ui-safe`
// + `.ui-danger`
// + `.ui-warn`
//
//
// **Stylize:**
//
// + `.ui-text` Button as ordinary text.
// + `.ui-link` Button as link.
//
// Styleguide 5.1.2
.btn
  outline 0
  font-size $te
  font-weight bold
  line-height $tf-height
  border solid $bd-width
  text-align center

  &.ui-black
  &.ui-basis
  &.ui-safe
  &.ui-danger
  &.ui-info
  &.ui-warn
  &.ui-link
    border-radius $bd-radius

  &.ui-black
    @extend $ui-black-static

  &.ui-basis
    @extend $ui-basis-static

  &.ui-info
    @extend $ui-info-static

  &.ui-safe
    @extend $ui-safe-static

  &.ui-danger
    @extend $ui-danger-static

  &.ui-warn
    @extend $ui-warn-static

  &.ui-text
  &.ui-link
    border-color transparent
    background-color transparent
    background-image none

  &.ui-link
    color $te-safe
    text-decoration underline
